In [47]:
import pandas as pd
from datetime import datetime

raw_bbmp_data = 'bbmp_aggregated_profiles.csv'
BBMP_data = pd.read_csv(raw_bbmp_data)

target_variables = ['time_string','pressure','salinity','temperature']
target_data = BBMP_data.loc[:,target_variables]

In [48]:
BBMP_data

,time_string,year_time,month_time,day_time,julian_day,scan,pressure,temperature,conductivity,oxygenVoltage,...,oxygenTemperature,oxygenSaturation,unknown2,altimeter,sigmaTheta2,VOLT,depth,fluorometer,par,flagArchaic
0,1999-05-05 12:48:21,1999,5,5,125,2623.0,1.0,7.7017,NaN,NaN,...,8.73118,NaN,0.17271,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1999-05-05 12:48:21,1999,5,5,125,2629.0,1.5,7.3615,NaN,NaN,...,8.69650,NaN,0.00506,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1999-05-05 12:48:21,1999,5,5,125,2635.0,2.0,7.2588,NaN,NaN,...,8.64157,NaN,0.03027,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1999-05-05 12:48:21,1999,5,5,125,2640.0,2.5,6.5228,NaN,NaN,...,8.57440,NaN,0.11686,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1999-05-05 12:48:21,1999,5,5,125,2644.0,3.0,5.3546,NaN,NaN,...,8.47961,NaN,0.15878,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177896,2024-05-15 11:58:09,2024,5,15,136,11325.0,68.0,2.3972,2.787766,1.6741,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177897,2024-05-15 11:58:09,2024,5,15,136,11357.0,68.5,2.3975,2.787812,1.6728,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177898,2024-05-15 11:58:09,2024,5,15,136,11388.0,69.0,2.3977,2.787852,1.6720,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177899,2024-05-15 11:58:09,2024,5,15,136,11421.0,69.5,2.3980,2.787898,1.6711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177900,2024-05-15 11:58:09,2024,5,15,136,11795.0,70.0,2.3992,2.788010,1.6696,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
date_format = "%Y-%m-%d %H:%M:%S"
dates_type_datetime = pd.to_datetime(target_data.iloc[:,0], format=date_format)

In [55]:
dates_type_datetime

0        1999-05-05 12:48:21
1        1999-05-05 12:48:21
2        1999-05-05 12:48:21
3        1999-05-05 12:48:21
4        1999-05-05 12:48:21
                 ...
177896   2024-05-15 11:58:09
177897   2024-05-15 11:58:09
177898   2024-05-15 11:58:09
177899   2024-05-15 11:58:09
177900   2024-05-15 11:58:09
Name: time_string, Length: 177901, dtype: datetime64[ns]

In [58]:
reference_dates = datetime(1970,1, 1)
days_from_reference = (dates_type_datetime - reference_dates).dt.days

In [59]:
target_data['date_from_1970'] = days_from_reference

In [61]:
target_data

                time_string  pressure  salinity  temperature  date_from_1970
0       1999-05-05 12:48:21       1.0   30.1508       7.7017           10716
1       1999-05-05 12:48:21       1.5   30.2376       7.3615           10716
2       1999-05-05 12:48:21       2.0   30.0978       7.2588           10716
3       1999-05-05 12:48:21       2.5   30.4275       6.5228           10716
4       1999-05-05 12:48:21       3.0   31.0144       5.3546           10716
...                     ...       ...       ...          ...             ...
177896  2024-05-15 11:58:09      68.0   30.9520       2.3972           19858
177897  2024-05-15 11:58:09      68.5   30.9520       2.3975           19858
177898  2024-05-15 11:58:09      69.0   30.9520       2.3977           19858
177899  2024-05-15 11:58:09      69.5   30.9521       2.3980           19858
177900  2024-05-15 11:58:09      70.0   30.9520       2.3992           19858

[177901 rows x 5 columns]

In [62]:
grouped = target_data.groupby('date_from_1970')

In [66]:
grouped.get_group(10716)

             time_string  pressure  salinity  temperature  date_from_1970
0    1999-05-05 12:48:21       1.0   30.1508       7.7017           10716
1    1999-05-05 12:48:21       1.5   30.2376       7.3615           10716
2    1999-05-05 12:48:21       2.0   30.0978       7.2588           10716
3    1999-05-05 12:48:21       2.5   30.4275       6.5228           10716
4    1999-05-05 12:48:21       3.0   31.0144       5.3546           10716
..                   ...       ...       ...          ...             ...
123  1999-05-05 12:48:21      62.5   30.9579       1.3404           10716
124  1999-05-05 12:48:21      63.0   30.9591       1.3404           10716
125  1999-05-05 12:48:21      63.5   30.9597       1.3409           10716
126  1999-05-05 12:48:21      64.0   30.9602       1.3415           10716
127  1999-05-05 12:48:21      64.5   30.9612       1.3429           10716

[128 rows x 5 columns]