In [ ]:
# Imports
import pytest
import sys
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import ETL_processes as ETL
import numpy as np

# Test Arguments
raw_data = 'raw_sample.csv'
raw_file_path = './tests/' + raw_data
deep = 60
shallow = [20, 35]
date_format ="%Y-%m-%d %H:%M"
variables = ['time_string',
            'pressure',
            'salinity',
            'temperature'
            ]

# Initialize class
testing_class = ETL.Intrusion_ETL(raw_file_path, variables, deep, shallow, date_format)

testing_class.get_target_data()
testing_class.group_data()

test_dict = testing_class.nested_groups
test_dataframe = test_dict[list(test_dict.keys())[0]]

# Check if dataframe already has the correct number of columns
count = 1
while len(test_dataframe) == len(testing_class.unique_depths):
    test_dataframe = test_dict[list(test_dict.keys())[count]]
    count += 1

normalized_dataframe = testing_class.normalize_depth_from_list(testing_class.unique_depths, test_dataframe)

Reading CSV file
Extrating target data
Updating target data and grouping by profile

ValueError: Length mismatch: Expected axis has 6 elements, new values have 5 elements

Connected to Python 3.12.3

In [ ]:
# Imports
import pytest
import sys
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import ETL_processes as ETL
import numpy as np

# Test Arguments
raw_data = 'raw_sample.csv'
raw_file_path = './tests/' + raw_data
deep = 60
shallow = [20, 35]
date_format ="%Y-%m-%d %H:%M"
variables = ['time_string',
            'pressure',
            'salinity',
            'temperature'
            ]

# Initialize class
testing_class = ETL.Intrusion_ETL(raw_file_path, variables, deep, shallow, date_format)

testing_class.get_target_data()
testing_class.group_data()

test_dict = testing_class.nested_groups
test_dataframe = test_dict[list(test_dict.keys())[0]]

# Check if dataframe already has the correct number of columns
count = 1
while len(test_dataframe) == len(testing_class.unique_depths):
    test_dataframe = test_dict[list(test_dict.keys())[count]]
    count += 1

normalized_dataframe = testing_class.normalize_depth_from_list(testing_class.unique_depths, test_dataframe)

Reading CSV file
Extrating target data
Updating target data and grouping by profile

In [ ]:
normalized_dataframe

             time_string pressure salinity temperature     Timestamp
0    2020-01-09 13:36:00      0.5  29.9361      4.1469  1578576960.0
1    2020-01-09 13:36:00      1.0  30.0652      4.1138  1578576960.0
2    2020-01-09 13:36:00      1.5  30.0935      4.1284  1578576960.0
3    2020-01-09 13:36:00      2.0  30.1091      4.1275  1578576960.0
4    2020-01-09 13:36:00      2.5  30.1218       4.125  1578576960.0
..                   ...      ...      ...         ...           ...
139  2020-01-09 13:36:00     70.0      NaN         NaN  1578576960.0
140  2020-01-09 13:36:00     70.5      NaN         NaN  1578576960.0
141  2020-01-09 13:36:00     71.0      NaN         NaN  1578576960.0
142  2020-01-09 13:36:00     71.5      NaN         NaN  1578576960.0
143  2020-01-09 13:36:00     72.0      NaN         NaN  1578576960.0

[144 rows x 5 columns]

In [ ]:
test_dataframe

            time_string  pressure  salinity  temperature     Timestamp
0   2020-01-09 13:36:00       0.5   29.9361       4.1469  1.578577e+09
1   2020-01-09 13:36:00       1.0   30.0652       4.1138  1.578577e+09
2   2020-01-09 13:36:00       1.5   30.0935       4.1284  1.578577e+09
3   2020-01-09 13:36:00       2.0   30.1091       4.1275  1.578577e+09
4   2020-01-09 13:36:00       2.5   30.1218       4.1250  1.578577e+09
..                  ...       ...       ...          ...           ...
115 2020-01-09 13:36:00      58.0   31.0068       3.8704  1.578577e+09
116 2020-01-09 13:36:00      58.5   31.0205       3.8568  1.578577e+09
117 2020-01-09 13:36:00      59.0   31.0116       3.8374  1.578577e+09
118 2020-01-09 13:36:00      59.5   31.0051       3.7907  1.578577e+09
119 2020-01-09 13:36:00      60.0   31.0141       3.7253  1.578577e+09

[120 rows x 5 columns]

In [ ]:
len(normalized_dataframe) == len(testing_class.unique_depths)

True

In [ ]:
for var in variables[1:]:
        truth = np.mean(list(test_dataframe.loc[:,var]))
        test_output = np.mean(list(normalized_dataframe.loc[:,var]))
        truth == test_output

In [ ]:
for var in variables[1:]:
        truth = np.mean(list(test_dataframe.loc[:,var]))
        test_output = np.mean(list(normalized_dataframe.loc[:,var]))
        print(truth == test_output)

False
False
False

In [ ]:
for var in variables[1:]:
        truth = np.nanmean(list(test_dataframe.loc[:,var]))
        test_output = np.nanmean(list(normalized_dataframe.loc[:,var]))
        print(truth == test_output)

False
True
True

In [ ]:
for var in variables[2:]:
        truth = np.nanmean(list(test_dataframe.loc[:,var]))
        test_output = np.nanmean(list(normalized_dataframe.loc[:,var]))
        print(truth == test_output)

True
True

In [ ]:
variables

['time_string', 'pressure', 'salinity', 'temperature']

In [ ]:
testing_class.normalized_data = normalized_dataframe

In [ ]:
test_not_dup_data = testing_class.normalized_data

In [ ]:
test_not_dup_data

             time_string pressure salinity temperature     Timestamp
0    2020-01-09 13:36:00      0.5  29.9361      4.1469  1578576960.0
1    2020-01-09 13:36:00      1.0  30.0652      4.1138  1578576960.0
2    2020-01-09 13:36:00      1.5  30.0935      4.1284  1578576960.0
3    2020-01-09 13:36:00      2.0  30.1091      4.1275  1578576960.0
4    2020-01-09 13:36:00      2.5  30.1218       4.125  1578576960.0
..                   ...      ...      ...         ...           ...
139  2020-01-09 13:36:00     70.0      NaN         NaN  1578576960.0
140  2020-01-09 13:36:00     70.5      NaN         NaN  1578576960.0
141  2020-01-09 13:36:00     71.0      NaN         NaN  1578576960.0
142  2020-01-09 13:36:00     71.5      NaN         NaN  1578576960.0
143  2020-01-09 13:36:00     72.0      NaN         NaN  1578576960.0

[144 rows x 5 columns]

In [ ]:
test_not_dup_data.loc[-5:-1,:]

Empty DataFrame
Columns: [time_string, pressure, salinity, temperature, Timestamp]
Index: []

In [ ]:
test_not_dup_data.loc[-1,:]

KeyError: -1

In [ ]:
test_not_dup_data.tail(5)

             time_string pressure salinity temperature     Timestamp
139  2020-01-09 13:36:00     70.0      NaN         NaN  1578576960.0
140  2020-01-09 13:36:00     70.5      NaN         NaN  1578576960.0
141  2020-01-09 13:36:00     71.0      NaN         NaN  1578576960.0
142  2020-01-09 13:36:00     71.5      NaN         NaN  1578576960.0
143  2020-01-09 13:36:00     72.0      NaN         NaN  1578576960.0

In [ ]:
pd.concat([test_not_dup_data, test_not_dup_data.tail(5)], ignore_index=True)

NameError: name 'pd' is not defined

In [ ]:
import pandas as pd 
pd.concat([test_not_dup_data, test_not_dup_data.tail(5)], ignore_index=True)

             time_string pressure salinity temperature     Timestamp
0    2020-01-09 13:36:00      0.5  29.9361      4.1469  1578576960.0
1    2020-01-09 13:36:00      1.0  30.0652      4.1138  1578576960.0
2    2020-01-09 13:36:00      1.5  30.0935      4.1284  1578576960.0
3    2020-01-09 13:36:00      2.0  30.1091      4.1275  1578576960.0
4    2020-01-09 13:36:00      2.5  30.1218       4.125  1578576960.0
..                   ...      ...      ...         ...           ...
144  2020-01-09 13:36:00     70.0      NaN         NaN  1578576960.0
145  2020-01-09 13:36:00     70.5      NaN         NaN  1578576960.0
146  2020-01-09 13:36:00     71.0      NaN         NaN  1578576960.0
147  2020-01-09 13:36:00     71.5      NaN         NaN  1578576960.0
148  2020-01-09 13:36:00     72.0      NaN         NaN  1578576960.0

[149 rows x 5 columns]

In [ ]:
test_dup_data = pd.concat([test_not_dup_data, test_not_dup_data.tail(5)], ignore_index=True)

In [ ]:
testing_class.check_duplicate_rows(test_dup_data)

            time_string  pressure  salinity  temperature     Timestamp
0   2020-01-09 13:36:00       0.5   29.9361       4.1469  1.578577e+09
1   2020-01-09 13:36:00       1.0   30.0652       4.1138  1.578577e+09
2   2020-01-09 13:36:00       1.5   30.0935       4.1284  1.578577e+09
3   2020-01-09 13:36:00       2.0   30.1091       4.1275  1.578577e+09
4   2020-01-09 13:36:00       2.5   30.1218       4.1250  1.578577e+09
..                  ...       ...       ...          ...           ...
139 2020-01-09 13:36:00      70.0       NaN          NaN  1.578577e+09
140 2020-01-09 13:36:00      70.5       NaN          NaN  1.578577e+09
141 2020-01-09 13:36:00      71.0       NaN          NaN  1.578577e+09
142 2020-01-09 13:36:00      71.5       NaN          NaN  1.578577e+09
143 2020-01-09 13:36:00      72.0       NaN          NaN  1.578577e+09

[144 rows x 5 columns]

In [ ]:
testing_class.check_duplicate_rows(test_dup_data) == test_not_dup_data

     time_string  pressure  salinity  temperature  Timestamp
0           True      True      True         True       True
1           True      True      True         True       True
2           True      True      True         True       True
3           True      True      True         True       True
4           True      True      True         True       True
..           ...       ...       ...          ...        ...
139         True      True     False        False       True
140         True      True     False        False       True
141         True      True     False        False       True
142         True      True     False        False       True
143         True      True     False        False       True

[144 rows x 5 columns]

In [ ]:
ll = testing_class.check_duplicate_rows(test_dup_data) == test_not_dup_data

In [ ]:
ll.tail(5)

     time_string  pressure  salinity  temperature  Timestamp
139         True      True     False        False       True
140         True      True     False        False       True
141         True      True     False        False       True
142         True      True     False        False       True
143         True      True     False        False       True

In [ ]:
ll.tail(9)

     time_string  pressure  salinity  temperature  Timestamp
135         True      True     False        False       True
136         True      True     False        False       True
137         True      True     False        False       True
138         True      True     False        False       True
139         True      True     False        False       True
140         True      True     False        False       True
141         True      True     False        False       True
142         True      True     False        False       True
143         True      True     False        False       True

In [ ]:
ll.tail(30)

     time_string  pressure  salinity  temperature  Timestamp
114         True      True      True         True       True
115         True      True      True         True       True
116         True      True      True         True       True
117         True      True      True         True       True
118         True      True      True         True       True
119         True      True      True         True       True
120         True      True     False        False       True
121         True      True     False        False       True
122         True      True     False        False       True
123         True      True     False        False       True
124         True      True     False        False       True
125         True      True     False        False       True
126         True      True     False        False       True
127         True      True     False        False       True
128         True      True     False        False       True
129         True      True     False        False       True
130         True      True     False        False       True
131         True      True     False        False       True
132         True      True     False        False       True
133         True      True     False        False       True
134         True      True     False        False       True
135         True      True     False        False       True
136         True      True     False        False       True
137         True      True     False        False       True
138         True      True     False        False       True
139         True      True     False        False       True
140         True      True     False        False       True
141         True      True     False        False       True
142         True      True     False        False       True
143         True      True     False        False       True

In [ ]:
testing_class.check_duplicate_rows(test_dup_data).tail(30)

            time_string  pressure  salinity  temperature     Timestamp
114 2020-01-09 13:36:00      57.5   30.9767       3.8972  1.578577e+09
115 2020-01-09 13:36:00      58.0   31.0068       3.8704  1.578577e+09
116 2020-01-09 13:36:00      58.5   31.0205       3.8568  1.578577e+09
117 2020-01-09 13:36:00      59.0   31.0116       3.8374  1.578577e+09
118 2020-01-09 13:36:00      59.5   31.0051       3.7907  1.578577e+09
119 2020-01-09 13:36:00      60.0   31.0141       3.7253  1.578577e+09
120 2020-01-09 13:36:00      60.5       NaN          NaN  1.578577e+09
121 2020-01-09 13:36:00      61.0       NaN          NaN  1.578577e+09
122 2020-01-09 13:36:00      61.5       NaN          NaN  1.578577e+09
123 2020-01-09 13:36:00      62.0       NaN          NaN  1.578577e+09
124 2020-01-09 13:36:00      62.5       NaN          NaN  1.578577e+09
125 2020-01-09 13:36:00      63.0       NaN          NaN  1.578577e+09
126 2020-01-09 13:36:00      63.5       NaN          NaN  1.578577e+09
127 2020-01-09 13:36:00      64.0       NaN          NaN  1.578577e+09
128 2020-01-09 13:36:00      64.5       NaN          NaN  1.578577e+09
129 2020-01-09 13:36:00      65.0       NaN          NaN  1.578577e+09
130 2020-01-09 13:36:00      65.5       NaN          NaN  1.578577e+09
131 2020-01-09 13:36:00      66.0       NaN          NaN  1.578577e+09
132 2020-01-09 13:36:00      66.5       NaN          NaN  1.578577e+09
133 2020-01-09 13:36:00      67.0       NaN          NaN  1.578577e+09
134 2020-01-09 13:36:00      67.5       NaN          NaN  1.578577e+09
135 2020-01-09 13:36:00      68.0       NaN          NaN  1.578577e+09
136 2020-01-09 13:36:00      68.5       NaN          NaN  1.578577e+09
137 2020-01-09 13:36:00      69.0       NaN          NaN  1.578577e+09
138 2020-01-09 13:36:00      69.5       NaN          NaN  1.578577e+09
139 2020-01-09 13:36:00      70.0       NaN          NaN  1.578577e+09
140 2020-01-09 13:36:00      70.5       NaN          NaN  1.578577e+09
141 2020-01-09 13:36:00      71.0       NaN          NaN  1.578577e+09
142 2020-01-09 13:36:00      71.5       NaN          NaN  1.578577e+09
143 2020-01-09 13:36:00      72.0       NaN          NaN  1.578577e+09

In [ ]:
checked_data = testing_class.check_duplicate_rows(test_dup_data)

In [ ]:
for var in variables[1:]:
        truth = np.nanmean(list(test_not_dup_data.loc[:,var]))
        test_output = np.nanmean(list(checked_data.loc[:,var]))
        print(truth == test_output)

True
True
True

In [ ]:
variables[2]

'salinity'

In [ ]:
testing_class.normalize_length_data()
var_name_test = variables[2]
all_columns_test = testing_class.separate_target_variables(var_name_test)

Nomalizing depths and filling with NaN
Creating Target Variable Matrices

In [ ]:
all_columns_test

array([[29.9361, 27.5332, 27.1737, ..., 29.5282,     nan, 29.1427],
       [30.0652, 28.483 , 29.4271, ..., 29.5198, 29.4523, 29.1863],
       [30.0935, 29.1041, 29.4377, ..., 29.5275, 29.4545, 29.3564],
       ...,
       [    nan,     nan,     nan, ...,     nan, 30.9195, 30.9162],
       [    nan,     nan,     nan, ...,     nan,     nan,     nan],
       [    nan,     nan,     nan, ...,     nan,     nan,     nan]])

In [ ]:
np.nanmean(list(testing_class.raw_data.loc[:,var]))

5.485985143513203

In [ ]:
np.nanmean(list(testing_class.raw_data.loc[:,var_name_test]))

30.680626027554535

In [ ]:
np.nanmean(all_columns_test)

30.680626027554535

In [ ]:
head = [1 1 float('nan')]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-34-0c25c2a691fb>, line 1)

In [ ]:
head = [1, 1, float('nan')]

In [ ]:
head

[1, 1, nan]

In [ ]:
body = [float('nan'), 1, 1]

In [ ]:
body = [1, 1, 1]

In [ ]:
body = [float('nan'), 1, 1]

In [ ]:
body2 = [1, 1, 1]

In [ ]:
tail = [1, float('nan'), 1]

In [ ]:
data = [head, body, body2, tail]

In [ ]:
data

[[1, 1, nan], [nan, 1, 1], [1, 1, 1], [1, nan, 1]]

In [ ]:
pd.DataFrame(data)

     0    1    2
0  1.0  1.0  NaN
1  NaN  1.0  1.0
2  1.0  1.0  1.0
3  1.0  NaN  1.0

In [ ]:
# Imports
import pytest
import sys
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import ETL_processes as ETL
import numpy as np
import pandas as pd

# Test Arguments
raw_data = 'raw_sample.csv'
raw_file_path = './tests/' + raw_data
deep = 60
shallow = [20, 35]
date_format ="%Y-%m-%d %H:%M"
variables = ['time_string',
            'pressure',
            'salinity',
            'temperature'
            ]

# Initialize class
testing_class = ETL.Intrusion_ETL(raw_file_path, variables, deep, shallow, date_format)

testing_class.get_target_data()
testing_class.group_data()
testing_class.normalize_length_data()

Reading CSV file
Extrating target data
Updating target data and grouping by profile
Nomalizing depths and filling with NaN

In [ ]:
# Creating sample data for testing
head = [1, 1, float('nan')]
body = [float('nan'), 1, 1]
body2 = [1, 1, 1]
tail = [1, float('nan'), 1]
data = [head, body, body2, tail]
pandas_matrix = pd.DataFrame(data)

testing_class.interpolation_2D(pandas_matrix)

AttributeError: 'Intrusion_ETL' object has no attribute 'interpolation_2D'

Connected to Python 3.12.3

In [ ]:
# Imports
import pytest
import sys
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import ETL_processes as ETL
import numpy as np
import pandas as pd

# Test Arguments
raw_data = 'raw_sample.csv'
raw_file_path = './tests/' + raw_data
deep = 60
shallow = [20, 35]
date_format ="%Y-%m-%d %H:%M"
variables = ['time_string',
            'pressure',
            'salinity',
            'temperature'
            ]

# Initialize class
testing_class = ETL.Intrusion_ETL(raw_file_path, variables, deep, shallow, date_format)

testing_class.get_target_data()
testing_class.group_data()
testing_class.normalize_length_data()

Reading CSV file
Extrating target data
Updating target data and grouping by profile
Nomalizing depths and filling with NaN

In [ ]:
# Creating sample data for testing
head = [1, 1, float('nan')]
body = [float('nan'), 1, 1]
body2 = [1, 1, 1]
tail = [1, float('nan'), 1]
data = [head, body, body2, tail]
pandas_matrix = pd.DataFrame(data)

testing_class.interpolation_2D(pandas_matrix)

In [ ]:
testing_class.interpolated_data

     0    1    2
0  1.0  1.0  1.0
1  1.0  1.0  1.0
2  1.0  1.0  1.0
3  1.0  1.0  1.0

In [ ]:
np.nanmean(testing_class.interpolated_data.to_numpy)

TypeError: unsupported operand type(s) for /: 'method' and 'int'

In [ ]:
testing_class.interpolated_data.to_numpy

<bound method DataFrame.to_numpy of      0    1    2
0  1.0  1.0  1.0
1  1.0  1.0  1.0
2  1.0  1.0  1.0
3  1.0  1.0  1.0>

In [ ]:
np.nanmean(testing_class.interpolated_data)

1.0

In [ ]:
testing_class.discrete_diff_bydate()

In [ ]:
self.interpolated_diff_data

NameError: name 'self' is not defined

In [ ]:
testing_class.interpolated_diff_data

    0   1
0 NaN NaN
1 NaN NaN
2 NaN NaN
3 NaN NaN

In [ ]:
# Imports
import pytest
import sys
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import Intrusion_analysis as INT
import numpy as np
import pandas as pd

# Test Arguments
file_name = 'BBMP_salected_data0.pkl'
path_data = './data/PROCESSED/'
file_dirpath = path_data + file_name

# Initialize class
testing_class = INT.Intrusions(file_dirpath)

------ Importing Data

Connected to Python 3.12.3

In [ ]:
import sys
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import Intrusion_analysis as INT
import numpy as np
import pandas as pd

# Test Arguments
file_name = 'BBMP_salected_data0.pkl'
path_data = './data/PROCESSED/'
file_dirpath = path_data + file_name

# Initialize class
testing_class = INT.Intrusions(file_dirpath)
yearly_profiles = testing_class.separate_yearly_profiles()

------ Importing Data

In [ ]:
yearly_profiles

{'Yearly Temp Profile': {1999: array([[    nan,     nan,     nan, ...,     nan,     nan,     nan],
         [7.7017 , 7.5877 , 9.5133 , ..., 5.8117 , 5.3352 , 4.4442 ],
         [7.5316 , 7.5819 , 9.20255, ..., 5.96915, 5.39205, 4.43295],
         ...,
         [1.3429 , 1.3683 , 1.4687 , ..., 6.0291 , 6.0756 , 6.0336 ],
         [1.3429 , 1.3683 , 1.4687 , ..., 6.0291 , 6.0756 , 6.0336 ],
         [1.3429 , 1.3683 , 1.4687 , ..., 6.0291 , 6.0756 , 6.0336 ]]),
  2000: array([[       nan,        nan,        nan, ..., 1.60026256, 1.58867225,
          1.57708194],
         [5.2375    , 2.6123    , 3.3276    , ..., 6.0673    , 5.8651    ,
          3.1464    ],
         [5.2553    , 2.6222    , 3.3276    , ..., 6.06705   , 5.8643    ,
          3.0782    ],
         ...,
         [5.9878    , 4.1687    , 6.0557    , ..., 4.2306    , 4.2963    ,
          4.2277    ],
         [5.9878    , 4.1687    , 6.0557    , ..., 4.2306    , 4.2963    ,
          4.2277    ],
         [5.9878    , 4.1687    , 6.0557    , ..., 4.2306    , 4.2963    ,
          4.2277    ]]),
  2001: array([[1.56549163, 1.55390132, 1.54231101, ..., 0.80053128, 0.78894097,
          0.77735066],
         [3.5671    , 2.9266    , 1.6761    , ..., 6.0566    , 5.6959    ,
          4.9698    ],
         [3.56115   , 2.9281    , 1.76515   , ..., 6.0588    , 5.69555   ,
          4.9766    ],
         ...,
         [4.1203    , 4.1424    , 4.1795    , ..., 5.7461    , 5.7139    ,
          5.7126    ],
         [4.1203    , 4.1424    , 4.1795    , ..., 5.7461    , 5.7139    ,
          5.7126    ],
         [4.1203    , 4.1424    , 4.1795    , ..., 5.7461    , 5.7139    ,
          5.7126    ]]),
  2002: array([[0.76576035, 0.75417004, 0.74257974, ..., 0.19783524, 0.18624493,
          0.17465463],
         [4.365     , 3.7602    , 3.5494    , ..., 4.309     , 3.5213    ,
          2.7873    ],
         [4.380425  , 3.78425   , 3.55215   , ..., 4.3105    , 3.58285   ,
          2.79745   ],
         ...,
         [5.6992    , 5.6822    , 5.7332    , ..., 4.9539    , 4.9371    ,
          4.9291    ],
         [5.6992    , 5.6822    , 5.7332    , ..., 4.9539    , 4.9371    ,
          4.9291    ],
         [5.6992    , 5.6822    , 5.7332    , ..., 4.9539    , 4.9371    ,
          4.9291    ]]),
  2003: array([[0.16306432, 0.15147401, 0.1398837 , ..., 1.30713088, 1.33088235,
          1.35463382],
         [2.1951    , 0.9422    , 1.3895    , ..., 4.2581    , 3.1597    ,
          3.7766    ],
         [2.20955   , 1.03225   , 1.40785   , ..., 4.2575    , 3.2018    ,
          3.8167    ],
         ...,
         [4.9264    , 4.9213    , 2.038     , ..., 3.9225    , 3.9809    ,
          4.0197    ],
         [4.9264    , 4.9213    , 2.038     , ..., 3.9225    , 3.9809    ,
          4.0197    ],
         [4.9264    , 4.9213    , 2.038     , ..., 3.9225    , 3.9809    ,
          4.0197    ]]),
  2004: array([[1.37838529, 1.40213676, 1.42588824, ..., 3.15974559, 3.18349706,
          3.20724853],
         [2.5533    , 1.795     , 1.5525    , ..., 6.1969    , 5.112     ,
          4.7384    ],
         [2.5562    , 1.79505   , 1.5567    , ..., 6.19965   , 5.1135    ,
          4.76555   ],
         ...,
         [4.0168    , 4.0144    , 1.6694    , ..., 1.8611    , 1.895     ,
          1.9856    ],
         [4.0168    , 4.0144    , 1.6694    , ..., 1.8611    , 1.895     ,
          1.9856    ],
         [4.0168    , 4.0144    , 1.6694    , ..., 1.8611    , 1.895     ,
          1.9856    ]]),
  2005: array([[3.231   , 3.213144, 3.195288, ..., 2.391768, 2.373912, 2.356056],
         [3.195   , 2.2922  , 0.3424  , ..., 5.3628  , 2.6568  , 3.4986  ],
         [3.20095 , 2.36935 , 0.45035 , ..., 5.3771  , 2.76745 , 3.50065 ],
         ...,
         [2.2353  , 2.2302  , 2.5005  , ..., 4.7258  , 4.658   , 2.1446  ],
         [2.2353  , 2.2302  , 2.5005  , ..., 4.7258  , 4.658   , 2.1446  ],
         [2.2353  , 2.2302  , 2.5005  , ..., 4.7258  , 4.658   , 2.1446  ]]),
  2006: array([[2.3382 , 2.8148 , 0.6525 , ..., 7.0964 , 9.286  , 7.3957 ],
         [2.4146 , 2.82   , 3.4212 , ..., 7.0934 , 9.1188 , 7.6804 ],
         [2.41585, 2.82725, 3.41865, ..., 7.09295, 8.9905 , 7.92675],
         ...,
         [4.7351 , 4.6554 , 4.7297 , ..., 5.9086 , 5.886  , 5.8516 ],
         [4.7351 , 4.6554 , 4.7297 , ..., 5.9086 , 5.886  , 5.8516 ],
         [4.7351 , 4.6554 , 4.7297 , ..., 5.9086 , 5.886  , 5.8516 ]]),
  2007: array([[4.0786 , 4.1631 , 3.6352 , ..., 6.3438 , 3.3607 , 2.1593 ],
         [3.9269 , 4.8545 , 3.6617 , ..., 6.1885 , 3.3414 , 2.1313 ],
         [3.9465 , 4.8713 , 3.66085, ..., 6.63135, 3.337  , 2.192  ],
         ...,
         [5.8407 , 5.7478 , 5.8776 , ..., 2.8821 , 4.3755 , 4.2972 ],
         [5.8407 , 5.7478 , 5.8776 , ..., 2.8821 , 4.3755 , 4.2972 ],
         [5.8407 , 5.7478 , 5.8776 , ..., 2.8821 , 4.3755 , 4.2972 ]]),
  2008: array([[1.5715    , 2.387     , 2.7444    , ..., 6.103     , 4.7948    ,
          3.76996667],
         [1.6173    , 2.1288    , 2.6984    , ..., 6.3362    , 4.9218    ,
          4.543     ],
         [1.65855   , 2.04805   , 2.6977    , ..., 6.3063    , 5.01495   ,
          4.5457    ],
         ...,
         [4.254     , 4.2433    , 4.229     , ..., 4.1534    , 4.1345    ,
          4.1544    ],
         [4.254     , 4.2433    , 4.229     , ..., 4.1534    , 4.1345    ,
          4.1544    ],
         [4.254     , 4.2433    , 4.229     , ..., 4.1534    , 4.1345    ,
          4.1544    ]]),
  2009: array([[2.74513333, 1.7203    , 1.5981    , ..., 7.4168    , 6.3267    ,
          5.1552    ],
         [2.7444    , 1.7971    , 1.6995    , ..., 7.42785   , 6.3365    ,
          5.1548    ],
         [2.7435    , 2.0136    , 1.73725   , ..., 7.44605   , 6.3738    ,
          5.1561    ],
         ...,
         [4.2161    , 4.2841    , 4.3224    , ..., 3.0555    , 3.1539    ,
          3.2177    ],
         [4.2161    , 4.2841    , 4.3224    , ..., 3.0555    , 3.1539    ,
          3.2177    ],
         [4.2161    , 4.2841    , 4.3224    , ..., 3.0555    , 3.1539    ,
          3.2177    ]]),
  2010: array([[3.2388, 1.923 , 2.6542, ..., 7.2981, 7.0003, 7.8011],
         [3.2275, 1.9265, 2.6618, ..., 7.2932, 7.2972, 7.8131],
         [3.2275, 1.9411, 2.6521, ..., 7.3245, 7.4013, 7.8096],
         ...,
         [3.4711, 3.6926, 3.8266, ..., 6.2595, 6.2465, 6.2222],
         [3.4711, 3.6926, 3.8266, ..., 6.2595, 6.2465, 6.2222],
         [3.4711, 3.6926, 3.8266, ..., 6.2595, 6.2465, 6.2222]]),
  2011: array([[4.7002 , 5.0842 , 3.76315, ..., 7.7845 , 6.68325, 5.582  ],
         [4.7085 , 5.1179 , 3.6252 , ..., 7.8163 , 7.1131 , 5.5864 ],
         [4.71345, 5.12   , 3.6347 , ..., 7.81965, 7.1153 , 5.58215],
         ...,
         [6.1761 , 6.1635 , 6.156  , ..., 3.8767 , 4.099  , 4.3308 ],
         [6.1761 , 6.1635 , 6.156  , ..., 3.8767 , 4.099  , 4.3308 ],
         [6.1761 , 6.1635 , 6.156  , ..., 3.8767 , 4.099  , 4.3308 ]]),
  2012: array([[4.89876667, 4.21553333, 3.5323    , ..., 7.5475    , 6.1589    ,
          6.4683    ],
         [4.89583333, 4.20526667, 3.5147    , ..., 7.5482    , 6.6768    ,
          6.4656    ],
         [4.89346667, 4.20478333, 3.5161    , ..., 7.5475    , 6.99385   ,
          6.4703    ],
         ...,
         [5.4041    , 5.2774    , 5.2562    , ..., 7.1753    , 7.149     ,
          7.1237    ],
         [5.4041    , 5.2774    , 5.2562    , ..., 7.1753    , 7.149     ,
          7.1237    ],
         [5.4041    , 5.2774    , 5.2562    , ..., 7.1753    , 7.149     ,
          7.1237    ]]),
  2013: array([[4.4998 , 3.7189 , 3.3803 , ..., 5.50125, 4.4414 , 3.5494 ],
         [4.5203 , 3.7405 , 4.5718 , ..., 4.4703 , 4.8234 , 3.5663 ],
         [4.53145, 3.74445, 4.58155, ..., 4.55585, 4.849  , 3.56955],
         ...,
         [7.0992 , 5.8991 , 5.9111 , ..., 5.0964 , 5.2215 , 5.1205 ],
         [7.0992 , 5.8991 , 5.9111 , ..., 5.0964 , 5.2215 , 5.1205 ],
         [7.0992 , 5.8991 , 5.9111 , ..., 5.0964 , 5.2215 , 5.1205 ]]),
  2014: array([[3.57735 , 3.6053  , 0.9896  , ..., 7.3124  , 5.5629  , 4.5765  ],
         [1.7707  , 3.6047  , 1.0389  , ..., 6.6915  , 5.5452  , 4.5793  ],
         [1.7814  , 3.5781  , 1.0517  , ..., 6.70045 , 5.5429  , 4.579575],
         ...,
         [5.1732  , 5.1988  , 5.2179  , ..., 4.4825  , 4.7634  , 4.797   ],
         [5.1732  , 5.1988  , 5.2179  , ..., 4.4825  , 4.7634  , 4.797   ],
         [5.1732  , 5.1988  , 5.2179  , ..., 4.4825  , 4.7634  , 4.797   ]]),
  2015: array([[3.5901 , 3.59775, 3.6054 , ..., 5.763  , 5.4964 , 5.2298 ],
         [3.6134 , 3.1378 , 3.6008 , ..., 6.0186 , 7.4097 , 6.937  ],
         [3.61625, 3.142  , 3.60425, ..., 6.36145, 7.4213 , 6.94415],
         ...,
         [5.1092 , 5.3018 , 5.1454 , ..., 1.8443 , 1.895  , 1.97   ],
         [5.1092 , 5.3018 , 5.1454 , ..., 1.8443 , 1.895  , 1.97   ],
         [5.1092 , 5.3018 , 5.1454 , ..., 1.8443 , 1.895  , 1.97   ]]),
  2016: array([[4.9632 , 3.1321 , 3.5223 , ..., 6.2677 , 5.6969 , 3.048  ],
         [4.6826 , 3.3513 , 3.5142 , ..., 6.2965 , 5.9933 , 3.615  ],
         [4.70865, 3.5507 , 3.51465, ..., 6.29975, 6.0374 , 3.94275],
         ...,
         [2.1208 , 2.285  , 2.3166 , ..., 5.4746 , 5.4489 , 5.4229 ],
         [2.1208 , 2.285  , 2.3166 , ..., 5.4746 , 5.4489 , 5.4229 ],
         [2.1208 , 2.285  , 2.3166 , ..., 5.4746 , 5.4489 , 5.4229 ]]),
  2017: array([[4.2263 , 2.90065, 1.575  , ..., 8.5335 , 6.6109 , 5.582  ],
         [4.2256 , 3.2514 , 1.8021 , ..., 8.5475 , 6.6103 , 5.5246 ],
         [4.22265, 3.2506 , 1.8995 , ..., 8.54805, 6.60865, 5.5823 ],
         ...,
         [5.3976 , 5.3878 , 5.3833 , ..., 3.6581 , 3.6415 , 5.8123 ],
         [5.3976 , 5.3878 , 5.3833 , ..., 3.6581 , 3.6415 , 5.8123 ],
         [5.3976 , 5.3878 , 5.3833 , ..., 3.6581 , 3.6415 , 5.8123 ]]),
  2018: array([[1.7046 , 3.0867 , 2.85015, ..., 3.8394 , 2.3777 , 3.153  ],
         [2.5431 , 3.1215 , 2.5945 , ..., 3.8567 , 2.3309 , 3.1523 ],
         [2.5135 , 3.12075, 2.68675, ..., 3.8605 , 2.331  , 3.1567 ],
         ...,
         [4.6867 , 4.7111 , 4.6984 , ..., 4.8531 , 4.857  , 4.8893 ],
         [4.6867 , 4.7111 , 4.6984 , ..., 4.8531 , 4.857  , 4.8893 ],
         [4.6867 , 4.7111 , 4.6984 , ..., 4.8531 , 4.857  , 4.8893 ]]),
  2019: array([[2.2647 , 1.8582 , 1.075  , ..., 5.5947 , 6.7798 , 4.4032 ],
         [2.1872 , 1.8807 , 1.0809 , ..., 6.1381 , 6.851  , 4.3977 ],
         [2.1484 , 1.88455, 1.0788 , ..., 6.28055, 6.8486 , 4.4058 ],
         ...,
         [4.9348 , 4.903  , 4.9197 , ..., 2.3278 , 2.4559 , 2.7492 ],
         [4.9348 , 4.903  , 4.9197 , ..., 2.3278 , 2.4559 , 2.7492 ],
         [4.9348 , 4.903  , 4.9197 , ..., 2.3278 , 2.4559 , 2.7492 ]]),
  2020: array([[4.1469 , 2.4526 , 1.3869 , ..., 7.4376 , 6.8946 , 6.1303 ],
         [4.1138 , 2.5911 , 1.483  , ..., 7.5695 , 6.9022 , 6.1272 ],
         [4.1211 , 2.8919 , 1.52595, ..., 7.64245, 6.9072 , 6.1315 ],
         ...,
         [3.7253 , 3.5303 , 3.7098 , ..., 4.9349 , 4.9173 , 4.9001 ],
         [3.7253 , 3.5303 , 3.7098 , ..., 4.9349 , 4.9173 , 4.9001 ],
         [3.7253 , 3.5303 , 3.7098 , ..., 4.9349 , 4.9173 , 4.9001 ]]),
  2021: array([[5.1652    , 4.4071    , 3.5749    , ..., 7.16817778, 6.43846667,
          5.70875556],
         [5.1663    , 4.4132    , 3.4832    , ..., 7.4685    , 7.3409    ,
          4.99      ],
         [5.16795   , 4.39515   , 3.5447    , ..., 7.60215   , 7.3304    ,
          5.09095   ],
         ...,
         [4.8893    , 4.8888    , 4.8485    , ..., 4.7905    , 4.9153    ,
          5.4089    ],
         [4.8893    , 4.8888    , 4.8485    , ..., 4.7905    , 4.9153    ,
          5.4089    ],
         [4.8893    , 4.8888    , 4.8485    , ..., 4.7905    , 4.9153    ,
          5.4089    ]]),
  2022: array([[4.97904444, 4.24933333, 3.51962222, ..., 6.2676    , 5.7677    ,
          5.466     ],
         [5.102     , 2.7423    , 1.6557    , ..., 6.7947    , 5.7764    ,
          5.4628    ],
         [5.12855   , 2.75285   , 1.647     , ..., 6.7947    , 5.7766    ,
          5.4639    ],
         ...,
         [5.6386    , 5.888     , 6.0227    , ..., 8.0802    , 7.9985    ,
          7.9428    ],
         [5.6386    , 5.888     , 6.0227    , ..., 8.0802    , 7.9985    ,
          7.9428    ],
         [5.6386    , 5.888     , 6.0227    , ..., 8.0802    , 7.9985    ,
          7.9428    ]]),
  2023: array([[5.6177 , 5.6674 , 5.5222 , ..., 6.1743 , 6.4904 , 6.8476 ],
         [5.6178 , 5.6849 , 5.0943 , ..., 6.1598 , 6.5675 , 6.834  ],
         [5.61815, 5.70555, 5.3145 , ..., 6.16115, 6.5775 , 6.83245],
         ...,
         [7.8626 , 7.8435 , 7.8222 , ..., 4.5403 , 4.6233 , 4.6569 ],
         [7.8626 , 7.8435 , 7.8222 , ..., 4.5403 , 4.6233 , 4.6569 ],
         [7.8626 , 7.8435 , 7.8222 , ..., 4.5403 , 4.6233 , 4.6569 ]]),
  2024: array([[ 3.0542 ,  3.6812 ,  3.4967 , ..., 14.531  , 14.71625, 14.9015 ],
         [ 3.0235 ,  3.6828 ,  3.5272 , ..., 14.5433 , 15.9239 , 14.7769 ],
         [ 3.10455,  3.6817 ,  3.58745, ..., 14.53225, 15.8892 , 14.6715 ],
         ...,
         [ 4.7488 ,  4.8052 ,  4.8945 , ...,  2.4527 ,  2.467  ,  2.4811 ],
         [ 4.7488 ,  4.8052 ,  4.8945 , ...,  2.4527 ,  2.467  ,  2.4811 ],
         [ 4.7488 ,  4.8052 ,  4.8945 , ...,  2.4527 ,  2.467  ,  2.4811 ]])},
 'Yearly Salt Profile': {1999: array([[     nan,      nan,      nan, ...,      nan,      nan,      nan],
         [30.1508 , 29.8229 , 29.8854 , ..., 28.729  , 28.6731 , 29.7605 ],
         [30.1942 , 29.82585, 29.9918 , ..., 28.77365, 28.8137 , 29.80675],
         ...,
         [30.9612 , 30.9599 , 30.9212 , ..., 31.0113 , 31.533  , 30.8661 ],
         [30.9612 , 30.9599 , 30.9212 , ..., 31.0113 , 31.533  , 30.8661 ],
         [30.9612 , 30.9599 , 30.9212 , ..., 31.0113 , 31.533  , 30.8661 ]]),
  2000: array([[        nan,         nan,         nan, ..., 23.99644581,
          24.04030925, 24.08417269],
         [29.5849    , 29.4084    , 29.7324    , ..., 29.45      ,
          28.8663    , 28.0178    ],
         [29.6539    , 29.4098    , 29.73385   , ..., 29.45015   ,
          28.87805   , 28.2633    ],
         ...,
         [31.5669    , 30.9982    , 31.4831    , ..., 31.3362    ,
          30.1011    , 31.3764    ],
         [31.5669    , 30.9982    , 31.4831    , ..., 31.3362    ,
          30.1011    , 31.3764    ],
         [31.5669    , 30.9982    , 31.4831    , ..., 31.3362    ,
          30.1011    , 31.3764    ]]),
  2001: array([[24.12803612, 24.17189956, 24.215763  , ..., 27.02302291,
          27.06688634, 27.11074978],
         [29.0347    , 29.3561    , 29.9748    , ..., 30.0453    ,
          30.2342    , 30.0538    ],
         [29.0144    , 29.3514    , 29.996     , ..., 30.0453    ,
          30.23555   , 30.05935   ],
         ...,
         [30.9712    , 31.3207    , 30.1241    , ..., 31.5306    ,
          31.531     , 31.5219    ],
         [30.9712    , 31.3207    , 30.1241    , ..., 31.5306    ,
          31.531     , 31.5219    ],
         [30.9712    , 31.3207    , 30.1241    , ..., 31.5306    ,
          31.531     , 31.5219    ]]),
  2002: array([[27.15461322, 27.19847665, 27.24234009, ..., 29.30392159,
          29.34778502, 29.39164846],
         [30.13865   , 30.2235    , 29.3693    , ..., 30.1629    ,
          29.1046    , 29.8716    ],
         [30.123725  , 30.1881    , 29.37715   , ..., 30.1639    ,
          29.1543    , 29.86775   ],
         ...,
         [31.5198    , 31.529     , 31.4791    , ..., 31.3533    ,
          31.3506    , 31.3424    ],
         [31.5198    , 31.529     , 31.4791    , ..., 31.3533    ,
          31.3506    , 31.3424    ],
         [31.5198    , 31.529     , 31.4791    , ..., 31.3533    ,
          31.3506    , 31.3424    ]]),
  2003: array([[29.43551189, 29.47937533, 29.52323877, ..., 26.34069926,
          26.27326471, 26.20583015],
         [30.0105    , 29.7612    , 30.0701    , ..., 30.6677    ,
          29.4093    , 27.5219    ],
         [30.01395   , 29.79355   , 30.06925   , ..., 30.6677    ,
          29.5312    , 27.66525   ],
         ...,
         [31.3361    , 31.3287    , 30.9473    , ..., 31.8673    ,
          31.9067    , 31.8453    ],
         [31.3361    , 31.3287    , 30.9473    , ..., 31.8673    ,
          31.9067    , 31.8453    ],
         [31.3361    , 31.3287    , 30.9473    , ..., 31.8673    ,
          31.9067    , 31.8453    ]]),
  2004: array([[26.13839559, 26.07096103, 26.00352647, ..., 21.08080368,
          21.01336912, 20.94593456],
         [29.6573    , 30.6433    , 30.8407    , ..., 29.1889    ,
          28.3025    , 28.7242    ],
         [29.66      , 30.64315   , 30.8427    , ..., 29.1917    ,
          28.3035    , 28.8084    ],
         ...,
         [31.8367    , 31.8308    , 30.9305    , ..., 31.2156    ,
          31.2178    , 31.1846    ],
         [31.8367    , 31.8308    , 30.9305    , ..., 31.2156    ,
          31.2178    , 31.1846    ],
         [31.8367    , 31.8308    , 30.9305    , ..., 31.2156    ,
          31.2178    , 31.1846    ]]),
  2005: array([[20.8785 , 20.90693, 20.93536, ..., 22.21471, 22.24314, 22.27157],
         [29.4796 , 29.1122 , 29.5133 , ..., 29.5915 , 29.386  , 29.2522 ],
         [29.18335, 29.1139 , 29.5717 , ..., 30.17445, 29.4309 , 29.2518 ],
         ...,
         [31.2023 , 31.2027 , 31.1904 , ..., 31.7295 , 31.7788 , 31.2061 ],
         [31.2023 , 31.2027 , 31.1904 , ..., 31.7295 , 31.7788 , 31.2061 ],
         [31.2023 , 31.2027 , 31.1904 , ..., 31.7295 , 31.7788 , 31.2061 ]]),
  2006: array([[22.3   , 28.811 ,  9.266 , ..., 30.506 , 28.003 , 27.877 ],
         [28.696 , 29.173 , 29.038 , ..., 30.506 , 28.142 , 28.093 ],
         [28.765 , 29.181 , 29.0165, ..., 30.5065, 28.6025, 28.289 ],
         ...,
         [31.695 , 30.673 , 31.686 , ..., 31.781 , 31.767 , 31.765 ],
         [31.695 , 30.673 , 31.686 , ..., 31.781 , 31.767 , 31.765 ],
         [31.695 , 30.673 , 31.686 , ..., 31.781 , 31.767 , 31.765 ]]),
  2007: array([[29.6286 , 27.2747 , 29.6078 , ..., 26.9993 , 30.0507 , 18.6447 ],
         [29.4777 , 29.1159 , 29.6369 , ..., 26.8243 , 30.0479 , 30.0397 ],
         [29.49205, 29.2638 , 29.6358 , ..., 27.2757 , 30.0484 , 29.976  ],
         ...,
         [31.7235 , 31.6062 , 31.6946 , ..., 31.2298 , 28.3302 , 31.054  ],
         [31.7235 , 31.6062 , 31.6946 , ..., 31.2298 , 28.3302 , 31.054  ],
         [31.7235 , 31.6062 , 31.6946 , ..., 31.2298 , 28.3302 , 31.054  ]]),
  2008: array([[29.4091 , 28.8765 , 29.8311 , ..., 26.3093 , 20.0387 , 22.4552 ],
         [29.4573 , 29.1616 , 29.6616 , ..., 27.7662 , 24.8037 , 23.9487 ],
         [29.4877 , 29.21185, 29.6559 , ..., 28.23495, 24.87505, 26.51675],
         ...,
         [31.3976 , 31.394  , 31.3804 , ..., 31.3968 , 31.3224 , 31.3961 ],
         [31.3976 , 31.394  , 31.3804 , ..., 31.3968 , 31.3224 , 31.3961 ],
         [31.3976 , 31.394  , 31.3804 , ..., 31.3968 , 31.3224 , 31.3961 ]]),
  2009: array([[24.8717 , 27.2882 , 29.7047 , ..., 28.7155 , 28.6323 , 30.015  ],
         [29.9422 , 29.3259 , 29.9266 , ..., 28.74745, 28.6888 , 30.022  ],
         [29.9417 , 29.4109 , 29.97755, ..., 28.78145, 28.75725, 30.02295],
         ...,
         [31.3684 , 31.3574 , 31.348  , ..., 31.2299 , 31.2304 , 31.2285 ],
         [31.3684 , 31.3574 , 31.348  , ..., 31.2299 , 31.2304 , 31.2285 ],
         [31.3684 , 31.3574 , 31.348  , ..., 31.2299 , 31.2304 , 31.2285 ]]),
  2010: array([[29.0272 , 29.6813 , 30.1293 , ..., 28.1335 , 28.4461 , 27.9516 ],
         [29.0643 , 29.6796 , 30.1304 , ..., 29.2567 , 28.9913 , 28.814  ],
         [29.0736 , 29.6807 , 30.13045, ..., 29.27805, 29.11   , 28.94005],
         ...,
         [31.3055 , 31.2264 , 31.2277 , ..., 31.4721 , 31.4641 , 31.4586 ],
         [31.3055 , 31.2264 , 31.2277 , ..., 31.4721 , 31.4641 , 31.4586 ],
         [31.3055 , 31.2264 , 31.2277 , ..., 31.4721 , 31.4641 , 31.4586 ]]),
  2011: array([[29.2631 , 29.8445 , 29.85995, ..., 27.1223 , 28.3573 , 29.5923 ],
         [29.265  , 29.865  , 29.7892 , ..., 27.231  , 28.8084 , 29.5921 ],

Connected to Python 3.12.3

In [ ]:
from datetime import datetime

In [ ]:
datetime(15,3,1996)

ValueError: day is out of range for month

In [ ]:
datetime(3,11,1996)

ValueError: day is out of range for month

In [ ]:
datetime(1996,3,11)

datetime.datetime(1996, 3, 11, 0, 0)

In [ ]:
help datetime

SyntaxError: invalid syntax (<ipython-input-5-c993d7a3b109>, line 1)

In [ ]:
help(datetime)

Help on class datetime in module datetime:

class datetime(date)
 |  datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])
 |
 |  The year, month and day arguments are required. tzinfo may be None, or an
 |  instance of a tzinfo subclass. The remaining arguments may be ints.
 |
 |  Method resolution order:
 |      datetime
 |      date
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __reduce__(...)
 |      __reduce__() -> (cls, state)
 |
 |  __reduce_ex__(...)
 |      __reduce_ex__(proto) -> (cls, state)
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  astimezone(...)
 |      tz -> convert to local time in new timezone tz
 |
 |  ctime(...)
 |      Return ctime() style string.
 |
 |  date(...)
 |      Return date object with same year, month and day.
 |
 |  dst(...)
 |      Return self.tzinfo.dst(self).
 |
 |  isoformat(...)
 |      [sep] -> string in ISO 8601 format, YYYY-MM-DDT[HH[:MM[:SS[.mmm[uuu]]]]][+HH:MM].
 |      sep is used to separate the year from the time, and defaults to 'T'.
 |      The optional argument timespec specifies the number of additional terms
 |      of the time to include. Valid options are 'auto', 'hours', 'minutes',
 |      'seconds', 'milliseconds' and 'microseconds'.
 |
 |  replace(...)
 |      Return datetime with new specified fields.
 |
 |  time(...)
 |      Return time object with same time but with tzinfo=None.
 |
 |  timestamp(...)
 |      Return POSIX timestamp as float.
 |
 |  timetuple(...)
 |      Return time tuple, compatible with time.localtime().
 |
 |  timetz(...)
 |      Return time object with same time and tzinfo.
 |
 |  tzname(...)
 |      Return self.tzinfo.tzname(self).
 |
 |  utcoffset(...)
 |      Return self.tzinfo.utcoffset(self).
 |
 |  utctimetuple(...)
 |      Return UTC time tuple, compatible with time.localtime().
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  combine(...)
 |      date, time -> datetime with same date and time fields
 |
 |  fromisoformat(...)
 |      string -> datetime from a string in most ISO 8601 formats
 |
 |  fromtimestamp(...)
 |      timestamp[, tz] -> tz's local time from POSIX timestamp.
 |
 |  now(tz=None)
 |      Returns new datetime object representing current time local to tz.
 |
 |        tz
 |          Timezone object.
 |
 |      If no tz is specified, uses local timezone.
 |
 |  strptime(...)
 |      string, format -> new datetime parsed from a string (like time.strptime()).
 |
 |  utcfromtimestamp(...)
 |      Construct a naive UTC datetime from a POSIX timestamp.
 |
 |  utcnow(...)
 |      Return a new datetime representing UTC day and time.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  fold
 |
 |  hour
 |
 |  microsecond
 |
 |  minute
 |
 |  second
 |
 |  tzinfo
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  max = datetime.datetime(9999, 12, 31, 23, 59, 59, 999999)
 |
 |  min = datetime.datetime(1, 1, 1, 0, 0)
 |
 |  resolution = datetime.timedelta(microseconds=1)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from date:
 |
 |  __format__(...)
 |      Formats self with strftime.
 |
 |  isocalendar(...)
 |      Return a named tuple containing ISO year, week number, and weekday.
 |
 |  isoweekday(...)
 |      Return the day of the week represented by the date.
 |      Monday == 1 ... Sunday == 7
 |
 |  strftime(...)
 |      format -> strftime() style string.
 |
 |  toordinal(...)
 |      Return proleptic Gregorian ordinal.  January 1 of year 1 is day 1.
 |
 |  weekday(...)
 |      Return the day of the week represented by the date.
 |      Monday == 0 ... Sunday == 6
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from date:
 |
 |  fromisocalendar(...)
 |      int, int, int -> Construct a date from the ISO year, week number and weekday.
 |
 |      This is the inverse of the date.isocalendar() function
 |
 |  fromordinal(...)
 |      int -> date corresponding to a proleptic Gregorian ordinal.
 |
 |  today(...)
 |      Current date or datetime:  same as self.__class__.fromtimestamp(time.time()).
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from date:
 |
 |  day
 |
 |  month
 |
 |  year

Connected to Python 3.12.3

In [ ]:
[:4]

SyntaxError: invalid syntax (<ipython-input-1-0a14545a96cd>, line 1)

In [ ]:
[0:4]

SyntaxError: invalid syntax (<ipython-input-2-fd66419c7a49>, line 1)

In [ ]:
[0:4]

SyntaxError: invalid syntax (<ipython-input-3-fd66419c7a49>, line 1)

In [ ]:
0:1

SyntaxError: illegal target for annotation (<ipython-input-4-2725fd8c3f20>, line 1)

In [ ]:
import pytest
import sys
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import Intrusion_analysis as INT
import numpy as np
import pandas as pd
from datetime import datetime

# Test Arguments
file_name = 'BBMP_salected_data0.pkl'
path_data = './data/PROCESSED/'
file_dirpath = path_data + file_name

# Initialize class
testing_class = INT.Intrusions(file_dirpath)

------ Importing Data

In [ ]:
manual = [
    [datetime(1996,3,11), datetime(1996,4,11)],
    [datetime(1996,3,11), datetime(1996,4,11)],
    [],
    [datetime(1996,3,11), datetime(1996,4,11)],
]

estimated = [
    [datetime(1996,3,8), datetime(1996,5,11)],
    [datetime(1996,3,8), datetime(1996,3,2)],
    [datetime(1996,3,8), datetime(1996,3,2)],
    []
]

answers = [
    [3, datetime(1996,3,11), datetime(1996,3,8)],
    [3, datetime(1996,3,11), datetime(1996,3,8)],
    [],
    []
]


for test in list(range(0, len(manual))):

    dict_result = testing_class.intrusion_date_comparison(manual[test], estimated[test])
    print(dict_result)

{'Matched': [[3, datetime.datetime(1996, 3, 11, 0, 0), datetime.datetime(1996, 3, 8, 0, 0)]], 'Only Manual': [datetime.datetime(1996, 4, 11, 0, 0)], 'Only Estimated': {datetime.datetime(1996, 5, 11, 0, 0)}}
{'Matched': [[3, datetime.datetime(1996, 3, 11, 0, 0), datetime.datetime(1996, 3, 8, 0, 0)]], 'Only Manual': [datetime.datetime(1996, 4, 11, 0, 0)], 'Only Estimated': {datetime.datetime(1996, 3, 2, 0, 0)}}
{'Matched': [], 'Only Manual': [], 'Only Estimated': {datetime.datetime(1996, 3, 8, 0, 0), datetime.datetime(1996, 3, 2, 0, 0)}}
{'Matched': [], 'Only Manual': [datetime.datetime(1996, 3, 11, 0, 0), datetime.datetime(1996, 4, 11, 0, 0)], 'Only Estimated': set()}

In [ ]:
import pytest
import sys
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import Intrusion_analysis as INT
import numpy as np
import pandas as pd
from datetime import datetime

# Test Arguments
file_name = 'BBMP_salected_data0.pkl'
path_data = './data/PROCESSED/'
file_dirpath = path_data + file_name

# Initialize class
testing_class = INT.Intrusions(file_dirpath)

------ Importing Data

In [ ]:
manual = [
    [datetime(1996,3,11), datetime(1996,4,11)],
    [datetime(1996,3,11), datetime(1996,4,11)],
    [],
    [datetime(1996,3,11), datetime(1996,4,11)],
]

estimated = [
    [datetime(1996,3,8), datetime(1996,5,11)],
    [datetime(1996,3,8), datetime(1996,3,2)],
    [datetime(1996,3,8), datetime(1996,3,2)],
    []
]

answers = [
    [3, datetime(1996,3,11), datetime(1996,3,8)],
    [3, datetime(1996,3,11), datetime(1996,3,8)],
    [],
    []
]


for test in list(range(0, len(manual))):

    dict_result = testing_class.intrusion_date_comparison(manual[test], estimated[test])
    print(dict_result)

{'Matched': [[3, datetime.datetime(1996, 3, 11, 0, 0), datetime.datetime(1996, 3, 8, 0, 0)]], 'Only Manual': [datetime.datetime(1996, 4, 11, 0, 0)], 'Only Estimated': {datetime.datetime(1996, 5, 11, 0, 0)}}
{'Matched': [[3, datetime.datetime(1996, 3, 11, 0, 0), datetime.datetime(1996, 3, 8, 0, 0)]], 'Only Manual': [datetime.datetime(1996, 4, 11, 0, 0)], 'Only Estimated': {datetime.datetime(1996, 3, 2, 0, 0)}}
{'Matched': [], 'Only Manual': [], 'Only Estimated': {datetime.datetime(1996, 3, 8, 0, 0), datetime.datetime(1996, 3, 2, 0, 0)}}
{'Matched': [], 'Only Manual': [datetime.datetime(1996, 3, 11, 0, 0), datetime.datetime(1996, 4, 11, 0, 0)], 'Only Estimated': set()}

Connected to Python 3.12.3

In [ ]:
import pytest
import sys
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import Intrusion_analysis as INT
import numpy as np
import pandas as pd
from datetime import datetime

# Test Arguments
file_name = 'BBMP_salected_data0.pkl'
path_data = './data/PROCESSED/'
file_dirpath = path_data + file_name

# Initialize class
testing_class = INT.Intrusions(file_dirpath)

------ Importing Data

In [ ]:
manual = [
    [datetime(1996,3,11), datetime(1996,4,11)],
    [datetime(1996,3,11), datetime(1996,4,11)],
    [],
    [datetime(1996,3,11), datetime(1996,4,11)],
]

estimated = [
    [datetime(1996,3,8), datetime(1996,5,11)],
    [datetime(1996,3,8), datetime(1996,3,2)],
    [datetime(1996,3,8), datetime(1996,3,2)],
    []
]

answers = [
    [3, datetime(1996,3,11), datetime(1996,3,8)],
    [3, datetime(1996,3,11), datetime(1996,3,8)],
    [],
    []
]


for test in list(range(0, len(manual))):

    dict_result = testing_class.intrusion_date_comparison(manual[test], estimated[test])
    print(dict_result)

{'Matched': [[3, datetime.datetime(1996, 3, 11, 0, 0), datetime.datetime(1996, 3, 8, 0, 0)]], 'Only Manual': [datetime.datetime(1996, 4, 11, 0, 0)], 'Only Estimated': [datetime.datetime(1996, 5, 11, 0, 0)]}
{'Matched': [[3, datetime.datetime(1996, 3, 11, 0, 0), datetime.datetime(1996, 3, 8, 0, 0)]], 'Only Manual': [datetime.datetime(1996, 4, 11, 0, 0)], 'Only Estimated': [datetime.datetime(1996, 3, 2, 0, 0)]}
{'Matched': [], 'Only Manual': [], 'Only Estimated': [datetime.datetime(1996, 3, 8, 0, 0), datetime.datetime(1996, 3, 2, 0, 0)]}
{'Matched': [], 'Only Manual': [datetime.datetime(1996, 3, 11, 0, 0), datetime.datetime(1996, 4, 11, 0, 0)], 'Only Estimated': []}

Connected to Python 3.12.3

In [ ]:
# Imports
import pytest
import sys
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import Intrusion_analysis as INT
import numpy as np
import pandas as pd
from datetime import datetime

# Test Arguments
file_name = 'BBMP_salected_data0.pkl'
path_data = './data/PROCESSED/'
file_dirpath = path_data + file_name

# Initialize class
testing_class = INT.Intrusions(file_dirpath)

def test_intrusion_date_comparison() -> None:
   """
   
   Tests:
   1- Single match within 10 days
   2- Multiple match within 10 days
   3- Empty manual
   4- Empty estimated
   
   """
   # Test Inputs
   manual = [
      [datetime(1996,3,11), datetime(1996,4,11)],
      [datetime(1996,3,11), datetime(1996,4,11)],
      [],
      [datetime(1996,3,11), datetime(1996,4,11)],
   ]

   estimated = [
      [datetime(1996,3,8), datetime(1996,5,11)],
      [datetime(1996,3,8), datetime(1996,3,2)],
      [datetime(1996,3,8), datetime(1996,3,2)],
      []
   ]

   # Test expected answers
   matched = [
      [[3, datetime(1996, 3, 11, 0, 0), datetime(1996, 3, 8, 0, 0)]],
      [[3, datetime(1996, 3, 11, 0, 0), datetime(1996, 3, 8, 0, 0)]],
      [],
      []
   ]

   only_manual = [
      [datetime(1996, 4, 11, 0, 0)],
      [datetime(1996, 4, 11, 0, 0)],
      [],
      [datetime(1996, 3, 11, 0, 0), datetime(1996, 4, 11, 0, 0)],
   ]

   only_estimated = [
      [datetime(1996, 5, 11, 0, 0)],
      [datetime(1996, 3, 2, 0, 0)],
      [datetime(1996, 3, 8, 0, 0), datetime(1996, 3, 2, 0, 0)],
      []
   ]

   answer = [
      matched,
      only_manual,
      only_estimated,
   ]

   for test in list(range(0, len(manual))):

      dict_result = testing_class.intrusion_date_comparison(manual[test], estimated[test])
      
      for ans in list(range(0, len(answer))):
          
          ans_result = dict_result[list(dict_result.keys())[ans]]
          ans_expected = answer[ans][test]
          assert ans_result == ans_expected

------ Importing Data

In [ ]:
testing_class.test_intrusion_date_comparison()

AttributeError: 'Intrusions' object has no attribute 'test_intrusion_date_comparison'

In [ ]:
# Imports
import pytest
import sys
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import Intrusion_analysis as INT
import numpy as np
import pandas as pd
from datetime import datetime

# Test Arguments
file_name = 'BBMP_salected_data0.pkl'
path_data = './data/PROCESSED/'
file_dirpath = path_data + file_name

# Initialize class
testing_class = INT.Intrusions(file_dirpath)

def test_intrusion_date_comparison() -> None:
   """
   
   Tests:
   1- Single match within 10 days
   2- Multiple match within 10 days
   3- Empty manual
   4- Empty estimated
   
   """
   # Test Inputs
   manual = [
      [datetime(1996,3,11), datetime(1996,4,11)],
      [datetime(1996,3,11), datetime(1996,4,11)],
      [],
      [datetime(1996,3,11), datetime(1996,4,11)],
   ]

   estimated = [
      [datetime(1996,3,8), datetime(1996,5,11)],
      [datetime(1996,3,8), datetime(1996,3,2)],
      [datetime(1996,3,8), datetime(1996,3,2)],
      []
   ]

   # Test expected answers
   matched = [
      [[3, datetime(1996, 3, 11, 0, 0), datetime(1996, 3, 8, 0, 0)]],
      [[3, datetime(1996, 3, 11, 0, 0), datetime(1996, 3, 8, 0, 0)]],
      [],
      []
   ]

   only_manual = [
      [datetime(1996, 4, 11, 0, 0)],
      [datetime(1996, 4, 11, 0, 0)],
      [],
      [datetime(1996, 3, 11, 0, 0), datetime(1996, 4, 11, 0, 0)],
   ]

   only_estimated = [
      [datetime(1996, 5, 11, 0, 0)],
      [datetime(1996, 3, 2, 0, 0)],
      [datetime(1996, 3, 8, 0, 0), datetime(1996, 3, 2, 0, 0)],
      []
   ]

   answer = [
      matched,
      only_manual,
      only_estimated,
   ]

   for test in list(range(0, len(manual))):

      dict_result = testing_class.intrusion_date_comparison(manual[test], estimated[test])
      
      for ans in list(range(0, len(answer))):
          
          ans_result = dict_result[list(dict_result.keys())[ans]]
          ans_expected = answer[ans][test]
          print(ans_result == ans_expected)

------ Importing Data

In [ ]:
test_intrusion_date_comparison()

True
True
True
True
True
True
True
True
True
True
True
True

Connected to Python 3.12.3

In [ ]:
pwd

'd:\\Projects\\Intrusion_Redo'

In [ ]:
cd tests/

d:\Projects\Intrusion_Redo\tests

C:\Users\eddga\AppData\Roaming\Python\Python312\site-packages\IPython\core\magics\osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [ ]:
ls

 Volume in drive D is Data
 Volume Serial Number is DEC0-2228

 Directory of d:\Projects\Intrusion_Redo\tests

2024-07-25  10:07 PM    <DIR>          .
2024-07-25  10:07 PM    <DIR>          ..
2024-07-16  07:31 PM                 0 __init__.py
2024-07-25  10:06 PM    <DIR>          __pycache__
2024-07-25  10:07 PM    <DIR>          mock_data
2024-07-22  03:51 PM         4,244,246 raw_sample.csv
2024-07-24  07:38 PM             3,945 test_ETL_class.py
2024-07-25  10:06 PM             2,624 test_intrusion_class.py
               4 File(s)      4,250,815 bytes
               4 Dir(s)  720,372,183,040 bytes free

In [ ]:
# Imports
import pytest
import sys
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import ETL_processes as ETL
import numpy as np
import pandas as pd
import joblib

# Test Arguments
raw_data = 'raw_sample.csv'
raw_file_path = './tests/' + raw_data
deep = 60
shallow = [20, 35]
date_format ="%Y-%m-%d %H:%M"
variables = ['time_string',
            'pressure',
            'salinity',
            'temperature'
            ]

# Initialize class
testing_class = ETL.Intrusion_ETL(raw_file_path, variables, deep, shallow, date_format)

testing_class.get_target_data() 
testing_class.group_data()
testing_class.normalize_length_data()
testing_class.get_variable_matrices()
testing_class.data_transformations()
testing_class.conform_schema()

joblib.dump(testing_class.output_data, 'profile_dataset_sample.pkl')
print(f'Saved as profile_dataset_sample.pkl')

Reading CSV file

FileNotFoundError: [Errno 2] No such file or directory: './tests/raw_sample.csv'

In [ ]:
# Imports
import pytest
import sys
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import ETL_processes as ETL
import numpy as np
import pandas as pd
import joblib

# Test Arguments
raw_data = 'raw_sample.csv'
raw_file_path = './tests/' + raw_data
deep = 60
shallow = [20, 35]
date_format ="%Y-%m-%d %H:%M"
variables = ['time_string',
            'pressure',
            'salinity',
            'temperature'
            ]

# Initialize class
testing_class = ETL.Intrusion_ETL(raw_data, variables, deep, shallow, date_format)

testing_class.get_target_data() 
testing_class.group_data()
testing_class.normalize_length_data()
testing_class.get_variable_matrices()
testing_class.data_transformations()
testing_class.conform_schema()

joblib.dump(testing_class.output_data, 'profile_dataset_sample.pkl')
print(f'Saved as profile_dataset_sample.pkl')

Reading CSV file
Extrating target data
Updating target data and grouping by profile
Nomalizing depths and filling with NaN
Creating Target Variable Matrices
Creating Target Variable Matrices
Interpolating Data

KeyError: 'temperature_avgmid_diff1_inter10'

In [ ]:
# Imports
import pytest
import sys
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import ETL_processes as ETL
import numpy as np
import pandas as pd
import joblib

# Test Arguments
raw_data = 'raw_sample.csv'
raw_file_path = './tests/' + raw_data
deep = 60
shallow = [20, 35]
date_format ="%Y-%m-%d %H:%M"
variables = ['time_string',
            'pressure',
            'salinity',
            'temperature'
            ]

# Initialize class
testing_class = ETL.Intrusion_ETL(raw_data, variables, deep, shallow, date_format)

testing_class.get_target_data() 
testing_class.group_data()
testing_class.normalize_length_data()
testing_class.get_variable_matrices()
testing_class.data_transformations()

Reading CSV file
Extrating target data
Updating target data and grouping by profile
Nomalizing depths and filling with NaN
Creating Target Variable Matrices
Creating Target Variable Matrices
Interpolating Data

In [ ]:
testing_class.transform_data

{'time_string_interpolated_axis0':          0        1        2        3        4        5        6        7    \
 0    29.9361  27.5332  27.1737  25.9267  26.4540  29.0358  26.6289  26.6174
 1    30.0652  28.4830  29.4271  29.3493  28.8888  29.4126  29.3224  29.3280
 2    30.0935  29.1041  29.4377  29.3921  28.8591  29.3929  29.3134  29.4147
 3    30.1091  29.5710  29.5604  29.5093  29.1827  29.3984  29.4885  29.4981
 4    30.1218  29.6513  29.6224  29.5026  29.4406  29.4117  29.6270  29.5663
 ..       ...      ...      ...      ...      ...      ...      ...      ...
 139  31.0141  30.7971  31.0125  31.0144  31.0143  31.0099  31.0066  30.9932
 140  31.0141  30.8656  31.0125  31.0144  31.0143  31.0099  31.0066  30.9935
 141  31.0141  30.8656  31.0125  31.0144  31.0143  31.0099  31.0066  30.9937
 142  31.0141  30.8656  31.0125  31.0144  31.0143  31.0099  31.0066  30.9937
 143  31.0141  30.8656  31.0125  31.0144  31.0143  31.0099  31.0066  30.9937

          8        9    ...      179      180      181      182      183  \
 0    28.9826  28.2259  ...  28.5555  29.8580  29.9235      NaN  30.0514
 1    28.9971  29.9959  ...  28.5558  29.8648  29.9274  29.7281  29.9665
 2    29.0072  29.9633  ...  28.5566  29.8659  29.9264  29.7590  30.0789
 3    29.0561  29.9635  ...  28.5645  29.8668  29.9322  29.7725  30.0434
 4    29.0960  29.9649  ...  28.5724  29.8671  29.9310  29.8191  30.0125
 ..       ...      ...  ...      ...      ...      ...      ...      ...
 139  30.8674  30.9116  ...  30.9709  30.9632  30.9571  30.9520  30.9412
 140  30.8674  30.9116  ...  30.9709  30.9632  30.9575  30.9520  30.9412
 141  30.8674  30.9116  ...  30.9709  30.9632  30.9579  30.9520  30.9412
 142  30.8674  30.9116  ...  30.9709  30.9632  30.9580  30.9520  30.9412
 143  30.8674  30.9116  ...  30.9709  30.9632  30.9580  30.9520  30.9412

          184      185      186      187      188
 0    29.4290  29.5754  29.5282      NaN  29.1427
 1    29.4426  29.5740  29.5198  29.4523  29.1863
 2    29.4564  29.5824  29.5275  29.4545  29.3564
 3    29.6191  29.6223  29.5274  29.5514  29.6615
 4    29.5388  29.7173  29.5314  29.6592  29.9484
 ..       ...      ...      ...      ...      ...
 139  30.9409  30.9365  30.9271  30.9199  30.9166
 140  30.9409  30.9365  30.9271  30.9199  30.9166
 141  30.9409  30.9365  30.9271  30.9195  30.9162
 142  30.9409  30.9365  30.9271  30.9195  30.9162
 143  30.9409  30.9365  30.9271  30.9195  30.9162

 [144 rows x 189 columns],
 'time_string_interpolated_axis10':          0        1        2        3        4        5        6        7    \
 0    29.9361  27.5332  27.1737  25.9267  26.4540  29.0358  26.6289  26.6174
 1    30.0652  28.4830  29.4271  29.3493  28.8888  29.4126  29.3224  29.3280
 2    30.0935  29.1041  29.4377  29.3921  28.8591  29.3929  29.3134  29.4147
 3    30.1091  29.5710  29.5604  29.5093  29.1827  29.3984  29.4885  29.4981
 4    30.1218  29.6513  29.6224  29.5026  29.4406  29.4117  29.6270  29.5663
 ..       ...      ...      ...      ...      ...      ...      ...      ...
 139  31.0141  30.7971  31.0125  31.0144  31.0143  31.0099  31.0066  30.9932
 140  31.0141  30.8656  31.0125  31.0144  31.0143  31.0099  31.0066  30.9935
 141  31.0141  30.8656  31.0125  31.0144  31.0143  31.0099  31.0066  30.9937
 142  31.0141  30.8656  31.0125  31.0144  31.0143  31.0099  31.0066  30.9937
 143  31.0141  30.8656  31.0125  31.0144  31.0143  31.0099  31.0066  30.9937

          8        9    ...      179      180      181       182      183  \
 0    28.9826  28.2259  ...  28.5555  29.8580  29.9235  29.98745  30.0514
 1    28.9971  29.9959  ...  28.5558  29.8648  29.9274  29.72810  29.9665
 2    29.0072  29.9633  ...  28.5566  29.8659  29.9264  29.75900  30.0789
 3    29.0561  29.9635  ...  28.5645  29.8668  29.9322  29.77250  30.0434
 4    29.0960  29.9649  ...  28.5724  29.8671  29.9310  29.81910  30.0125
 ..       ...      ...  ...      ...      ...      ...       ...      ...
 139  30.8674  30.9116  ...  30.9709  30.9632  30.9571  30.95200  30.9412
 140  30.8674  30.9116  ...  30.9709  30.9632  30.9575  30.95200  30.9412
 141  30.8674  30.9116  ...  30.9709  30.9632  30.9579  30.95200  30.9412
 142  30.8674  30.9116  ...  30.9709  30.9632  30.9580  30.95200  30.9412
 143  30.8674  30.9116  ...  30.9709  30.9632  30.9580  30.95200  30.9412

          184      185      186       187      188
 0    29.4290  29.5754  29.5282  29.33545  29.1427
 1    29.4426  29.5740  29.5198  29.45230  29.1863
 2    29.4564  29.5824  29.5275  29.45450  29.3564
 3    29.6191  29.6223  29.5274  29.55140  29.6615
 4    29.5388  29.7173  29.5314  29.65920  29.9484
 ..       ...      ...      ...       ...      ...
 139  30.9409  30.9365  30.9271  30.91990  30.9166
 140  30.9409  30.9365  30.9271  30.91990  30.9166
 141  30.9409  30.9365  30.9271  30.91950  30.9162
 142  30.9409  30.9365  30.9271  30.91950  30.9162
 143  30.9409  30.9365  30.9271  30.91950  30.9162

 [144 rows x 189 columns],
 'time_string_diff_axis1_inter10':         0       1       2       3       4       5       6       7       8    \
 0   -2.4029 -0.3595 -1.2470  0.5273  2.5818 -2.4069 -0.0115  2.3652 -0.7567
 1   -1.5822  0.9441 -0.0778 -0.4605  0.5238 -0.0902  0.0056 -0.3309  0.9988
 2   -0.9894  0.3336 -0.0456 -0.5330  0.5338 -0.0795  0.1013 -0.4075  0.9561
 3   -0.5381 -0.0106 -0.0511 -0.3266  0.2157  0.0901  0.0096 -0.4420  0.9074
 4   -0.4705 -0.0289 -0.1198 -0.0620 -0.0289  0.2153 -0.0607 -0.4703  0.8689
 ..      ...     ...     ...     ...     ...     ...     ...     ...     ...
 139 -0.2170  0.2154  0.0019 -0.0001 -0.0044 -0.0033 -0.0134 -0.1258  0.0442
 140 -0.1485  0.1469  0.0019 -0.0001 -0.0044 -0.0033 -0.0131 -0.1261  0.0442
 141 -0.1485  0.1469  0.0019 -0.0001 -0.0044 -0.0033 -0.0129 -0.1263  0.0442
 142 -0.1485  0.1469  0.0019 -0.0001 -0.0044 -0.0033 -0.0129 -0.1263  0.0442
 143 -0.1485  0.1469  0.0019 -0.0001 -0.0044 -0.0033 -0.0129 -0.1263  0.0442

          9    ...      178     179     180      181      182     183     184  \
 0   -44.5222  ...  0.82255  1.3025  0.0655  0.06395  0.06395 -0.6224  0.1464
 1     3.3130  ...  4.18730  1.3090  0.0626 -0.19930  0.23840 -0.5239  0.1314
 2    -0.0383  ...  2.56290  1.3093  0.0605 -0.16740  0.31990 -0.6225  0.1260
 3    -0.3611  ...  0.21080  1.3023  0.0654 -0.15970  0.27090 -0.4243  0.0032
 4    -0.3510  ... -0.19190  1.2947  0.0639 -0.11190  0.19340 -0.4737  0.1785
 ..       ...  ...      ...     ...     ...      ...      ...     ...     ...
 139  -0.0422  ... -0.01140 -0.0077 -0.0061 -0.00510 -0.01080 -0.0003 -0.0044
 140  -0.0422  ... -0.01130 -0.0077 -0.0057 -0.00550 -0.01080 -0.0003 -0.0044
 141  -0.0422  ... -0.01130 -0.0077 -0.0053 -0.00590 -0.01080 -0.0003 -0.0044
 142  -0.0422  ... -0.01130 -0.0077 -0.0052 -0.00600 -0.01080 -0.0003 -0.0044
 143  -0.0422  ... -0.01130 -0.0077 -0.0052 -0.00600 -0.01080 -0.0003 -0.0044

         185      186      187
 0   -0.0472 -0.19275 -0.19275
 1   -0.0542 -0.06750 -0.26600
 2   -0.0549 -0.07300 -0.09810
 3   -0.0949  0.02400  0.11010
 4   -0.1859  0.12780  0.28920
 ..      ...      ...      ...
 139 -0.0094 -0.00720 -0.00330
 140 -0.0094 -0.00720 -0.00330
 141 -0.0094 -0.00760 -0.00330
 142 -0.0094 -0.00760 -0.00330
 143 -0.0094 -0.00760 -0.00330

 [144 rows x 188 columns],
 'time_string_avg_diff1_inter10': 0     -0.239667
 1      0.238875
 2      0.000675
 3     -0.000315
 4     -0.004763
          ...
 183   -0.002083
 184   -0.005492
 185   -0.007171
 186   -0.007675
 187   -0.005383
 Length: 188, dtype: float64,
 'time_string_avgmid_diff1_inter10': 0     -0.252640
 1      0.081483
 2     -0.079276
 3      0.000839
 4     -0.041356
          ...
 183   -0.041578
 184    0.004501
 185   -0.019365
 186    0.066532
 187    0.086911
 Length: 188, dtype: float64,
 'pressure_interpolated_axis0':         0       1       2       3       4       5       6       7       8    \
 0    4.1469  2.4526  1.3869  2.4874  1.9308  1.7586  1.6998  1.5262  2.7133
 1    4.1138  2.5911  1.4830  2.4947  1.9275  1.7483  1.6701  1.7592  2.7027
 2    4.1284  3.1927  1.5689  2.5319  1.9344  1.7498  1.6734  1.8910  2.6952
 3    4.1275  3.6632  1.7301  2.5474  1.9772  1.7439  1.6410  1.8334  2.6512
 4    4.1250  3.7182  1.8473  2.5456  2.0122  1.7455  1.6142  1.8398  2.6161
 ..      ...     ...     ...     ...     ...     ...     ...     ...     ...
 139  3.7253  3.5335  3.7098  3.7951  3.8599  4.1200  4.1416  4.1733  2.7919
 140  3.7253  3.5303  3.7098  3.7951  3.8599  4.1200  4.1416  4.1727  2.7919
 141  3.7253  3.5303  3.7098  3.7951  3.8599  4.1200  4.1416  4.1704  2.7919
 142  3.7253  3.5303  3.7098  3.7951  3.8599  4.1200  4.1416  4.1704  2.7919
 143  3.7253  3.5303  3.7098  3.7951  3.8599  4.1200  4.1416  4.1704  2.7919

         9    ...     179     180     181     182      183      184      185  \
 0    1.9640  ...  6.3545  4.9110  7.0670     NaN  10.1893  13.1071  10.5604
 1    1.9598  ...  6.3669  4.9149  7.0565  8.9067  10.3284  13.0908  10.5724
 2    1.9596  ...  6.3669  4.8872  7.0544  8.9320   9.6642  12.9822  10.5502
 3    1.9592  ...  6.3690  4.8724  7.0364  8.8609   9.5089  11.8066  10.4692
 4    1.9613  ...  6.3709  4.8669  7.0355  8.7856   9.7620  11.4914  10.2482
 ..      ...  ...     ...     ...     ...     ...      ...      ...      ...
 139  2.2244  ...  2.3486  2.3693  2.3856  2.3992   2.4094   2.4228   2.4388
 140  2.2244  ...  2.3495  2.3693  2.3858  2.3992   2.4094   2.4228   2.4388
 141  2.2244  ...  2.3495  2.3693  2.3857  2.3992   2.4094   2.4228   2.4388
 142  2.2244  ...  2.3495  2.3693  2.3858  2.3992   2.4094   2.4228   2.4388
 143  2.2244  ...  2.3495  2.3693  2.3858  2.3992   2.4094   2.4228   2.4388

          186      187      188
 0    14.5310      NaN  14.9015
 1    14.5433  15.9239  14.7769
 2    14.5212  15.8545  14.5661
 3    14.5130  15.4251  13.9168
 4    14.5066  14.9907  12.8571
 ..       ...      ...      ...
 139   2.4527   2.4650   2.4800
 140   2.4527   2.4656   2.4801
 141   2.4527   2.4670   2.4811
 142   2.4527   2.4670   2.4811
 143   2.4527   2.4670   2.4811

 [144 rows x 189 columns],
 'pressure_interpolated_axis10':         0       1       2       3       4       5       6       7       8    \
 0    4.1469  2.4526  1.3869  2.4874  1.9308  1.7586  1.6998  1.5262  2.7133
 1    4.1138  2.5911  1.4830  2.4947  1.9275  1.7483  1.6701  1.7592  2.7027
 2    4.1284  3.1927  1.5689  2.5319  1.9344  1.7498  1.6734  1.8910  2.6952
 3    4.1275  3.6632  1.7301  2.5474  1.9772  1.7439  1.6410  1.8334  2.6512
 4    4.1250  3.7182  1.8473  2.5456  2.0122  1.7455  1.6142  1.8398  2.6161
 ..      ...     ...     ...     ...     ...     ...     ...     ...     ...
 139  3.7253  3.5335  3.7098  3.7951  3.8599  4.1200  4.1416  4.1733  2.7919
 140  3.7253  3.5303  3.7098  3.7951  3.8599  4.1200  4.1416  4.1727  2.7919
 141  3.7253  3.5303  3.7098  3.7951  3.8599  4.1200  4.1416  4.1704  2.7919
 142  3.7253  3.5303  3.7098  3.7951  3.8599  4.1200  4.1416  4.1704  2.7919
 143  3.7253  3.5303  3.7098  3.7951  3.8599  4.1200  4.1416  4.1704  2.7919

         9    ...     179     180     181      182      183      184      185  \
 0    1.9640  ...  6.3545  4.9110  7.0670  8.62815  10.1893  13.1071  10.5604
 1    1.9598  ...  6.3669  4.9149  7.0565  8.90670  10.3284  13.0908  10.5724
 2    1.9596  ...  6.3669  4.8872  7.0544  8.93200   9.6642  12.9822  10.5502
 3    1.9592  ...  6.3690  4.8724  7.0364  8.86090   9.5089  11.8066  10.4692
 4    1.9613  ...  6.3709  4.8669  7.0355  8.78560   9.7620  11.4914  10.2482
 ..      ...  ...     ...     ...     ...      ...      ...      ...      ...
 139  2.2244  ...  2.3486  2.3693  2.3856  2.39920   2.4094   2.4228   2.4388
 140  2.2244  ...  2.3495  2.3693  2.3858  2.39920   2.4094   2.4228   2.4388
 141  2.2244  ...  2.3495  2.3693  2.3857  2.39920   2.4094   2.4228   2.4388
 142  2.2244  ...  2.3495  2.3693  2.3858  2.39920   2.4094   2.4228   2.4388
 143  2.2244  ...  2.3495  2.3693  2.3858  2.39920   2.4094   2.4228   2.4388

          186       187      188
 0    14.5310  14.71625  14.9015
 1    14.5433  15.92390  14.7769
 2    14.5212  15.85450  14.5661
 3    14.5130  15.42510  13.9168
 4    14.5066  14.99070  12.8571
 ..       ...       ...      ...
 139   2.4527   2.46500   2.4800
 140   2.4527   2.46560   2.4801
 141   2.4527   2.46700   2.4811
 142   2.4527   2.46700   2.4811
 143   2.4527   2.46700   2.4811

 [144 rows x 189 columns],
 'pressure_diff_axis1_inter10':         0       1       2       3       4       5       6       7       8    \
 0   -1.6943 -1.0657  1.1005 -0.5566 -0.1722 -0.0588 -0.1736  1.1871 -0.7493
 1   -1.5227 -1.1081  1.0117 -0.5672 -0.1792 -0.0782  0.0891  0.9435 -0.7429
 2   -0.9357 -1.6238  0.9630 -0.5975 -0.1846 -0.0764  0.2176  0.8042 -0.7356
 3   -0.4643 -1.9331  0.8173 -0.5702 -0.2333 -0.1029  0.1924  0.8178 -0.6920
 4   -0.4068 -1.8709  0.6983 -0.5334 -0.2667 -0.1313  0.2256  0.7763 -0.6548
 ..      ...     ...     ...     ...     ...     ...     ...     ...     ...
 139 -0.1918  0.1763  0.0853  0.0648  0.2601  0.0216  0.0317 -1.3814 -0.5675
 140 -0.1950  0.1795  0.0853  0.0648  0.2601  0.0216  0.0311 -1.3808 -0.5675
 141 -0.1950  0.1795  0.0853  0.0648  0.2601  0.0216  0.0288 -1.3785 -0.5675
 142 -0.1950  0.1795  0.0853  0.0648  0.2601  0.0216  0.0288 -1.3785 -0.5675
 143 -0.1950  0.1795  0.0853  0.0648  0.2601  0.0216  0.0288 -1.3785 -0.5675

         9    ...     178     179     180      181      182     183     184  \
 0   -0.6061  ...  1.8539 -1.4435  2.1560  1.56115  1.56115  2.9178 -2.5467
 1    0.3860  ... -0.5130 -1.4520  2.1416  1.85020  1.42170  2.7624 -2.5184
 2    0.2234  ... -0.0640 -1.4797  2.1672  1.87760  0.73220  3.3180 -2.4320
 3    0.2259  ...  0.5431 -1.4966  2.1640  1.82450  0.64800  2.2977 -1.3374
 4    0.2323  ...  0.7413 -1.5040  2.1686  1.75010  0.97640  1.7294 -1.2432
 ..      ...  ...     ...     ...     ...      ...      ...     ...     ...
 139  0.0460  ...  0.0228  0.0207  0.0163  0.01360  0.01020  0.0134  0.0160
 140  0.0460  ...  0.0233  0.0198  0.0165  0.01340  0.01020  0.0134  0.0160
 141  0.0460  ...  0.0232  0.0198  0.0164  0.01350  0.01020  0.0134  0.0160
 142  0.0460  ...  0.0232  0.0198  0.0165  0.01340  0.01020  0.0134  0.0160
 143  0.0460  ...  0.0232  0.0198  0.0165  0.01340  0.01020  0.0134  0.0160

         185      186      187
 0    3.9706  0.18525  0.18525
 1    3.9709  1.38060 -1.14700
 2    3.9710  1.33330 -1.28840
 3    4.0438  0.91210 -1.50830
 4    4.2584  0.48410 -2.13360
 ..      ...      ...      ...
 139  0.0139  0.01230  0.01500
 140  0.0139  0.01290  0.01450
 141  0.0139  0.01430  0.01410
 142  0.0139  0.01430  0.01410
 143  0.0139  0.01430  0.01410

 [144 rows x 188 columns],
 'pressure_avg_diff1_inter10': 0     -0.113287
 1      0.202396
 2      0.001467
 3      0.072683
 4      0.244779
          ...
 183    0.013979
 184    0.018608
 185    0.010075
 186    0.013471
 187    0.017983
 Length: 188, dtype: float64,
 'pressure_avgmid_diff1_inter10': 0     -0.193058
 1     -0.452790
 2     -0.262056
 3     -0.346896
 4     -0.193833
          ...
 183    0.198603
 184    0.029068
 185    0.525840
 186   -0.172339
 187   -0.143695
 Length: 188, dtype: float64}

In [ ]:
list(testing_class.transform_data.keys())

['time_string_interpolated_axis0',
 'time_string_interpolated_axis10',
 'time_string_diff_axis1_inter10',
 'time_string_avg_diff1_inter10',
 'time_string_avgmid_diff1_inter10',
 'pressure_interpolated_axis0',
 'pressure_interpolated_axis10',
 'pressure_diff_axis1_inter10',
 'pressure_avg_diff1_inter10',
 'pressure_avgmid_diff1_inter10']

In [ ]:
list(testing_class.transform_data.values())

[         0        1        2        3        4        5        6        7    \
 0    29.9361  27.5332  27.1737  25.9267  26.4540  29.0358  26.6289  26.6174
 1    30.0652  28.4830  29.4271  29.3493  28.8888  29.4126  29.3224  29.3280
 2    30.0935  29.1041  29.4377  29.3921  28.8591  29.3929  29.3134  29.4147
 3    30.1091  29.5710  29.5604  29.5093  29.1827  29.3984  29.4885  29.4981
 4    30.1218  29.6513  29.6224  29.5026  29.4406  29.4117  29.6270  29.5663
 ..       ...      ...      ...      ...      ...      ...      ...      ...
 139  31.0141  30.7971  31.0125  31.0144  31.0143  31.0099  31.0066  30.9932
 140  31.0141  30.8656  31.0125  31.0144  31.0143  31.0099  31.0066  30.9935
 141  31.0141  30.8656  31.0125  31.0144  31.0143  31.0099  31.0066  30.9937
 142  31.0141  30.8656  31.0125  31.0144  31.0143  31.0099  31.0066  30.9937
 143  31.0141  30.8656  31.0125  31.0144  31.0143  31.0099  31.0066  30.9937

          8        9    ...      179      180      181      182      183  \
 0    28.9826  28.2259  ...  28.5555  29.8580  29.9235      NaN  30.0514
 1    28.9971  29.9959  ...  28.5558  29.8648  29.9274  29.7281  29.9665
 2    29.0072  29.9633  ...  28.5566  29.8659  29.9264  29.7590  30.0789
 3    29.0561  29.9635  ...  28.5645  29.8668  29.9322  29.7725  30.0434
 4    29.0960  29.9649  ...  28.5724  29.8671  29.9310  29.8191  30.0125
 ..       ...      ...  ...      ...      ...      ...      ...      ...
 139  30.8674  30.9116  ...  30.9709  30.9632  30.9571  30.9520  30.9412
 140  30.8674  30.9116  ...  30.9709  30.9632  30.9575  30.9520  30.9412
 141  30.8674  30.9116  ...  30.9709  30.9632  30.9579  30.9520  30.9412
 142  30.8674  30.9116  ...  30.9709  30.9632  30.9580  30.9520  30.9412
 143  30.8674  30.9116  ...  30.9709  30.9632  30.9580  30.9520  30.9412

          184      185      186      187      188
 0    29.4290  29.5754  29.5282      NaN  29.1427
 1    29.4426  29.5740  29.5198  29.4523  29.1863
 2    29.4564  29.5824  29.5275  29.4545  29.3564
 3    29.6191  29.6223  29.5274  29.5514  29.6615
 4    29.5388  29.7173  29.5314  29.6592  29.9484
 ..       ...      ...      ...      ...      ...
 139  30.9409  30.9365  30.9271  30.9199  30.9166
 140  30.9409  30.9365  30.9271  30.9199  30.9166
 141  30.9409  30.9365  30.9271  30.9195  30.9162
 142  30.9409  30.9365  30.9271  30.9195  30.9162
 143  30.9409  30.9365  30.9271  30.9195  30.9162

 [144 rows x 189 columns],
          0        1        2        3        4        5        6        7    \
 0    29.9361  27.5332  27.1737  25.9267  26.4540  29.0358  26.6289  26.6174
 1    30.0652  28.4830  29.4271  29.3493  28.8888  29.4126  29.3224  29.3280
 2    30.0935  29.1041  29.4377  29.3921  28.8591  29.3929  29.3134  29.4147
 3    30.1091  29.5710  29.5604  29.5093  29.1827  29.3984  29.4885  29.4981
 4    30.1218  29.6513  29.6224  29.5026  29.4406  29.4117  29.6270  29.5663
 ..       ...      ...      ...      ...      ...      ...      ...      ...
 139  31.0141  30.7971  31.0125  31.0144  31.0143  31.0099  31.0066  30.9932
 140  31.0141  30.8656  31.0125  31.0144  31.0143  31.0099  31.0066  30.9935
 141  31.0141  30.8656  31.0125  31.0144  31.0143  31.0099  31.0066  30.9937
 142  31.0141  30.8656  31.0125  31.0144  31.0143  31.0099  31.0066  30.9937
 143  31.0141  30.8656  31.0125  31.0144  31.0143  31.0099  31.0066  30.9937

          8        9    ...      179      180      181       182      183  \
 0    28.9826  28.2259  ...  28.5555  29.8580  29.9235  29.98745  30.0514
 1    28.9971  29.9959  ...  28.5558  29.8648  29.9274  29.72810  29.9665
 2    29.0072  29.9633  ...  28.5566  29.8659  29.9264  29.75900  30.0789
 3    29.0561  29.9635  ...  28.5645  29.8668  29.9322  29.77250  30.0434
 4    29.0960  29.9649  ...  28.5724  29.8671  29.9310  29.81910  30.0125
 ..       ...      ...  ...      ...      ...      ...       ...      ...
 139  30.8674  30.9116  ...  30.9709  30.9632  30.9571  30.95200  30.9412
 140  30.8674  30.9116  ...  30.9709  30.9632  30.9575  30.95200  30.9412
 141  30.8674  30.9116  ...  30.9709  30.9632  30.9579  30.95200  30.9412
 142  30.8674  30.9116  ...  30.9709  30.9632  30.9580  30.95200  30.9412
 143  30.8674  30.9116  ...  30.9709  30.9632  30.9580  30.95200  30.9412

          184      185      186       187      188
 0    29.4290  29.5754  29.5282  29.33545  29.1427
 1    29.4426  29.5740  29.5198  29.45230  29.1863
 2    29.4564  29.5824  29.5275  29.45450  29.3564
 3    29.6191  29.6223  29.5274  29.55140  29.6615
 4    29.5388  29.7173  29.5314  29.65920  29.9484
 ..       ...      ...      ...       ...      ...
 139  30.9409  30.9365  30.9271  30.91990  30.9166
 140  30.9409  30.9365  30.9271  30.91990  30.9166
 141  30.9409  30.9365  30.9271  30.91950  30.9162
 142  30.9409  30.9365  30.9271  30.91950  30.9162
 143  30.9409  30.9365  30.9271  30.91950  30.9162

 [144 rows x 189 columns],
         0       1       2       3       4       5       6       7       8    \
 0   -2.4029 -0.3595 -1.2470  0.5273  2.5818 -2.4069 -0.0115  2.3652 -0.7567
 1   -1.5822  0.9441 -0.0778 -0.4605  0.5238 -0.0902  0.0056 -0.3309  0.9988
 2   -0.9894  0.3336 -0.0456 -0.5330  0.5338 -0.0795  0.1013 -0.4075  0.9561
 3   -0.5381 -0.0106 -0.0511 -0.3266  0.2157  0.0901  0.0096 -0.4420  0.9074
 4   -0.4705 -0.0289 -0.1198 -0.0620 -0.0289  0.2153 -0.0607 -0.4703  0.8689
 ..      ...     ...     ...     ...     ...     ...     ...     ...     ...
 139 -0.2170  0.2154  0.0019 -0.0001 -0.0044 -0.0033 -0.0134 -0.1258  0.0442
 140 -0.1485  0.1469  0.0019 -0.0001 -0.0044 -0.0033 -0.0131 -0.1261  0.0442
 141 -0.1485  0.1469  0.0019 -0.0001 -0.0044 -0.0033 -0.0129 -0.1263  0.0442
 142 -0.1485  0.1469  0.0019 -0.0001 -0.0044 -0.0033 -0.0129 -0.1263  0.0442
 143 -0.1485  0.1469  0.0019 -0.0001 -0.0044 -0.0033 -0.0129 -0.1263  0.0442

          9    ...      178     179     180      181      182     183     184  \
 0   -44.5222  ...  0.82255  1.3025  0.0655  0.06395  0.06395 -0.6224  0.1464
 1     3.3130  ...  4.18730  1.3090  0.0626 -0.19930  0.23840 -0.5239  0.1314
 2    -0.0383  ...  2.56290  1.3093  0.0605 -0.16740  0.31990 -0.6225  0.1260
 3    -0.3611  ...  0.21080  1.3023  0.0654 -0.15970  0.27090 -0.4243  0.0032
 4    -0.3510  ... -0.19190  1.2947  0.0639 -0.11190  0.19340 -0.4737  0.1785
 ..       ...  ...      ...     ...     ...      ...      ...     ...     ...
 139  -0.0422  ... -0.01140 -0.0077 -0.0061 -0.00510 -0.01080 -0.0003 -0.0044
 140  -0.0422  ... -0.01130 -0.0077 -0.0057 -0.00550 -0.01080 -0.0003 -0.0044
 141  -0.0422  ... -0.01130 -0.0077 -0.0053 -0.00590 -0.01080 -0.0003 -0.0044
 142  -0.0422  ... -0.01130 -0.0077 -0.0052 -0.00600 -0.01080 -0.0003 -0.0044
 143  -0.0422  ... -0.01130 -0.0077 -0.0052 -0.00600 -0.01080 -0.0003 -0.0044

         185      186      187
 0   -0.0472 -0.19275 -0.19275
 1   -0.0542 -0.06750 -0.26600
 2   -0.0549 -0.07300 -0.09810
 3   -0.0949  0.02400  0.11010
 4   -0.1859  0.12780  0.28920
 ..      ...      ...      ...
 139 -0.0094 -0.00720 -0.00330
 140 -0.0094 -0.00720 -0.00330
 141 -0.0094 -0.00760 -0.00330
 142 -0.0094 -0.00760 -0.00330
 143 -0.0094 -0.00760 -0.00330

 [144 rows x 188 columns],
 0     -0.239667
 1      0.238875
 2      0.000675
 3     -0.000315
 4     -0.004763
          ...
 183   -0.002083
 184   -0.005492
 185   -0.007171
 186   -0.007675
 187   -0.005383
 Length: 188, dtype: float64,
 0     -0.252640
 1      0.081483
 2     -0.079276
 3      0.000839
 4     -0.041356
          ...
 183   -0.041578
 184    0.004501
 185   -0.019365
 186    0.066532
 187    0.086911
 Length: 188, dtype: float64,
         0       1       2       3       4       5       6       7       8    \
 0    4.1469  2.4526  1.3869  2.4874  1.9308  1.7586  1.6998  1.5262  2.7133
 1    4.1138  2.5911  1.4830  2.4947  1.9275  1.7483  1.6701  1.7592  2.7027
 2    4.1284  3.1927  1.5689  2.5319  1.9344  1.7498  1.6734  1.8910  2.6952
 3    4.1275  3.6632  1.7301  2.5474  1.9772  1.7439  1.6410  1.8334  2.6512
 4    4.1250  3.7182  1.8473  2.5456  2.0122  1.7455  1.6142  1.8398  2.6161
 ..      ...     ...     ...     ...     ...     ...     ...     ...     ...
 139  3.7253  3.5335  3.7098  3.7951  3.8599  4.1200  4.1416  4.1733  2.7919
 140  3.7253  3.5303  3.7098  3.7951  3.8599  4.1200  4.1416  4.1727  2.7919
 141  3.7253  3.5303  3.7098  3.7951  3.8599  4.1200  4.1416  4.1704  2.7919
 142  3.7253  3.5303  3.7098  3.7951  3.8599  4.1200  4.1416  4.1704  2.7919
 143  3.7253  3.5303  3.7098  3.7951  3.8599  4.1200  4.1416  4.1704  2.7919

         9    ...     179     180     181     182      183      184      185  \
 0    1.9640  ...  6.3545  4.9110  7.0670     NaN  10.1893  13.1071  10.5604
 1    1.9598  ...  6.3669  4.9149  7.0565  8.9067  10.3284  13.0908  10.5724
 2    1.9596  ...  6.3669  4.8872  7.0544  8.9320   9.6642  12.9822  10.5502
 3    1.9592  ...  6.3690  4.8724  7.0364  8.8609   9.5089  11.8066  10.4692
 4    1.9613  ...  6.3709  4.8669  7.0355  8.7856   9.7620  11.4914  10.2482
 ..      ...  ...     ...     ...     ...     ...      ...      ...      ...
 139  2.2244  ...  2.3486  2.3693  2.3856  2.3992   2.4094   2.4228   2.4388
 140  2.2244  ...  2.3495  2.3693  2.3858  2.3992   2.4094   2.4228   2.4388
 141  2.2244  ...  2.3495  2.3693  2.3857  2.3992   2.4094   2.4228   2.4388
 142  2.2244  ...  2.3495  2.3693  2.3858  2.3992   2.4094   2.4228   2.4388
 143  2.2244  ...  2.3495  2.3693  2.3858  2.3992   2.4094   2.4228   2.4388

          186      187      188
 0    14.5310      NaN  14.9015
 1    14.5433  15.9239  14.7769
 2    14.5212  15.8545  14.5661
 3    14.5130  15.4251  13.9168
 4    14.5066  14.9907  12.8571
 ..       ...      ...      ...
 139   2.4527   2.4650   2.4800
 140   2.4527   2.4656   2.4801
 141   2.4527   2.4670   2.4811
 142   2.4527   2.4670   2.4811
 143   2.4527   2.4670   2.4811

 [144 rows x 189 columns],
         0       1       2       3       4       5       6       7       8    \
 0    4.1469  2.4526  1.3869  2.4874  1.9308  1.7586  1.6998  1.5262  2.7133
 1    4.1138  2.5911  1.4830  2.4947  1.9275  1.7483  1.6701  1.7592  2.7027
 2    4.1284  3.1927  1.5689  2.5319  1.9344  1.7498  1.6734  1.8910  2.6952
 3    4.1275  3.6632  1.7301  2.5474  1.9772  1.7439  1.6410  1.8334  2.6512
 4    4.1250  3.7182  1.8473  2.5456  2.0122  1.7455  1.6142  1.8398  2.6161
 ..      ...     ...     ...     ...     ...     ...     ...     ...     ...
 139  3.7253  3.5335  3.7098  3.7951  3.8599  4.1200  4.1416  4.1733  2.7919
 140  3.7253  3.5303  3.7098  3.7951  3.8599  4.1200  4.1416  4.1727  2.7919
 141  3.7253  3.5303  3.7098  3.7951  3.8599  4.1200  4.1416  4.1704  2.7919
 142  3.7253  3.5303  3.7098  3.7951  3.8599  4.1200  4.1416  4.1704  2.7919
 143  3.7253  3.5303  3.7098  3.7951  3.8599  4.1200  4.1416  4.1704  2.7919

         9    ...     179     180     181      182      183      184      185  \
 0    1.9640  ...  6.3545  4.9110  7.0670  8.62815  10.1893  13.1071  10.5604
 1    1.9598  ...  6.3669  4.9149  7.0565  8.90670  10.3284  13.0908  10.5724
 2    1.9596  ...  6.3669  4.8872  7.0544  8.93200   9.6642  12.9822  10.5502
 3    1.9592  ...  6.3690  4.8724  7.0364  8.86090   9.5089  11.8066  10.4692
 4    1.9613  ...  6.3709  4.8669  7.0355  8.78560   9.7620  11.4914  10.2482
 ..      ...  ...     ...     ...     ...      ...      ...      ...      ...
 139  2.2244  ...  2.3486  2.3693  2.3856  2.39920   2.4094   2.4228   2.4388
 140  2.2244  ...  2.3495  2.3693  2.3858  2.39920   2.4094   2.4228   2.4388
 141  2.2244  ...  2.3495  2.3693  2.3857  2.39920   2.4094   2.4228   2.4388
 142  2.2244  ...  2.3495  2.3693  2.3858  2.39920   2.4094   2.4228   2.4388
 143  2.2244  ...  2.3495  2.3693  2.3858  2.39920   2.4094   2.4228   2.4388

          186       187      188
 0    14.5310  14.71625  14.9015
 1    14.5433  15.92390  14.7769
 2    14.5212  15.85450  14.5661
 3    14.5130  15.42510  13.9168
 4    14.5066  14.99070  12.8571
 ..       ...       ...      ...
 139   2.4527   2.46500   2.4800
 140   2.4527   2.46560   2.4801
 141   2.4527   2.46700   2.4811
 142   2.4527   2.46700   2.4811
 143   2.4527   2.46700   2.4811

 [144 rows x 189 columns],
         0       1       2       3       4       5       6       7       8    \
 0   -1.6943 -1.0657  1.1005 -0.5566 -0.1722 -0.0588 -0.1736  1.1871 -0.7493
 1   -1.5227 -1.1081  1.0117 -0.5672 -0.1792 -0.0782  0.0891  0.9435 -0.7429
 2   -0.9357 -1.6238  0.9630 -0.5975 -0.1846 -0.0764  0.2176  0.8042 -0.7356
 3   -0.4643 -1.9331  0.8173 -0.5702 -0.2333 -0.1029  0.1924  0.8178 -0.6920
 4   -0.4068 -1.8709  0.6983 -0.5334 -0.2667 -0.1313  0.2256  0.7763 -0.6548
 ..      ...     ...     ...     ...     ...     ...     ...     ...     ...
 139 -0.1918  0.1763  0.0853  0.0648  0.2601  0.0216  0.0317 -1.3814 -0.5675
 140 -0.1950  0.1795  0.0853  0.0648  0.2601  0.0216  0.0311 -1.3808 -0.5675
 141 -0.1950  0.1795  0.0853  0.0648  0.2601  0.0216  0.0288 -1.3785 -0.5675
 142 -0.1950  0.1795  0.0853  0.0648  0.2601  0.0216  0.0288 -1.3785 -0.5675
 143 -0.1950  0.1795  0.0853  0.0648  0.2601  0.0216  0.0288 -1.3785 -0.5675

         9    ...     178     179     180      181      182     183     184  \
 0   -0.6061  ...  1.8539 -1.4435  2.1560  1.56115  1.56115  2.9178 -2.5467
 1    0.3860  ... -0.5130 -1.4520  2.1416  1.85020  1.42170  2.7624 -2.5184
 2    0.2234  ... -0.0640 -1.4797  2.1672  1.87760  0.73220  3.3180 -2.4320
 3    0.2259  ...  0.5431 -1.4966  2.1640  1.82450  0.64800  2.2977 -1.3374
 4    0.2323  ...  0.7413 -1.5040  2.1686  1.75010  0.97640  1.7294 -1.2432
 ..      ...  ...     ...     ...     ...      ...      ...     ...     ...
 139  0.0460  ...  0.0228  0.0207  0.0163  0.01360  0.01020  0.0134  0.0160
 140  0.0460  ...  0.0233  0.0198  0.0165  0.01340  0.01020  0.0134  0.0160
 141  0.0460  ...  0.0232  0.0198  0.0164  0.01350  0.01020  0.0134  0.0160
 142  0.0460  ...  0.0232  0.0198  0.0165  0.01340  0.01020  0.0134  0.0160
 143  0.0460  ...  0.0232  0.0198  0.0165  0.01340  0.01020  0.0134  0.0160

         185      186      187
 0    3.9706  0.18525  0.18525
 1    3.9709  1.38060 -1.14700
 2    3.9710  1.33330 -1.28840
 3    4.0438  0.91210 -1.50830
 4    4.2584  0.48410 -2.13360
 ..      ...      ...      ...
 139  0.0139  0.01230  0.01500
 140  0.0139  0.01290  0.01450
 141  0.0139  0.01430  0.01410
 142  0.0139  0.01430  0.01410
 143  0.0139  0.01430  0.01410

 [144 rows x 188 columns],
 0     -0.113287
 1      0.202396
 2      0.001467
 3      0.072683
 4      0.244779
          ...
 183    0.013979
 184    0.018608
 185    0.010075
 186    0.013471
 187    0.017983
 Length: 188, dtype: float64,
 0     -0.193058
 1     -0.452790
 2     -0.262056
 3     -0.346896
 4     -0.193833
          ...
 183    0.198603
 184    0.029068
 185    0.525840
 186   -0.172339
 187   -0.143695
 Length: 188, dtype: float64]

In [ ]:
list(testing_class.transform_data.keys())

['time_string_interpolated_axis0',
 'time_string_interpolated_axis10',
 'time_string_diff_axis1_inter10',
 'time_string_avg_diff1_inter10',
 'time_string_avgmid_diff1_inter10',
 'pressure_interpolated_axis0',
 'pressure_interpolated_axis10',
 'pressure_diff_axis1_inter10',
 'pressure_avg_diff1_inter10',
 'pressure_avgmid_diff1_inter10']

In [ ]:
testing_class.transform_data['time_string_interpolated_axis0']

,0,1,2,3,4,5,6,7,8,9,...,179,180,181,182,183,184,185,186,187,188
0,29.9361,27.5332,27.1737,25.9267,26.4540,29.0358,26.6289,26.6174,28.9826,28.2259,...,28.5555,29.8580,29.9235,NaN,30.0514,29.4290,29.5754,29.5282,NaN,29.1427
1,30.0652,28.4830,29.4271,29.3493,28.8888,29.4126,29.3224,29.3280,28.9971,29.9959,...,28.5558,29.8648,29.9274,29.7281,29.9665,29.4426,29.5740,29.5198,29.4523,29.1863
2,30.0935,29.1041,29.4377,29.3921,28.8591,29.3929,29.3134,29.4147,29.0072,29.9633,...,28.5566,29.8659,29.9264,29.7590,30.0789,29.4564,29.5824,29.5275,29.4545,29.3564
3,30.1091,29.5710,29.5604,29.5093,29.1827,29.3984,29.4885,29.4981,29.0561,29.9635,...,28.5645,29.8668,29.9322,29.7725,30.0434,29.6191,29.6223,29.5274,29.5514,29.6615
4,30.1218,29.6513,29.6224,29.5026,29.4406,29.4117,29.6270,29.5663,29.0960,29.9649,...,28.5724,29.8671,29.9310,29.8191,30.0125,29.5388,29.7173,29.5314,29.6592,29.9484
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,31.0141,30.7971,31.0125,31.0144,31.0143,31.0099,31.0066,30.9932,30.8674,30.9116,...,30.9709,30.9632,30.9571,30.9520,30.9412,30.9409,30.9365,30.9271,30.9199,30.9166
140,31.0141,30.8656,31.0125,31.0144,31.0143,31.0099,31.0066,30.9935,30.8674,30.9116,...,30.9709,30.9632,30.9575,30.9520,30.9412,30.9409,30.9365,30.9271,30.9199,30.9166
141,31.0141,30.8656,31.0125,31.0144,31.0143,31.0099,31.0066,30.9937,30.8674,30.9116,...,30.9709,30.9632,30.9579,30.9520,30.9412,30.9409,30.9365,30.9271,30.9195,30.9162
142,31.0141,30.8656,31.0125,31.0144,31.0143,31.0099,31.0066,30.9937,30.8674,30.9116,...,30.9709,30.9632,30.9580,30.9520,30.9412,30.9409,30.9365,30.9271,30.9195,30.9162
143,31.0141,30.8656,31.0125,31.0144,31.0143,31.0099,31.0066,30.9937,30.8674,30.9116,...,30.9709,30.9632,30.9580,30.9520,30.9412,30.9409,30.9365,30.9271,30.9195,30.9162

In [ ]:
testing_class.transform_data['pressure_interpolated_axis0']

,0,1,2,3,4,5,6,7,8,9,...,179,180,181,182,183,184,185,186,187,188
0,4.1469,2.4526,1.3869,2.4874,1.9308,1.7586,1.6998,1.5262,2.7133,1.9640,...,6.3545,4.9110,7.0670,NaN,10.1893,13.1071,10.5604,14.5310,NaN,14.9015
1,4.1138,2.5911,1.4830,2.4947,1.9275,1.7483,1.6701,1.7592,2.7027,1.9598,...,6.3669,4.9149,7.0565,8.9067,10.3284,13.0908,10.5724,14.5433,15.9239,14.7769
2,4.1284,3.1927,1.5689,2.5319,1.9344,1.7498,1.6734,1.8910,2.6952,1.9596,...,6.3669,4.8872,7.0544,8.9320,9.6642,12.9822,10.5502,14.5212,15.8545,14.5661
3,4.1275,3.6632,1.7301,2.5474,1.9772,1.7439,1.6410,1.8334,2.6512,1.9592,...,6.3690,4.8724,7.0364,8.8609,9.5089,11.8066,10.4692,14.5130,15.4251,13.9168
4,4.1250,3.7182,1.8473,2.5456,2.0122,1.7455,1.6142,1.8398,2.6161,1.9613,...,6.3709,4.8669,7.0355,8.7856,9.7620,11.4914,10.2482,14.5066,14.9907,12.8571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,3.7253,3.5335,3.7098,3.7951,3.8599,4.1200,4.1416,4.1733,2.7919,2.2244,...,2.3486,2.3693,2.3856,2.3992,2.4094,2.4228,2.4388,2.4527,2.4650,2.4800
140,3.7253,3.5303,3.7098,3.7951,3.8599,4.1200,4.1416,4.1727,2.7919,2.2244,...,2.3495,2.3693,2.3858,2.3992,2.4094,2.4228,2.4388,2.4527,2.4656,2.4801
141,3.7253,3.5303,3.7098,3.7951,3.8599,4.1200,4.1416,4.1704,2.7919,2.2244,...,2.3495,2.3693,2.3857,2.3992,2.4094,2.4228,2.4388,2.4527,2.4670,2.4811
142,3.7253,3.5303,3.7098,3.7951,3.8599,4.1200,4.1416,4.1704,2.7919,2.2244,...,2.3495,2.3693,2.3858,2.3992,2.4094,2.4228,2.4388,2.4527,2.4670,2.4811
143,3.7253,3.5303,3.7098,3.7951,3.8599,4.1200,4.1416,4.1704,2.7919,2.2244,...,2.3495,2.3693,2.3858,2.3992,2.4094,2.4228,2.4388,2.4527,2.4670,2.4811

Connected to Python 3.12.3

In [ ]:
cd test

[WinError 2] The system cannot find the file specified: 'test'
d:\Projects\Intrusion_Redo

C:\Users\eddga\AppData\Roaming\Python\Python312\site-packages\IPython\core\magics\osm.py:393: UserWarning: This is now an optional IPython functionality, using bookmarks requires you to install the `pickleshare` library.
  bkms = self.shell.db.get('bookmarks', {})

In [ ]:
ls

 Volume in drive D is Data
 Volume Serial Number is DEC0-2228

 Directory of d:\Projects\Intrusion_Redo

2024-07-22  02:47 PM    <DIR>          .
2024-07-22  02:47 PM    <DIR>          ..
2024-07-14  01:04 PM                 0 .env
2024-07-24  11:56 AM    <DIR>          .git
2024-07-16  07:31 PM    <DIR>          .github
2024-07-16  07:31 PM               356 .gitignore
2024-07-22  02:47 PM    <DIR>          .pytest_cache
2024-07-16  06:13 PM    <DIR>          .vscode
2024-07-01  08:20 PM    <DIR>          data
2024-07-16  07:31 PM               180 Pipfile
2024-07-16  07:31 PM            12,085 Pipfile.lock
2024-07-16  07:31 PM             1,047 qodana.yaml
2024-07-23  12:00 PM             6,666 README.md
2024-07-22  03:06 PM    <DIR>          SRC
2024-07-25  10:07 PM    <DIR>          tests
               6 File(s)         20,334 bytes
               9 Dir(s)  720,372,183,040 bytes free

In [ ]:
cd tests/

d:\Projects\Intrusion_Redo\tests

C:\Users\eddga\AppData\Roaming\Python\Python312\site-packages\IPython\core\magics\osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [ ]:
# Imports
import pytest
import sys
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import ETL_processes as ETL
import numpy as np
import pandas as pd
import joblib

# Test Arguments
raw_data = 'raw_sample.csv'
raw_file_path = './tests/' + raw_data
deep = 60
shallow = [20, 35]
date_format ="%Y-%m-%d %H:%M"
variables = ['time_string',
            'pressure',
            'salinity',
            'temperature'
            ]

# Initialize class
testing_class = ETL.Intrusion_ETL(raw_data, variables, deep, shallow, date_format)

testing_class.get_target_data() 
testing_class.group_data()
testing_class.normalize_length_data()
testing_class.get_variable_matrices()
testing_class.data_transformations()
testing_class.conform_schema()

joblib.dump(testing_class.output_data, 'profile_dataset_sample.pkl')
print(f'Saved as profile_dataset_sample.pkl')

Reading CSV file
Extrating target data
Updating target data and grouping by profile
Nomalizing depths and filling with NaN
Creating Target Variable Matrices
Creating Target Variable Matrices
Interpolating Data

KeyError: 'oxygen_avgmid_diff1_inter10'

In [ ]:
if er:
    peint(good)

NameError: name 'er' is not defined

In [ ]:
er in locals()

NameError: name 'er' is not defined

In [ ]:
'er' in locals()

False

In [ ]:
'testing_class' in locals()

True

In [ ]:
'testing_class.transform_data['pressure_interpolated_axis0']' in locals()

SyntaxError: invalid syntax (<ipython-input-9-d5b25acd4bc4>, line 1)

In [ ]:
'testing_class.transform_data[pressure_interpolated_axis0]' in locals()

False

In [ ]:
'testing_class.transform_data' in locals()

False

In [ ]:
# Imports
import pytest
import sys
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import ETL_processes as ETL
import numpy as np
import pandas as pd
import joblib

# Test Arguments
raw_data = 'raw_sample.csv'
raw_file_path = './tests/' + raw_data
deep = 60
shallow = [20, 35]
date_format ="%Y-%m-%d %H:%M"
variables = ['time_string',
            'pressure',
            'salinity',
            'temperature'
            ]

# Initialize class
testing_class = ETL.Intrusion_ETL(raw_data, variables, deep, shallow, date_format)

testing_class.get_target_data() 
testing_class.group_data()
testing_class.normalize_length_data()
testing_class.get_variable_matrices()
testing_class.data_transformations()
testing_class.conform_schema()

joblib.dump(testing_class.output_data, 'profile_dataset_sample.pkl')
print(f'Saved as profile_dataset_sample.pkl')

Reading CSV file
Extrating target data
Updating target data and grouping by profile
Nomalizing depths and filling with NaN
Creating Target Variable Matrices
Creating Target Variable Matrices
Interpolating Data

KeyError: 'oxygen_avgmid_diff1_inter10'

Connected to Python 3.12.3

In [ ]:
# Imports
import pytest
import sys
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import ETL_processes as ETL
import numpy as np
import pandas as pd
import joblib

# Test Arguments
raw_data = 'raw_sample.csv'
raw_file_path = './tests/' + raw_data
deep = 60
shallow = [20, 35]
date_format ="%Y-%m-%d %H:%M"
variables = ['time_string',
            'pressure',
            'salinity',
            'temperature'
            ]

# Initialize class
testing_class = ETL.Intrusion_ETL(raw_data, variables, deep, shallow, date_format)

testing_class.get_target_data() 
testing_class.group_data()
testing_class.normalize_length_data()
testing_class.get_variable_matrices()
testing_class.data_transformations()
testing_class.conform_schema()

joblib.dump(testing_class.output_data, 'profile_dataset_sample.pkl')
print(f'Saved as profile_dataset_sample.pkl')

Reading CSV file

FileNotFoundError: [Errno 2] No such file or directory: 'raw_sample.csv'

In [ ]:
cd tests/

d:\Projects\Intrusion_Redo\tests

C:\Users\eddga\AppData\Roaming\Python\Python312\site-packages\IPython\core\magics\osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [ ]:
# Imports
import pytest
import sys
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import ETL_processes as ETL
import numpy as np
import pandas as pd
import joblib

# Test Arguments
raw_data = 'raw_sample.csv'
raw_file_path = './tests/' + raw_data
deep = 60
shallow = [20, 35]
date_format ="%Y-%m-%d %H:%M"
variables = ['time_string',
            'pressure',
            'salinity',
            'temperature'
            ]

# Initialize class
testing_class = ETL.Intrusion_ETL(raw_data, variables, deep, shallow, date_format)

testing_class.get_target_data() 
testing_class.group_data()
testing_class.normalize_length_data()
testing_class.get_variable_matrices()
testing_class.data_transformations()
testing_class.conform_schema()

joblib.dump(testing_class.output_data, 'profile_dataset_sample.pkl')
print(f'Saved as profile_dataset_sample.pkl')

Reading CSV file
Extrating target data
Updating target data and grouping by profile
Nomalizing depths and filling with NaN
Creating Target Variable Matrices
Creating Target Variable Matrices
Interpolating Data

KeyError: 'oxygen_avgmid_diff1_inter10'

Connected to Python 3.12.3

In [ ]:
cd tests

d:\Projects\Intrusion_Redo\tests

C:\Users\eddga\AppData\Roaming\Python\Python312\site-packages\IPython\core\magics\osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [ ]:
# Imports
import pytest
import sys
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import ETL_processes as ETL
import numpy as np
import pandas as pd
import joblib

# Test Arguments
raw_data = 'raw_sample.csv'
raw_file_path = './tests/' + raw_data
deep = 60
shallow = [20, 35]
date_format ="%Y-%m-%d %H:%M"
variables = ['time_string',
            'pressure',
            'salinity',
            'temperature'
            ]

# Initialize class
testing_class = ETL.Intrusion_ETL(raw_data, variables, deep, shallow, date_format)

testing_class.get_target_data() 
testing_class.group_data()
testing_class.normalize_length_data()
testing_class.get_variable_matrices()
testing_class.data_transformations()
testing_class.conform_schema()

joblib.dump(testing_class.output_data, 'profile_dataset_sample.pkl')
print(f'Saved as profile_dataset_sample.pkl')

Reading CSV file
Extrating target data
Updating target data and grouping by profile
Nomalizing depths and filling with NaN
Creating Target Variable Matrices
Creating Target Variable Matrices
Interpolating Data
Saved as profile_dataset_sample.pkl

In [ ]:
# Imports
import pytest
import sys
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import ETL_processes as ETL
import numpy as np
import pandas as pd
import joblib

# Test Arguments
raw_data = 'raw_sample.csv'
raw_file_path = './tests/' + raw_data
deep = 60
shallow = [20, 35]
date_format ="%Y-%m-%d %H:%M"
variables = ['time_string',
            'pressure',
            'salinity',
            'temperature'
            ]

# Initialize class
testing_class = ETL.Intrusion_ETL(raw_data, variables, deep, shallow, date_format)

testing_class.get_target_data() 
testing_class.group_data()
testing_class.normalize_length_data()
testing_class.get_variable_matrices()
testing_class.data_transformations()
testing_class.conform_schema()

joblib.dump(testing_class.output_data, './mock_data/profile_dataset_sample.pkl')
print(f'Saved as profile_dataset_sample.pkl')

Reading CSV file
Extrating target data
Updating target data and grouping by profile
Nomalizing depths and filling with NaN
Creating Target Variable Matrices
Creating Target Variable Matrices
Interpolating Data
Saved as profile_dataset_sample.pkl

In [ ]:
manual_intrusion_input = './mock_data/manualID_MID_sample.pkl'
intrusion_dates = INT.import_joblib(manual_intrusion_input)

NameError: name 'INT' is not defined

In [ ]:
import Intrusion_analysis as INT
manual_intrusion_input = './mock_data/manualID_MID_sample.pkl'
intrusion_dates = INT.import_joblib(manual_intrusion_input)

In [ ]:
intrusion_dates

[datetime.datetime(1999, 8, 14, 16, 56, 20, 22428),
 datetime.datetime(2001, 7, 29, 6, 43, 45, 822001),
 datetime.datetime(2002, 8, 15, 10, 13, 40, 429573),
 datetime.datetime(2003, 8, 2, 3, 25, 33, 170449),
 datetime.datetime(2003, 10, 18, 11, 35, 7, 410395),
 datetime.datetime(2005, 7, 23, 5, 58, 43, 374052),
 datetime.datetime(2005, 9, 26, 3, 55, 3, 887628),
 datetime.datetime(2006, 7, 8, 22, 7, 42, 627497),
 datetime.datetime(2007, 7, 15, 14, 26, 43, 363806),
 datetime.datetime(2008, 8, 23, 8, 59, 16, 976410),
 datetime.datetime(2009, 7, 18, 15, 36, 40, 97614),
 datetime.datetime(2010, 9, 10, 16, 43, 39, 966196),
 datetime.datetime(2011, 8, 28, 18, 45, 36, 473365),
 datetime.datetime(2012, 7, 13, 20, 17, 10, 414355),
 datetime.datetime(2012, 9, 2, 21, 49, 34, 827123),
 datetime.datetime(2013, 7, 6, 4, 58, 15, 43175),
 datetime.datetime(2015, 8, 8, 17, 19, 50, 415217),
 datetime.datetime(2016, 9, 3, 6, 18, 26, 356907),
 datetime.datetime(2017, 7, 8, 2, 14, 13, 738651),
 datetime.datetime(2019, 11, 9, 4, 8, 49, 685699),
 datetime.datetime(2021, 11, 22, 5, 41, 25, 579977),
 datetime.datetime(2022, 7, 25, 7, 44, 2, 506469),
 datetime.datetime(2022, 9, 16, 22, 25, 46, 956899),
 datetime.datetime(2023, 3, 8, 19, 41, 46, 242444)]

In [ ]:
testing_class.normalized_dates

[1578576960.0,
 1579096380.0,
 1579699020.0,
 1580303520.0,
 1580908200.0,
 1581520680.0,
 1582118460.0,
 1582637460.0,
 1583327220.0,
 1583842500.0,
 1584361080.0,
 1601379180.0,
 1603368000.0,
 1603973940.0,
 1604495640.0,
 1605014520.0,
 1605704760.0,
 1606310940.0,
 1606919940.0,
 1607519400.0,
 1608126540.0,
 1608642660.0,
 1609938960.0,
 1610543700.0,
 1611148920.0,
 1612373940.0,
 1613659860.0,
 1614087060.0,
 1614863520.0,
 1615295100.0,
 1615953960.0,
 1616476140.0,
 1617117180.0,
 1617884400.0,
 1618580460.0,
 1619007600.0,
 1623844560.0,
 1624451160.0,
 1625054040.0,
 1625659860.0,
 1626350100.0,
 1626877320.0,
 1627474800.0,
 1628168520.0,
 1628599140.0,
 1629203040.0,
 1629892020.0,
 1630498440.0,
 1631103060.0,
 1631707440.0,
 1632312060.0,
 1632833220.0,
 1633521120.0,
 1634214360.0,
 1634644440.0,
 1635507420.0,
 1635949440.0,
 1636547940.0,
 1637154240.0,
 1637933100.0,
 1638363720.0,
 1638967980.0,
 1639572660.0,
 1640782260.0,
 1641557640.0,
 1641998880.0,
 1643200680.0,
 1643806320.0,
 1644497460.0,
 1645016520.0,
 1645535700.0,
 1646139240.0,
 1646832720.0,
 1647432660.0,
 1648726440.0,
 1649331600.0,
 1649764140.0,
 1650457080.0,
 1651060740.0,
 1651664280.0,
 1652096940.0,
 1652873820.0,
 1653479220.0,
 1654085040.0,
 1654688700.0,
 1655293560.0,
 1655900580.0,
 1656503880.0,
 1657194540.0,
 1657714860.0,
 1658317320.0,
 1658923380.0,
 1659528060.0,
 1660220040.0,
 1660823220.0,
 1661341380.0,
 1661948880.0,
 1662552240.0,
 1663156200.0,
 1663760760.0,
 1664970960.0,
 1665575160.0,
 1666267320.0,
 1666785660.0,
 1667390700.0,
 1667999880.0,
 1668517800.0,
 1669208820.0,
 1669813140.0,
 1670418300.0,
 1671022680.0,
 1671627540.0,
 1672924440.0,
 1673442720.0,
 1674046740.0,
 1674652260.0,
 1675257000.0,
 1675861140.0,
 1676466180.0,
 1676983980.0,
 1677675420.0,
 1678193220.0,
 1678881960.0,
 1679486040.0,
 1680090960.0,
 1680695640.0,
 1681300740.0,
 1681906440.0,
 1682510400.0,
 1683114900.0,
 1683719640.0,
 1684324860.0,
 1684929420.0,
 1685533680.0,
 1686138900.0,
 1686743580.0,
 1687348620.0,
 1687953180.0,
 1688557260.0,
 1689249420.0,
 1689767400.0,
 1690371900.0,
 1690977300.0,
 1691582820.0,
 1692187560.0,
 1692792180.0,
 1693398000.0,
 1694001840.0,
 1694605800.0,
 1695210480.0,
 1695815640.0,
 1696420140.0,
 1697024820.0,
 1697543820.0,
 1698235380.0,
 1698840000.0,
 1699448580.0,
 1700053080.0,
 1700658120.0,
 1701263100.0,
 1701953940.0,
 1702471320.0,
 1703077800.0,
 1704286860.0,
 1704805800.0,
 1705496100.0,
 1706187240.0,
 1706706300.0,
 1707310980.0,
 1707828960.0,
 1708520100.0,
 1709038800.0,
 1709729820.0,
 1710330900.0,
 1710942240.0,
 1711541040.0,
 1712145060.0,
 1712750820.0,
 1713354960.0,
 1713959280.0,
 1714564920.0,
 1715169240.0,
 1715774280.0,
 1716381600.0,
 1716984000.0,
 1717588320.0,
 1718193360.0,
 1718798220.0,
 1719405540.0]

In [ ]:
testing_class.raw_data

,time_string,year_time,month_time,day_time,julian_day,scan,pressure,temperature,conductivity,oxygenVoltage,...,oxygenTemperature,oxygenSaturation,unknown2,altimeter,sigmaTheta2,VOLT,depth,fluorometer,par,flagArchaic
0,2020-01-09 13:36,2020,1,9,9,-1451,0.5,4.1469,0.661252,3.1894,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-09 13:36,2020,1,9,9,1656,1.0,4.1138,0.663233,2.4783,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-09 13:36,2020,1,9,9,2168,1.5,4.1284,0.664072,2.3823,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-09 13:36,2020,1,9,9,2253,2.0,4.1275,0.664373,2.3675,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-09 13:36,2020,1,9,9,2261,2.5,4.1250,0.664587,2.3660,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26125,2024-06-26 12:39,2024,6,26,178,6980,69.0,2.4778,2.791233,1.3810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26126,2024-06-26 12:39,2024,6,26,178,6999,69.5,2.4789,2.791385,1.3729,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26127,2024-06-26 12:39,2024,6,26,178,7018,70.0,2.4800,2.791525,1.3665,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26128,2024-06-26 12:39,2024,6,26,178,7039,70.5,2.4801,2.791556,1.3617,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26129,2024-06-26 12:39,2024,6,26,178,7106,71.0,2.4811,2.791625,1.3532,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
[item for item.year>2019 in intrusion_dates]

SyntaxError: invalid syntax (<ipython-input-9-fe48bd71ff3b>, line 1)

In [ ]:
[item.year>2019 for item in intrusion_dates]

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True]

In [ ]:
[item if item.year>2019 for item in intrusion_dates]

SyntaxError: expected 'else' after 'if' expression (<ipython-input-11-daa984144b22>, line 1)

In [ ]:
[item if item.year>2019 else pass for item in intrusion_dates]

SyntaxError: invalid syntax (<ipython-input-12-35c024a714c5>, line 1)

In [ ]:
[item if item.year>2019 else for item in intrusion_dates]

SyntaxError: invalid syntax (<ipython-input-13-bab7ebad0b74>, line 1)

In [ ]:
[item for item in intrusion_dates if item.year>2019]

[datetime.datetime(2021, 11, 22, 5, 41, 25, 579977),
 datetime.datetime(2022, 7, 25, 7, 44, 2, 506469),
 datetime.datetime(2022, 9, 16, 22, 25, 46, 956899),
 datetime.datetime(2023, 3, 8, 19, 41, 46, 242444)]

In [ ]:
intrusion_dates = [item for item in intrusion_dates if item.year>2019]

In [ ]:
joblib.dump(intrusion_dates, './mock_data/manualID_MID_sample.pkl')

['./mock_data/manualID_MID_sample.pkl']

In [ ]:
import Intrusion_analysis as INT
manual_intrusion_input = './mock_data/manualID_MID_sample.pkl'
intrusion_dates = INT.import_joblib(manual_intrusion_input)

In [ ]:
intrusion_dates

[datetime.datetime(2021, 11, 22, 5, 41, 25, 579977),
 datetime.datetime(2022, 7, 25, 7, 44, 2, 506469),
 datetime.datetime(2022, 9, 16, 22, 25, 46, 956899),
 datetime.datetime(2023, 3, 8, 19, 41, 46, 242444)]

In [ ]:
import sys
import joblib
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import ETL_processes as ETL
import Intrusion_analysis as INT
import numpy as np
import pandas as pd
from datetime import datetime

# Test Arguments
file_name = 'profile_dataset_sample.pkl'
path_data = './mock_data/'
file_dirpath = path_data + file_name

# Initialize class
testing_class = INT.Intrusions(file_dirpath)

------ Importing Data

In [ ]:
manual_intrusion_input = './mock_data/manualID_MID_sample.pkl'
intrusion_dates = INT.import_joblib(manual_intrusion_input)
testing_class.manualID_dates = intrusion_dates

In [ ]:
testing_class.get_original_indices()

In [ ]:
testing_class.manualID_indices

[]

In [ ]:
testing_class.dates

[]

In [ ]:
testing_class.uyears

[]

In [ ]:
cd tests

d:\Projects\Intrusion_Redo\tests

C:\Users\eddga\AppData\Roaming\Python\Python312\site-packages\IPython\core\magics\osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [ ]:
manual_intrusion_input = './mock_data/manualID_MID_sample.pkl'
intrusion_dates = INT.import_joblib(manual_intrusion_input)
testing_class.manualID_dates = intrusion_dates

NameError: name 'INT' is not defined

In [ ]:
import sys
import joblib
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import ETL_processes as ETL
import Intrusion_analysis as INT
import numpy as np
import pandas as pd
from datetime import datetime

# Test Arguments
file_name = 'profile_dataset_sample.pkl'
path_data = './mock_data/'
file_dirpath = path_data + file_name

# Initialize class
testing_class = INT.Intrusions(file_dirpath)
manual_intrusion_input = './mock_data/manualID_MID_sample.pkl'
intrusion_dates = INT.import_joblib(manual_intrusion_input)
testing_class.manualID_dates = intrusion_dates

AttributeError: partially initialized module 'pandas' has no attribute '_pandas_parser_CAPI' (most likely due to a circular import)

In [ ]:
cd tests/

d:\Projects\Intrusion_Redo\tests

C:\Users\eddga\AppData\Roaming\Python\Python312\site-packages\IPython\core\magics\osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [ ]:
import sys
import joblib
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import Intrusion_analysis as INT
import numpy as np
import pandas as pd
from datetime import datetime

# Test Arguments
file_name = 'profile_dataset_sample.pkl'
path_data = './mock_data/'
file_dirpath = path_data + file_name

# Initialize class
testing_class = INT.Intrusions(file_dirpath)
manual_intrusion_input = './mock_data/manualID_MID_sample.pkl'
intrusion_dates = INT.import_joblib(manual_intrusion_input)
testing_class.manualID_dates = intrusion_dates

------ Importing Data

In [ ]:
testing_class.dates

[datetime.datetime(2020, 1, 9, 9, 36),
 datetime.datetime(2020, 1, 15, 9, 53),
 datetime.datetime(2020, 1, 22, 9, 17),
 datetime.datetime(2020, 1, 29, 9, 12),
 datetime.datetime(2020, 2, 5, 9, 10),
 datetime.datetime(2020, 2, 12, 11, 18),
 datetime.datetime(2020, 2, 19, 9, 21),
 datetime.datetime(2020, 2, 25, 9, 31),
 datetime.datetime(2020, 3, 4, 9, 7),
 datetime.datetime(2020, 3, 10, 9, 15),
 datetime.datetime(2020, 3, 16, 9, 18),
 datetime.datetime(2020, 9, 29, 8, 33),
 datetime.datetime(2020, 10, 22, 9, 0),
 datetime.datetime(2020, 10, 29, 9, 19),
 datetime.datetime(2020, 11, 4, 9, 14),
 datetime.datetime(2020, 11, 10, 9, 22),
 datetime.datetime(2020, 11, 18, 9, 6),
 datetime.datetime(2020, 11, 25, 9, 29),
 datetime.datetime(2020, 12, 2, 10, 39),
 datetime.datetime(2020, 12, 9, 9, 10),
 datetime.datetime(2020, 12, 16, 9, 49),
 datetime.datetime(2020, 12, 22, 9, 11),
 datetime.datetime(2021, 1, 6, 9, 16),
 datetime.datetime(2021, 1, 13, 9, 15),
 datetime.datetime(2021, 1, 20, 9, 22),
 datetime.datetime(2021, 2, 3, 13, 39),
 datetime.datetime(2021, 2, 18, 10, 51),
 datetime.datetime(2021, 2, 23, 9, 31),
 datetime.datetime(2021, 3, 4, 9, 12),
 datetime.datetime(2021, 3, 9, 9, 5),
 datetime.datetime(2021, 3, 17, 1, 6),
 datetime.datetime(2021, 3, 23, 2, 9),
 datetime.datetime(2021, 3, 30, 12, 13),
 datetime.datetime(2021, 4, 8, 9, 20),
 datetime.datetime(2021, 4, 16, 10, 41),
 datetime.datetime(2021, 4, 21, 9, 20),
 datetime.datetime(2021, 6, 16, 8, 56),
 datetime.datetime(2021, 6, 23, 9, 26),
 datetime.datetime(2021, 6, 30, 8, 54),
 datetime.datetime(2021, 7, 7, 9, 11),
 datetime.datetime(2021, 7, 15, 8, 55),
 datetime.datetime(2021, 7, 21, 11, 22),
 datetime.datetime(2021, 7, 28, 9, 20),
 datetime.datetime(2021, 8, 5, 10, 2),
 datetime.datetime(2021, 8, 10, 9, 39),
 datetime.datetime(2021, 8, 17, 9, 24),
 datetime.datetime(2021, 8, 25, 8, 47),
 datetime.datetime(2021, 9, 1, 9, 14),
 datetime.datetime(2021, 9, 8, 9, 11),
 datetime.datetime(2021, 9, 15, 9, 4),
 datetime.datetime(2021, 9, 22, 9, 1),
 datetime.datetime(2021, 9, 28, 9, 47),
 datetime.datetime(2021, 10, 6, 8, 52),
 datetime.datetime(2021, 10, 14, 9, 26),
 datetime.datetime(2021, 10, 19, 8, 54),
 datetime.datetime(2021, 10, 29, 8, 37),
 datetime.datetime(2021, 11, 3, 11, 24),
 datetime.datetime(2021, 11, 10, 8, 39),
 datetime.datetime(2021, 11, 17, 9, 4),
 datetime.datetime(2021, 11, 26, 9, 25),
 datetime.datetime(2021, 12, 1, 9, 2),
 datetime.datetime(2021, 12, 8, 8, 53),
 datetime.datetime(2021, 12, 15, 8, 51),
 datetime.datetime(2021, 12, 29, 8, 51),
 datetime.datetime(2022, 1, 7, 8, 14),
 datetime.datetime(2022, 1, 12, 10, 48),
 datetime.datetime(2022, 1, 26, 8, 38),
 datetime.datetime(2022, 2, 2, 8, 52),
 datetime.datetime(2022, 2, 10, 8, 51),
 datetime.datetime(2022, 2, 16, 9, 2),
 datetime.datetime(2022, 2, 22, 9, 15),
 datetime.datetime(2022, 3, 1, 8, 54),
 datetime.datetime(2022, 3, 9, 9, 32),
 datetime.datetime(2022, 3, 16, 9, 11),
 datetime.datetime(2022, 3, 31, 8, 34),
 datetime.datetime(2022, 4, 7, 8, 40),
 datetime.datetime(2022, 4, 12, 8, 49),
 datetime.datetime(2022, 4, 20, 9, 18),
 datetime.datetime(2022, 4, 27, 8, 59),
 datetime.datetime(2022, 5, 4, 8, 38),
 datetime.datetime(2022, 5, 9, 8, 49),
 datetime.datetime(2022, 5, 18, 8, 37),
 datetime.datetime(2022, 5, 25, 8, 47),
 datetime.datetime(2022, 6, 1, 9, 4),
 datetime.datetime(2022, 6, 8, 8, 45),
 datetime.datetime(2022, 6, 15, 8, 46),
 datetime.datetime(2022, 6, 22, 9, 23),
 datetime.datetime(2022, 6, 29, 8, 58),
 datetime.datetime(2022, 7, 7, 8, 49),
 datetime.datetime(2022, 7, 13, 9, 21),
 datetime.datetime(2022, 7, 20, 8, 42),
 datetime.datetime(2022, 7, 27, 9, 3),
 datetime.datetime(2022, 8, 3, 9, 1),
 datetime.datetime(2022, 8, 11, 9, 14),
 datetime.datetime(2022, 8, 18, 8, 47),
 datetime.datetime(2022, 8, 24, 8, 43),
 datetime.datetime(2022, 8, 31, 9, 28),
 datetime.datetime(2022, 9, 7, 9, 4),
 datetime.datetime(2022, 9, 14, 8, 50),
 datetime.datetime(2022, 9, 21, 8, 46),
 datetime.datetime(2022, 10, 5, 8, 56),
 datetime.datetime(2022, 10, 12, 8, 46),
 datetime.datetime(2022, 10, 20, 9, 2),
 datetime.datetime(2022, 10, 26, 9, 1),
 datetime.datetime(2022, 11, 2, 9, 5),
 datetime.datetime(2022, 11, 9, 9, 18),
 datetime.datetime(2022, 11, 15, 9, 10),
 datetime.datetime(2022, 11, 23, 9, 7),
 datetime.datetime(2022, 11, 30, 8, 59),
 datetime.datetime(2022, 12, 7, 9, 5),
 datetime.datetime(2022, 12, 14, 8, 58),
 datetime.datetime(2022, 12, 21, 8, 59),
 datetime.datetime(2023, 1, 5, 9, 14),
 datetime.datetime(2023, 1, 11, 9, 12),
 datetime.datetime(2023, 1, 18, 8, 59),
 datetime.datetime(2023, 1, 25, 9, 11),
 datetime.datetime(2023, 2, 1, 9, 10),
 datetime.datetime(2023, 2, 8, 8, 59),
 datetime.datetime(2023, 2, 15, 9, 3),
 datetime.datetime(2023, 2, 21, 8, 53),
 datetime.datetime(2023, 3, 1, 8, 57),
 datetime.datetime(2023, 3, 7, 8, 47),
 datetime.datetime(2023, 3, 15, 9, 6),
 datetime.datetime(2023, 3, 22, 8, 54),
 datetime.datetime(2023, 3, 29, 8, 56),
 datetime.datetime(2023, 4, 5, 8, 54),
 datetime.datetime(2023, 4, 12, 8, 59),
 datetime.datetime(2023, 4, 19, 9, 14),
 datetime.datetime(2023, 4, 26, 9, 0),
 datetime.datetime(2023, 5, 3, 8, 55),
 datetime.datetime(2023, 5, 10, 8, 54),
 datetime.datetime(2023, 5, 17, 9, 1),
 datetime.datetime(2023, 5, 24, 8, 57),
 datetime.datetime(2023, 5, 31, 8, 48),
 datetime.datetime(2023, 6, 7, 8, 55),
 datetime.datetime(2023, 6, 14, 8, 53),
 datetime.datetime(2023, 6, 21, 8, 57),
 datetime.datetime(2023, 6, 28, 8, 53),
 datetime.datetime(2023, 7, 5, 8, 41),
 datetime.datetime(2023, 7, 13, 8, 57),
 datetime.datetime(2023, 7, 19, 8, 50),
 datetime.datetime(2023, 7, 26, 8, 45),
 datetime.datetime(2023, 8, 2, 8, 55),
 datetime.datetime(2023, 8, 9, 9, 7),
 datetime.datetime(2023, 8, 16, 9, 6),
 datetime.datetime(2023, 8, 23, 9, 3),
 datetime.datetime(2023, 8, 30, 9, 20),
 datetime.datetime(2023, 9, 6, 9, 4),
 datetime.datetime(2023, 9, 13, 8, 50),
 datetime.datetime(2023, 9, 20, 8, 48),
 datetime.datetime(2023, 9, 27, 8, 54),
 datetime.datetime(2023, 10, 4, 8, 49),
 datetime.datetime(2023, 10, 11, 8, 47),
 datetime.datetime(2023, 10, 17, 8, 57),
 datetime.datetime(2023, 10, 25, 9, 3),
 datetime.datetime(2023, 11, 1, 9, 0),
 datetime.datetime(2023, 11, 8, 9, 3),
 datetime.datetime(2023, 11, 15, 8, 58),
 datetime.datetime(2023, 11, 22, 9, 2),
 datetime.datetime(2023, 11, 29, 9, 5),
 datetime.datetime(2023, 12, 7, 8, 59),
 datetime.datetime(2023, 12, 13, 8, 42),
 datetime.datetime(2023, 12, 20, 9, 10),
 datetime.datetime(2024, 1, 3, 9, 1),
 datetime.datetime(2024, 1, 9, 9, 10),
 datetime.datetime(2024, 1, 17, 8, 55),
 datetime.datetime(2024, 1, 25, 8, 54),
 datetime.datetime(2024, 1, 31, 9, 5),
 datetime.datetime(2024, 2, 7, 9, 3),
 datetime.datetime(2024, 2, 13, 8, 56),
 datetime.datetime(2024, 2, 21, 8, 55),
 datetime.datetime(2024, 2, 27, 9, 0),
 datetime.datetime(2024, 3, 6, 8, 57),
 datetime.datetime(2024, 3, 13, 8, 55),
 datetime.datetime(2024, 3, 20, 10, 44),
 datetime.datetime(2024, 3, 27, 9, 4),
 datetime.datetime(2024, 4, 3, 8, 51),
 datetime.datetime(2024, 4, 10, 9, 7),
 datetime.datetime(2024, 4, 17, 8, 56),
 datetime.datetime(2024, 4, 24, 8, 48),
 datetime.datetime(2024, 5, 1, 9, 2),
 datetime.datetime(2024, 5, 8, 8, 54),
 datetime.datetime(2024, 5, 15, 8, 58),
 datetime.datetime(2024, 5, 22, 9, 40),
 datetime.datetime(2024, 5, 29, 9, 0),
 datetime.datetime(2024, 6, 5, 8, 52),
 datetime.datetime(2024, 6, 12, 8, 56),
 datetime.datetime(2024, 6, 19, 8, 57),
 datetime.datetime(2024, 6, 26, 9, 39)]

In [ ]:
testing_class.get_original_indices()

In [ ]:
testing_class.manualID_indices

[58, 90, 97, 120]

In [ ]:
testing_class.dates[58]

datetime.datetime(2021, 11, 17, 9, 4)

In [ ]:
intrusion_dates

[datetime.datetime(2021, 11, 22, 5, 41, 25, 579977),
 datetime.datetime(2022, 7, 25, 7, 44, 2, 506469),
 datetime.datetime(2022, 9, 16, 22, 25, 46, 956899),
 datetime.datetime(2023, 3, 8, 19, 41, 46, 242444)]

In [ ]:
testing_class.dates[59]

datetime.datetime(2021, 11, 26, 9, 25)

In [ ]:
testing_class.dates[90]

datetime.datetime(2022, 7, 20, 8, 42)

In [ ]:
testing_class.dates[91]

datetime.datetime(2022, 7, 27, 9, 3)

In [ ]:
testing_class.manualID_type

AttributeError: 'Intrusions' object has no attribute 'manualID_type'

In [ ]:
testing_class.manualID_type = 'MID'

In [ ]:
testing_class.get_intrusion_effects()

In [ ]:
testing_class.manualID_temp_effects

58    -0.356760
90     0.005489
97     0.702050
120   -0.316793
dtype: float64

In [ ]:
testing_class.data[testing_class.mid_avg_names[0]]

0     -0.193058
1     -0.452790
2     -0.262056
3     -0.346896
4     -0.193833
         ...
183    0.198603
184    0.029068
185    0.525840
186   -0.172339
187   -0.143695
Length: 188, dtype: float64

In [ ]:
testing_class.mid_avg_names[0]

'sample_diff_midrow_temp'

In [ ]:
testing_class.dates

[datetime.datetime(2020, 1, 9, 9, 36),
 datetime.datetime(2020, 1, 15, 9, 53),
 datetime.datetime(2020, 1, 22, 9, 17),
 datetime.datetime(2020, 1, 29, 9, 12),
 datetime.datetime(2020, 2, 5, 9, 10),
 datetime.datetime(2020, 2, 12, 11, 18),
 datetime.datetime(2020, 2, 19, 9, 21),
 datetime.datetime(2020, 2, 25, 9, 31),
 datetime.datetime(2020, 3, 4, 9, 7),
 datetime.datetime(2020, 3, 10, 9, 15),
 datetime.datetime(2020, 3, 16, 9, 18),
 datetime.datetime(2020, 9, 29, 8, 33),
 datetime.datetime(2020, 10, 22, 9, 0),
 datetime.datetime(2020, 10, 29, 9, 19),
 datetime.datetime(2020, 11, 4, 9, 14),
 datetime.datetime(2020, 11, 10, 9, 22),
 datetime.datetime(2020, 11, 18, 9, 6),
 datetime.datetime(2020, 11, 25, 9, 29),
 datetime.datetime(2020, 12, 2, 10, 39),
 datetime.datetime(2020, 12, 9, 9, 10),
 datetime.datetime(2020, 12, 16, 9, 49),
 datetime.datetime(2020, 12, 22, 9, 11),
 datetime.datetime(2021, 1, 6, 9, 16),
 datetime.datetime(2021, 1, 13, 9, 15),
 datetime.datetime(2021, 1, 20, 9, 22),
 datetime.datetime(2021, 2, 3, 13, 39),
 datetime.datetime(2021, 2, 18, 10, 51),
 datetime.datetime(2021, 2, 23, 9, 31),
 datetime.datetime(2021, 3, 4, 9, 12),
 datetime.datetime(2021, 3, 9, 9, 5),
 datetime.datetime(2021, 3, 17, 1, 6),
 datetime.datetime(2021, 3, 23, 2, 9),
 datetime.datetime(2021, 3, 30, 12, 13),
 datetime.datetime(2021, 4, 8, 9, 20),
 datetime.datetime(2021, 4, 16, 10, 41),
 datetime.datetime(2021, 4, 21, 9, 20),
 datetime.datetime(2021, 6, 16, 8, 56),
 datetime.datetime(2021, 6, 23, 9, 26),
 datetime.datetime(2021, 6, 30, 8, 54),
 datetime.datetime(2021, 7, 7, 9, 11),
 datetime.datetime(2021, 7, 15, 8, 55),
 datetime.datetime(2021, 7, 21, 11, 22),
 datetime.datetime(2021, 7, 28, 9, 20),
 datetime.datetime(2021, 8, 5, 10, 2),
 datetime.datetime(2021, 8, 10, 9, 39),
 datetime.datetime(2021, 8, 17, 9, 24),
 datetime.datetime(2021, 8, 25, 8, 47),
 datetime.datetime(2021, 9, 1, 9, 14),
 datetime.datetime(2021, 9, 8, 9, 11),
 datetime.datetime(2021, 9, 15, 9, 4),
 datetime.datetime(2021, 9, 22, 9, 1),
 datetime.datetime(2021, 9, 28, 9, 47),
 datetime.datetime(2021, 10, 6, 8, 52),
 datetime.datetime(2021, 10, 14, 9, 26),
 datetime.datetime(2021, 10, 19, 8, 54),
 datetime.datetime(2021, 10, 29, 8, 37),
 datetime.datetime(2021, 11, 3, 11, 24),
 datetime.datetime(2021, 11, 10, 8, 39),
 datetime.datetime(2021, 11, 17, 9, 4),
 datetime.datetime(2021, 11, 26, 9, 25),
 datetime.datetime(2021, 12, 1, 9, 2),
 datetime.datetime(2021, 12, 8, 8, 53),
 datetime.datetime(2021, 12, 15, 8, 51),
 datetime.datetime(2021, 12, 29, 8, 51),
 datetime.datetime(2022, 1, 7, 8, 14),
 datetime.datetime(2022, 1, 12, 10, 48),
 datetime.datetime(2022, 1, 26, 8, 38),
 datetime.datetime(2022, 2, 2, 8, 52),
 datetime.datetime(2022, 2, 10, 8, 51),
 datetime.datetime(2022, 2, 16, 9, 2),
 datetime.datetime(2022, 2, 22, 9, 15),
 datetime.datetime(2022, 3, 1, 8, 54),
 datetime.datetime(2022, 3, 9, 9, 32),
 datetime.datetime(2022, 3, 16, 9, 11),
 datetime.datetime(2022, 3, 31, 8, 34),
 datetime.datetime(2022, 4, 7, 8, 40),
 datetime.datetime(2022, 4, 12, 8, 49),
 datetime.datetime(2022, 4, 20, 9, 18),
 datetime.datetime(2022, 4, 27, 8, 59),
 datetime.datetime(2022, 5, 4, 8, 38),
 datetime.datetime(2022, 5, 9, 8, 49),
 datetime.datetime(2022, 5, 18, 8, 37),
 datetime.datetime(2022, 5, 25, 8, 47),
 datetime.datetime(2022, 6, 1, 9, 4),
 datetime.datetime(2022, 6, 8, 8, 45),
 datetime.datetime(2022, 6, 15, 8, 46),
 datetime.datetime(2022, 6, 22, 9, 23),
 datetime.datetime(2022, 6, 29, 8, 58),
 datetime.datetime(2022, 7, 7, 8, 49),
 datetime.datetime(2022, 7, 13, 9, 21),
 datetime.datetime(2022, 7, 20, 8, 42),
 datetime.datetime(2022, 7, 27, 9, 3),
 datetime.datetime(2022, 8, 3, 9, 1),
 datetime.datetime(2022, 8, 11, 9, 14),
 datetime.datetime(2022, 8, 18, 8, 47),
 datetime.datetime(2022, 8, 24, 8, 43),
 datetime.datetime(2022, 8, 31, 9, 28),
 datetime.datetime(2022, 9, 7, 9, 4),
 datetime.datetime(2022, 9, 14, 8, 50),
 datetime.datetime(2022, 9, 21, 8, 46),
 datetime.datetime(2022, 10, 5, 8, 56),
 datetime.datetime(2022, 10, 12, 8, 46),
 datetime.datetime(2022, 10, 20, 9, 2),
 datetime.datetime(2022, 10, 26, 9, 1),
 datetime.datetime(2022, 11, 2, 9, 5),
 datetime.datetime(2022, 11, 9, 9, 18),
 datetime.datetime(2022, 11, 15, 9, 10),
 datetime.datetime(2022, 11, 23, 9, 7),
 datetime.datetime(2022, 11, 30, 8, 59),
 datetime.datetime(2022, 12, 7, 9, 5),
 datetime.datetime(2022, 12, 14, 8, 58),
 datetime.datetime(2022, 12, 21, 8, 59),
 datetime.datetime(2023, 1, 5, 9, 14),
 datetime.datetime(2023, 1, 11, 9, 12),
 datetime.datetime(2023, 1, 18, 8, 59),
 datetime.datetime(2023, 1, 25, 9, 11),
 datetime.datetime(2023, 2, 1, 9, 10),
 datetime.datetime(2023, 2, 8, 8, 59),
 datetime.datetime(2023, 2, 15, 9, 3),
 datetime.datetime(2023, 2, 21, 8, 53),
 datetime.datetime(2023, 3, 1, 8, 57),
 datetime.datetime(2023, 3, 7, 8, 47),
 datetime.datetime(2023, 3, 15, 9, 6),
 datetime.datetime(2023, 3, 22, 8, 54),
 datetime.datetime(2023, 3, 29, 8, 56),
 datetime.datetime(2023, 4, 5, 8, 54),
 datetime.datetime(2023, 4, 12, 8, 59),
 datetime.datetime(2023, 4, 19, 9, 14),
 datetime.datetime(2023, 4, 26, 9, 0),
 datetime.datetime(2023, 5, 3, 8, 55),
 datetime.datetime(2023, 5, 10, 8, 54),
 datetime.datetime(2023, 5, 17, 9, 1),
 datetime.datetime(2023, 5, 24, 8, 57),
 datetime.datetime(2023, 5, 31, 8, 48),
 datetime.datetime(2023, 6, 7, 8, 55),
 datetime.datetime(2023, 6, 14, 8, 53),
 datetime.datetime(2023, 6, 21, 8, 57),
 datetime.datetime(2023, 6, 28, 8, 53),
 datetime.datetime(2023, 7, 5, 8, 41),
 datetime.datetime(2023, 7, 13, 8, 57),
 datetime.datetime(2023, 7, 19, 8, 50),
 datetime.datetime(2023, 7, 26, 8, 45),
 datetime.datetime(2023, 8, 2, 8, 55),
 datetime.datetime(2023, 8, 9, 9, 7),
 datetime.datetime(2023, 8, 16, 9, 6),
 datetime.datetime(2023, 8, 23, 9, 3),
 datetime.datetime(2023, 8, 30, 9, 20),
 datetime.datetime(2023, 9, 6, 9, 4),
 datetime.datetime(2023, 9, 13, 8, 50),
 datetime.datetime(2023, 9, 20, 8, 48),
 datetime.datetime(2023, 9, 27, 8, 54),
 datetime.datetime(2023, 10, 4, 8, 49),
 datetime.datetime(2023, 10, 11, 8, 47),
 datetime.datetime(2023, 10, 17, 8, 57),
 datetime.datetime(2023, 10, 25, 9, 3),
 datetime.datetime(2023, 11, 1, 9, 0),
 datetime.datetime(2023, 11, 8, 9, 3),
 datetime.datetime(2023, 11, 15, 8, 58),
 datetime.datetime(2023, 11, 22, 9, 2),
 datetime.datetime(2023, 11, 29, 9, 5),
 datetime.datetime(2023, 12, 7, 8, 59),
 datetime.datetime(2023, 12, 13, 8, 42),
 datetime.datetime(2023, 12, 20, 9, 10),
 datetime.datetime(2024, 1, 3, 9, 1),
 datetime.datetime(2024, 1, 9, 9, 10),
 datetime.datetime(2024, 1, 17, 8, 55),
 datetime.datetime(2024, 1, 25, 8, 54),
 datetime.datetime(2024, 1, 31, 9, 5),
 datetime.datetime(2024, 2, 7, 9, 3),
 datetime.datetime(2024, 2, 13, 8, 56),
 datetime.datetime(2024, 2, 21, 8, 55),
 datetime.datetime(2024, 2, 27, 9, 0),
 datetime.datetime(2024, 3, 6, 8, 57),
 datetime.datetime(2024, 3, 13, 8, 55),
 datetime.datetime(2024, 3, 20, 10, 44),
 datetime.datetime(2024, 3, 27, 9, 4),
 datetime.datetime(2024, 4, 3, 8, 51),
 datetime.datetime(2024, 4, 10, 9, 7),
 datetime.datetime(2024, 4, 17, 8, 56),
 datetime.datetime(2024, 4, 24, 8, 48),
 datetime.datetime(2024, 5, 1, 9, 2),
 datetime.datetime(2024, 5, 8, 8, 54),
 datetime.datetime(2024, 5, 15, 8, 58),
 datetime.datetime(2024, 5, 22, 9, 40),
 datetime.datetime(2024, 5, 29, 9, 0),
 datetime.datetime(2024, 6, 5, 8, 52),
 datetime.datetime(2024, 6, 12, 8, 56),
 datetime.datetime(2024, 6, 19, 8, 57),
 datetime.datetime(2024, 6, 26, 9, 39)]

In [ ]:
len(testing_class.dates)

189

In [ ]:
testing_class.dates[58]

datetime.datetime(2021, 11, 17, 9, 4)

In [ ]:
testing_class.data['sample_matrix_temp']

,0,1,2,3,4,5,6,7,8,9,...,179,180,181,182,183,184,185,186,187,188
0,4.1469,2.4526,1.3869,2.4874,1.9308,1.7586,1.6998,1.5262,2.7133,1.9640,...,6.3545,4.9110,7.0670,8.62815,10.1893,13.1071,10.5604,14.5310,14.71625,14.9015
1,4.1138,2.5911,1.4830,2.4947,1.9275,1.7483,1.6701,1.7592,2.7027,1.9598,...,6.3669,4.9149,7.0565,8.90670,10.3284,13.0908,10.5724,14.5433,15.92390,14.7769
2,4.1284,3.1927,1.5689,2.5319,1.9344,1.7498,1.6734,1.8910,2.6952,1.9596,...,6.3669,4.8872,7.0544,8.93200,9.6642,12.9822,10.5502,14.5212,15.85450,14.5661
3,4.1275,3.6632,1.7301,2.5474,1.9772,1.7439,1.6410,1.8334,2.6512,1.9592,...,6.3690,4.8724,7.0364,8.86090,9.5089,11.8066,10.4692,14.5130,15.42510,13.9168
4,4.1250,3.7182,1.8473,2.5456,2.0122,1.7455,1.6142,1.8398,2.6161,1.9613,...,6.3709,4.8669,7.0355,8.78560,9.7620,11.4914,10.2482,14.5066,14.99070,12.8571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,3.7253,3.5335,3.7098,3.7951,3.8599,4.1200,4.1416,4.1733,2.7919,2.2244,...,2.3486,2.3693,2.3856,2.39920,2.4094,2.4228,2.4388,2.4527,2.46500,2.4800
140,3.7253,3.5303,3.7098,3.7951,3.8599,4.1200,4.1416,4.1727,2.7919,2.2244,...,2.3495,2.3693,2.3858,2.39920,2.4094,2.4228,2.4388,2.4527,2.46560,2.4801
141,3.7253,3.5303,3.7098,3.7951,3.8599,4.1200,4.1416,4.1704,2.7919,2.2244,...,2.3495,2.3693,2.3857,2.39920,2.4094,2.4228,2.4388,2.4527,2.46700,2.4811
142,3.7253,3.5303,3.7098,3.7951,3.8599,4.1200,4.1416,4.1704,2.7919,2.2244,...,2.3495,2.3693,2.3858,2.39920,2.4094,2.4228,2.4388,2.4527,2.46700,2.4811
143,3.7253,3.5303,3.7098,3.7951,3.8599,4.1200,4.1416,4.1704,2.7919,2.2244,...,2.3495,2.3693,2.3858,2.39920,2.4094,2.4228,2.4388,2.4527,2.46700,2.4811

In [ ]:
testing_class.data['sample_matrix_temp'][:,58]

KeyError: (slice(None, None, None), 58)

In [ ]:
testing_class.data['sample_matrix_temp'].58

SyntaxError: invalid syntax (<ipython-input-22-f5424eb6eeff>, line 1)

In [ ]:
testing_class.data['sample_matrix_temp'].iloc[:,58]

0       9.91506
1      10.61480
2      10.61060
3      10.60910
4      10.60920
         ...
139     4.27000
140     4.27000
141     4.27000
142     4.27000
143     4.27000
Name: 58, Length: 144, dtype: float64

In [ ]:
normal_depths = np.array(testing_class.normalized_depth)
rows_bellow60 = list(np.where(normal_depths > testing_class.deep_depth)[0])

AttributeError: 'Intrusions' object has no attribute 'normalized_depth'

In [ ]:
testing_class.data['sample_depth']

[0.5,
 1.0,
 1.5,
 2.0,
 2.5,
 3.0,
 3.5,
 4.0,
 4.5,
 5.0,
 5.5,
 6.0,
 6.5,
 7.0,
 7.5,
 8.0,
 8.5,
 9.0,
 9.5,
 10.0,
 10.5,
 11.0,
 11.5,
 12.0,
 12.5,
 13.0,
 13.5,
 14.0,
 14.5,
 15.0,
 15.5,
 16.0,
 16.5,
 17.0,
 17.5,
 18.0,
 18.5,
 19.0,
 19.5,
 20.0,
 20.5,
 21.0,
 21.5,
 22.0,
 22.5,
 23.0,
 23.5,
 24.0,
 24.5,
 25.0,
 25.5,
 26.0,
 26.5,
 27.0,
 27.5,
 28.0,
 28.5,
 29.0,
 29.5,
 30.0,
 30.5,
 31.0,
 31.5,
 32.0,
 32.5,
 33.0,
 33.5,
 34.0,
 34.5,
 35.0,
 35.5,
 36.0,
 36.5,
 37.0,
 37.5,
 38.0,
 38.5,
 39.0,
 39.5,
 40.0,
 40.5,
 41.0,
 41.5,
 42.0,
 42.5,
 43.0,
 43.5,
 44.0,
 44.5,
 45.0,
 45.5,
 46.0,
 46.5,
 47.0,
 47.5,
 48.0,
 48.5,
 49.0,
 49.5,
 50.0,
 50.5,
 51.0,
 51.5,
 52.0,
 52.5,
 53.0,
 53.5,
 54.0,
 54.5,
 55.0,
 55.5,
 56.0,
 56.5,
 57.0,
 57.5,
 58.0,
 58.5,
 59.0,
 59.5,
 60.0,
 60.5,
 61.0,
 61.5,
 62.0,
 62.5,
 63.0,
 63.5,
 64.0,
 64.5,
 65.0,
 65.5,
 66.0,
 66.5,
 67.0,
 67.5,
 68.0,
 68.5,
 69.0,
 69.5,
 70.0,
 70.5,
 71.0,
 71.5,
 72.0]

In [ ]:
normal_depths = np.array(testing_class.data['sample_depth'])
rows_bellow60 = list(np.where(normal_depths > 60)[0])

In [ ]:
rows_bellow60

[120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143]

In [ ]:
testing_class.data['sample_matrix_temp'].iloc[rows_bellow60,58]

120    4.3292
121    4.3267
122    4.3237
123    4.3211
124    4.3061
125    4.2944
126    4.2922
127    4.2840
128    4.2765
129    4.2700
130    4.2700
131    4.2700
132    4.2700
133    4.2700
134    4.2700
135    4.2700
136    4.2700
137    4.2700
138    4.2700
139    4.2700
140    4.2700
141    4.2700
142    4.2700
143    4.2700
Name: 58, dtype: float64

In [ ]:
testing_class.data['sample_matrix_temp'].iloc[rows_bellow60,58].mean(axis=0)

4.283495833333332

In [ ]:
testing_class.mid_avg_names[0]

'sample_diff_midrow_temp'

In [ ]:
testing_class.data['sample_diff_midrow_temp'].iloc[58]

-0.3567601388888889

In [ ]:
trys = 58
testing_class.data['sample_matrix_temp'].iloc[rows_bellow60,trys-1].mean(axis=0) - testing_class.data['sample_matrix_temp'].iloc[rows_bellow60,trys].mean(axis=0)

-0.03567916666666626

In [ ]:
trys = 59
testing_class.data['sample_matrix_temp'].iloc[rows_bellow60,trys-1].mean(axis=0) - testing_class.data['sample_matrix_temp'].iloc[rows_bellow60,trys].mean(axis=0)

-0.20312083333333408

In [ ]:
trys = 57
testing_class.data['sample_matrix_temp'].iloc[rows_bellow60,trys-1].mean(axis=0) - testing_class.data['sample_matrix_temp'].iloc[rows_bellow60,trys].mean(axis=0)

-0.02518333333333267

In [ ]:
trys = 60
testing_class.data['sample_matrix_temp'].iloc[rows_bellow60,trys-1].mean(axis=0) - testing_class.data['sample_matrix_temp'].iloc[rows_bellow60,trys].mean(axis=0)

-0.10730416666666631

In [ ]:
trys = 60
testing_class.data['sample_matrix_temp'].iloc[rows_bellow60,trys-1].mean(axis=0) - testing_class.data['sample_matrix_temp'].iloc[rows_bellow60,trys].mean(axis=0)

-0.10730416666666631

In [ ]:
trys = 61
testing_class.data['sample_matrix_temp'].iloc[rows_bellow60,trys-1].mean(axis=0) - testing_class.data['sample_matrix_temp'].iloc[rows_bellow60,trys].mean(axis=0)

-0.28628333333333345

In [ ]:
pd.DataFrame(np.diff(testing_class.data['sample_matrix_temp'], axis=1)).replace(0, np.nan)

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
0,-1.6943,-1.0657,1.1005,-0.5566,-0.1722,-0.0588,-0.1736,1.1871,-0.7493,-0.6061,...,1.8539,-1.4435,2.1560,1.56115,1.56115,2.9178,-2.5467,3.9706,0.18525,0.18525
1,-1.5227,-1.1081,1.0117,-0.5672,-0.1792,-0.0782,0.0891,0.9435,-0.7429,0.3860,...,-0.5130,-1.4520,2.1416,1.85020,1.42170,2.7624,-2.5184,3.9709,1.38060,-1.14700
2,-0.9357,-1.6238,0.9630,-0.5975,-0.1846,-0.0764,0.2176,0.8042,-0.7356,0.2234,...,-0.0640,-1.4797,2.1672,1.87760,0.73220,3.3180,-2.4320,3.9710,1.33330,-1.28840
3,-0.4643,-1.9331,0.8173,-0.5702,-0.2333,-0.1029,0.1924,0.8178,-0.6920,0.2259,...,0.5431,-1.4966,2.1640,1.82450,0.64800,2.2977,-1.3374,4.0438,0.91210,-1.50830
4,-0.4068,-1.8709,0.6983,-0.5334,-0.2667,-0.1313,0.2256,0.7763,-0.6548,0.2323,...,0.7413,-1.5040,2.1686,1.75010,0.97640,1.7294,-1.2432,4.2584,0.48410,-2.13360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,-0.1918,0.1763,0.0853,0.0648,0.2601,0.0216,0.0317,-1.3814,-0.5675,0.0460,...,0.0228,0.0207,0.0163,0.01360,0.01020,0.0134,0.0160,0.0139,0.01230,0.01500
140,-0.1950,0.1795,0.0853,0.0648,0.2601,0.0216,0.0311,-1.3808,-0.5675,0.0460,...,0.0233,0.0198,0.0165,0.01340,0.01020,0.0134,0.0160,0.0139,0.01290,0.01450
141,-0.1950,0.1795,0.0853,0.0648,0.2601,0.0216,0.0288,-1.3785,-0.5675,0.0460,...,0.0232,0.0198,0.0164,0.01350,0.01020,0.0134,0.0160,0.0139,0.01430,0.01410
142,-0.1950,0.1795,0.0853,0.0648,0.2601,0.0216,0.0288,-1.3785,-0.5675,0.0460,...,0.0232,0.0198,0.0165,0.01340,0.01020,0.0134,0.0160,0.0139,0.01430,0.01410
143,-0.1950,0.1795,0.0853,0.0648,0.2601,0.0216,0.0288,-1.3785,-0.5675,0.0460,...,0.0232,0.0198,0.0165,0.01340,0.01020,0.0134,0.0160,0.0139,0.01430,0.01410

In [ ]:
diff = pd.DataFrame(np.diff(testing_class.data['sample_matrix_temp'], axis=1)).replace(0, np.nan)

In [ ]:
trys = 61
diff.iloc[rows_bellow60,trys-1].mean(axis=0) - diff.iloc[rows_bellow60,trys].mean(axis=0)

0.07598749999999999

In [ ]:
trys = 58
diff.iloc[rows_bellow60,trys-1].mean(axis=0) - diff.iloc[rows_bellow60,trys].mean(axis=0)

-0.16744166666666715

In [ ]:
testing_class.manualID_indices

[58, 90, 97, 120]

In [ ]:
trys = 59
diff.iloc[rows_bellow60,trys-1].mean(axis=0) - diff.iloc[rows_bellow60,trys].mean(axis=0)

0.09581666666666691

In [ ]:
diff.iloc[rows_bellow60,50:60]

,50,51,52,53,54,55,56,57,58,59
120,0.1134,-0.0613,0.0421,0.0142,0.0598,0.0218,-0.0042,0.0544,0.3176,0.0385
121,0.1174,-0.0645,0.0419,0.0091,0.0618,0.0243,-0.0058,0.0573,0.3204,0.0413
122,0.1192,-0.0651,0.0420,0.0026,0.0617,0.0307,-0.0104,0.0606,0.3208,0.0529
123,0.1198,-0.0666,0.0418,-0.0025,0.0546,0.0417,-0.0073,0.0590,0.3158,0.0692
124,0.1205,-0.0699,0.0406,-0.0080,0.0584,0.0446,-0.0034,0.0449,0.2982,0.0914
125,0.1245,-0.0753,0.0415,-0.0044,0.0551,0.0341,0.0110,0.0341,0.2623,0.1218
126,0.1353,-0.0735,0.0434,-0.0037,0.0478,0.0331,0.0185,0.0331,0.2403,0.1308
127,0.1311,-0.0700,0.0441,-0.0040,0.0415,0.0385,0.0210,0.0252,0.2227,0.1467
128,0.1200,-0.0593,0.0424,-0.0061,0.0373,0.0454,0.0214,0.0210,0.2105,0.1457
129,0.1096,-0.0523,0.0441,-0.0047,0.0361,0.0455,0.0226,0.0159,0.2169,0.1245
130,0.1014,-0.0443,0.0425,-0.0073,0.0384,0.0460,0.0236,0.0170,0.2077,0.1254
131,0.0811,-0.0251,0.0420,-0.0111,0.0400,0.0442,0.0288,0.0175,0.2129,0.1005
132,0.0704,-0.0149,0.0410,-0.0105,0.0381,0.0440,0.0304,0.0190,0.2025,0.0841
133,0.0704,-0.0177,0.0420,-0.0087,0.0323,0.0423,0.0320,0.0249,0.1869,0.0881
134,0.0705,-0.0196,0.0420,-0.0070,0.0296,0.0318,0.0396,0.0307,0.1627,0.1059
135,0.0704,-0.0203,0.0399,-0.0044,0.0278,0.0269,0.0428,0.0344,0.1457,0.1146
136,0.0705,-0.0218,0.0354,0.0016,0.0264,0.0270,0.0432,0.0353,0.1363,0.1181
137,0.0710,-0.0232,0.0221,0.0164,0.0243,0.0276,0.0430,0.0369,0.1322,0.1187
138,0.0713,-0.0240,0.0169,0.0223,0.0235,0.0267,0.0441,0.0376,0.1294,0.1201
139,0.0714,-0.0246,0.0154,0.0226,0.0249,0.0262,0.0443,0.0383,0.1273,0.1216
140,0.0700,-0.0249,0.0157,0.0193,0.0282,0.0267,0.0428,0.0393,0.1257,0.1296
141,0.0700,-0.0247,0.0155,0.0200,0.0275,0.0267,0.0412,0.0409,0.1267,0.1286
142,0.0700,-0.0247,0.0155,0.0200,0.0275,0.0267,0.0426,0.0395,0.1267,0.1286
143,0.0700,-0.0247,0.0155,0.0200,0.0275,0.0267,0.0426,0.0395,0.1267,0.1286

In [ ]:
testing_class.data['sample_matrix_temp']

,0,1,2,3,4,5,6,7,8,9,...,179,180,181,182,183,184,185,186,187,188
0,4.1469,2.4526,1.3869,2.4874,1.9308,1.7586,1.6998,1.5262,2.7133,1.9640,...,6.3545,4.9110,7.0670,8.62815,10.1893,13.1071,10.5604,14.5310,14.71625,14.9015
1,4.1138,2.5911,1.4830,2.4947,1.9275,1.7483,1.6701,1.7592,2.7027,1.9598,...,6.3669,4.9149,7.0565,8.90670,10.3284,13.0908,10.5724,14.5433,15.92390,14.7769
2,4.1284,3.1927,1.5689,2.5319,1.9344,1.7498,1.6734,1.8910,2.6952,1.9596,...,6.3669,4.8872,7.0544,8.93200,9.6642,12.9822,10.5502,14.5212,15.85450,14.5661
3,4.1275,3.6632,1.7301,2.5474,1.9772,1.7439,1.6410,1.8334,2.6512,1.9592,...,6.3690,4.8724,7.0364,8.86090,9.5089,11.8066,10.4692,14.5130,15.42510,13.9168
4,4.1250,3.7182,1.8473,2.5456,2.0122,1.7455,1.6142,1.8398,2.6161,1.9613,...,6.3709,4.8669,7.0355,8.78560,9.7620,11.4914,10.2482,14.5066,14.99070,12.8571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,3.7253,3.5335,3.7098,3.7951,3.8599,4.1200,4.1416,4.1733,2.7919,2.2244,...,2.3486,2.3693,2.3856,2.39920,2.4094,2.4228,2.4388,2.4527,2.46500,2.4800
140,3.7253,3.5303,3.7098,3.7951,3.8599,4.1200,4.1416,4.1727,2.7919,2.2244,...,2.3495,2.3693,2.3858,2.39920,2.4094,2.4228,2.4388,2.4527,2.46560,2.4801
141,3.7253,3.5303,3.7098,3.7951,3.8599,4.1200,4.1416,4.1704,2.7919,2.2244,...,2.3495,2.3693,2.3857,2.39920,2.4094,2.4228,2.4388,2.4527,2.46700,2.4811
142,3.7253,3.5303,3.7098,3.7951,3.8599,4.1200,4.1416,4.1704,2.7919,2.2244,...,2.3495,2.3693,2.3858,2.39920,2.4094,2.4228,2.4388,2.4527,2.46700,2.4811
143,3.7253,3.5303,3.7098,3.7951,3.8599,4.1200,4.1416,4.1704,2.7919,2.2244,...,2.3495,2.3693,2.3858,2.39920,2.4094,2.4228,2.4388,2.4527,2.46700,2.4811

In [ ]:
pd.DataFrame(np.diff(testing_class.data['sample_matrix_temp'], axis=0))

,0,1,2,3,4,5,6,7,8,9,...,179,180,181,182,183,184,185,186,187,188
0,-0.0331,0.1385,0.0961,0.0073,-0.0033,-0.0103,-0.0297,0.2330,-0.0106,-0.0042,...,0.0124,0.0039,-0.0105,0.27855,0.1391,-0.0163,0.0120,0.0123,1.20765,-0.1246
1,0.0146,0.6016,0.0859,0.0372,0.0069,0.0015,0.0033,0.1318,-0.0075,-0.0002,...,0.0000,-0.0277,-0.0021,0.02530,-0.6642,-0.1086,-0.0222,-0.0221,-0.06940,-0.2108
2,-0.0009,0.4705,0.1612,0.0155,0.0428,-0.0059,-0.0324,-0.0576,-0.0440,-0.0004,...,0.0021,-0.0148,-0.0180,-0.07110,-0.1553,-1.1756,-0.0810,-0.0082,-0.42940,-0.6493
3,-0.0025,0.0550,0.1172,-0.0018,0.0350,0.0016,-0.0268,0.0064,-0.0351,0.0021,...,0.0019,-0.0055,-0.0009,-0.07530,0.2531,-0.3152,-0.2210,-0.0064,-0.43440,-1.0597
4,0.0040,0.0354,0.1352,0.0123,-0.0035,0.0033,0.0011,0.0730,-0.0944,0.0011,...,0.0076,-0.0447,-0.0264,-0.26040,0.0004,-0.1462,-0.0848,-0.0492,-0.74870,-0.6866
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,0.0000,-0.0009,0.0000,0.0000,0.0000,0.0000,0.0000,-0.0005,0.0000,-0.0007,...,0.0006,0.0000,0.0000,0.00120,0.0000,0.0000,0.0000,0.0000,0.00060,0.0011
139,0.0000,-0.0032,0.0000,0.0000,0.0000,0.0000,0.0000,-0.0006,0.0000,0.0000,...,0.0009,0.0000,0.0002,0.00000,0.0000,0.0000,0.0000,0.0000,0.00060,0.0001
140,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,-0.0023,0.0000,0.0000,...,0.0000,0.0000,-0.0001,0.00000,0.0000,0.0000,0.0000,0.0000,0.00140,0.0010
141,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0001,0.00000,0.0000,0.0000,0.0000,0.0000,0.00000,0.0000
142,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.00000,0.0000,0.0000,0.0000,0.0000,0.00000,0.0000

In [ ]:
t1 = pd.DataFrame(np.diff(testing_class.data['sample_matrix_temp'], axis=0))

In [ ]:
inter0_diff = np.diff(testing_class.data['sample_matrix_temp'], axis=0)
zero_diff = inter0_diff == 0

In [ ]:
zero_diff

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [ True,  True,  True, ...,  True, False, False],
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True]])

In [ ]:
inter0_diff = pd.DataFrame(np.diff(testing_class.data['sample_matrix_temp'], axis=0))
zero_diff = inter0_diff == 0

In [ ]:
zero_diff

,0,1,2,3,4,5,6,7,8,9,...,179,180,181,182,183,184,185,186,187,188
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,True,False,True,True,True,True,True,False,True,False,...,False,True,True,False,True,True,True,True,False,False
139,True,False,True,True,True,True,True,False,True,True,...,False,True,False,True,True,True,True,True,False,False
140,True,True,True,True,True,True,True,False,True,True,...,True,True,False,True,True,True,True,True,False,False
141,True,True,True,True,True,True,True,True,True,True,...,True,True,False,True,True,True,True,True,True,True
142,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [ ]:
testing_class.data['sample_matrix_temp']

,0,1,2,3,4,5,6,7,8,9,...,179,180,181,182,183,184,185,186,187,188
0,4.1469,2.4526,1.3869,2.4874,1.9308,1.7586,1.6998,1.5262,2.7133,1.9640,...,6.3545,4.9110,7.0670,8.62815,10.1893,13.1071,10.5604,14.5310,14.71625,14.9015
1,4.1138,2.5911,1.4830,2.4947,1.9275,1.7483,1.6701,1.7592,2.7027,1.9598,...,6.3669,4.9149,7.0565,8.90670,10.3284,13.0908,10.5724,14.5433,15.92390,14.7769
2,4.1284,3.1927,1.5689,2.5319,1.9344,1.7498,1.6734,1.8910,2.6952,1.9596,...,6.3669,4.8872,7.0544,8.93200,9.6642,12.9822,10.5502,14.5212,15.85450,14.5661
3,4.1275,3.6632,1.7301,2.5474,1.9772,1.7439,1.6410,1.8334,2.6512,1.9592,...,6.3690,4.8724,7.0364,8.86090,9.5089,11.8066,10.4692,14.5130,15.42510,13.9168
4,4.1250,3.7182,1.8473,2.5456,2.0122,1.7455,1.6142,1.8398,2.6161,1.9613,...,6.3709,4.8669,7.0355,8.78560,9.7620,11.4914,10.2482,14.5066,14.99070,12.8571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,3.7253,3.5335,3.7098,3.7951,3.8599,4.1200,4.1416,4.1733,2.7919,2.2244,...,2.3486,2.3693,2.3856,2.39920,2.4094,2.4228,2.4388,2.4527,2.46500,2.4800
140,3.7253,3.5303,3.7098,3.7951,3.8599,4.1200,4.1416,4.1727,2.7919,2.2244,...,2.3495,2.3693,2.3858,2.39920,2.4094,2.4228,2.4388,2.4527,2.46560,2.4801
141,3.7253,3.5303,3.7098,3.7951,3.8599,4.1200,4.1416,4.1704,2.7919,2.2244,...,2.3495,2.3693,2.3857,2.39920,2.4094,2.4228,2.4388,2.4527,2.46700,2.4811
142,3.7253,3.5303,3.7098,3.7951,3.8599,4.1200,4.1416,4.1704,2.7919,2.2244,...,2.3495,2.3693,2.3858,2.39920,2.4094,2.4228,2.4388,2.4527,2.46700,2.4811
143,3.7253,3.5303,3.7098,3.7951,3.8599,4.1200,4.1416,4.1704,2.7919,2.2244,...,2.3495,2.3693,2.3858,2.39920,2.4094,2.4228,2.4388,2.4527,2.46700,2.4811

In [ ]:
testing_class.data['sample_matrix_temp'].iloc[1:][zero_diff] = np.nan

<ipython-input-54-4b5b288c3c71>:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  testing_class.data['sample_matrix_temp'].iloc[1:][zero_diff] = np.nan
<ipython-input-54-4b5b288c3c71>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testing_class.data['sample_matrix_temp'].iloc[1:][zero_diff] = np.nan
<ipython-input-54-4b5b288c3c71>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testing_class.data['sample_matrix_temp'].iloc[1:][zero_diff] = np.nan

In [ ]:
testing_class.data['sample_matrix_temp']

,0,1,2,3,4,5,6,7,8,9,...,179,180,181,182,183,184,185,186,187,188
0,4.1469,2.4526,1.3869,2.4874,1.9308,1.7586,1.6998,1.5262,2.7133,1.9640,...,6.3545,4.9110,7.0670,8.62815,10.1893,13.1071,10.5604,14.5310,14.71625,14.9015
1,4.1138,2.5911,1.4830,2.4947,1.9275,1.7483,1.6701,1.7592,2.7027,1.9598,...,NaN,4.9149,7.0565,8.90670,10.3284,13.0908,10.5724,14.5433,15.92390,14.7769
2,4.1284,3.1927,1.5689,2.5319,1.9344,1.7498,1.6734,1.8910,2.6952,1.9596,...,6.3669,4.8872,7.0544,8.93200,9.6642,12.9822,10.5502,14.5212,15.85450,14.5661
3,4.1275,3.6632,1.7301,2.5474,1.9772,1.7439,1.6410,1.8334,2.6512,1.9592,...,6.3690,4.8724,7.0364,8.86090,9.5089,11.8066,10.4692,14.5130,15.42510,13.9168
4,4.1250,3.7182,1.8473,2.5456,2.0122,1.7455,1.6142,1.8398,2.6161,1.9613,...,6.3709,4.8669,7.0355,8.78560,9.7620,11.4914,10.2482,14.5066,14.99070,12.8571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,NaN,3.5335,NaN,NaN,NaN,NaN,NaN,4.1733,NaN,NaN,...,2.3486,NaN,2.3856,NaN,NaN,NaN,NaN,NaN,2.46500,2.4800
140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.1727,NaN,NaN,...,NaN,NaN,2.3858,NaN,NaN,NaN,NaN,NaN,2.46560,2.4801
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.3857,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,3.7253,3.5303,3.7098,3.7951,3.8599,4.1200,4.1416,4.1704,2.7919,2.2244,...,2.3495,2.3693,2.3858,2.39920,2.4094,2.4228,2.4388,2.4527,2.46700,2.4811

In [ ]:
inter0_diff = pd.DataFrame(np.diff(testing_class.data['sample_matrix_temp'], axis=0))
zero_diff = inter0_diff == 0
testing_class.data['sample_matrix_temp'].iloc[1:][zero_diff] = np.nan

<ipython-input-56-0ad449d1c0a8>:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  testing_class.data['sample_matrix_temp'].iloc[1:][zero_diff] = np.nan
<ipython-input-56-0ad449d1c0a8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testing_class.data['sample_matrix_temp'].iloc[1:][zero_diff] = np.nan
<ipython-input-56-0ad449d1c0a8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testing_class.data['sample_matrix_temp'].iloc[1:][zero_diff] = np.nan

In [ ]:
testing_class.data['sample_matrix_temp']

,0,1,2,3,4,5,6,7,8,9,...,179,180,181,182,183,184,185,186,187,188
0,4.1469,2.4526,1.3869,2.4874,1.9308,1.7586,1.6998,1.5262,2.7133,1.9640,...,6.3545,4.9110,7.0670,8.62815,10.1893,13.1071,10.5604,14.5310,14.71625,14.9015
1,4.1138,2.5911,1.4830,2.4947,1.9275,1.7483,1.6701,1.7592,2.7027,1.9598,...,NaN,4.9149,7.0565,8.90670,10.3284,13.0908,10.5724,14.5433,15.92390,14.7769
2,4.1284,3.1927,1.5689,2.5319,1.9344,1.7498,1.6734,1.8910,2.6952,1.9596,...,6.3669,4.8872,7.0544,8.93200,9.6642,12.9822,10.5502,14.5212,15.85450,14.5661
3,4.1275,3.6632,1.7301,2.5474,1.9772,1.7439,1.6410,1.8334,2.6512,1.9592,...,6.3690,4.8724,7.0364,8.86090,9.5089,11.8066,10.4692,14.5130,15.42510,13.9168
4,4.1250,3.7182,1.8473,2.5456,2.0122,1.7455,1.6142,1.8398,2.6161,1.9613,...,6.3709,4.8669,7.0355,8.78560,9.7620,11.4914,10.2482,14.5066,14.99070,12.8571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,NaN,3.5335,NaN,NaN,NaN,NaN,NaN,4.1733,NaN,NaN,...,2.3486,NaN,2.3856,NaN,NaN,NaN,NaN,NaN,2.46500,2.4800
140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.1727,NaN,NaN,...,NaN,NaN,2.3858,NaN,NaN,NaN,NaN,NaN,2.46560,2.4801
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.3857,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,3.7253,3.5303,3.7098,3.7951,3.8599,4.1200,4.1416,4.1704,2.7919,2.2244,...,2.3495,2.3693,2.3858,2.39920,2.4094,2.4228,2.4388,2.4527,2.46700,2.4811

In [ ]:
inter0_diff = pd.DataFrame(np.diff(testing_class.data['sample_matrix_temp'], axis=0))
zero_diff = inter0_diff == 0
testing_class.data['sample_matrix_temp'].iloc[zero_diff, 1:] = np.nan
testing_class.data['sample_matrix_temp']

IndexError: too many indices for array: array is 2-dimensional, but 3 were indexed

In [ ]:
inter0_diff = pd.DataFrame(np.diff(testing_class.data['sample_matrix_temp'], axis=0))
zero_diff = inter0_diff == 0
testing_class.data['sample_matrix_temp'].iloc[zero_diff, [1:]] = np.nan
testing_class.data['sample_matrix_temp']

SyntaxError: invalid syntax (<ipython-input-59-b5ab234dbf80>, line 3)

In [ ]:
inter0_diff = pd.DataFrame(np.diff(testing_class.data['sample_matrix_temp'], axis=0))
zero_diff = inter0_diff == 0
testing_class.data['sample_matrix_temp'].iloc[1:][zero_diff+1] = np.nan
testing_class.data['sample_matrix_temp']

<ipython-input-60-fed660aedb5c>:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  testing_class.data['sample_matrix_temp'].iloc[1:][zero_diff+1] = np.nan

TypeError: Must pass DataFrame or 2-d ndarray with boolean values only

In [ ]:
inter0_diff = pd.DataFrame(np.diff(testing_class.data['sample_matrix_temp'], axis=0))
zero_diff = inter0_diff == 0
mask_diff = np.zeros_like(inter0_diff, dtype=bool)
mask_diff[1:] = zero_diff
testing_class.data['sample_matrix_temp'][mask_diff] = np.nan
testing_class.data['sample_matrix_temp']

ValueError: could not broadcast input array from shape (143,189) into shape (142,189)

In [ ]:
inter0_diff = pd.DataFrame(np.diff(testing_class.data['sample_matrix_temp'], axis=0))
zero_diff = inter0_diff == 0

In [ ]:
zero_diff

,0,1,2,3,4,5,6,7,8,9,...,179,180,181,182,183,184,185,186,187,188
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
139,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
140,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
141,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
142,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
inter0_diff

,0,1,2,3,4,5,6,7,8,9,...,179,180,181,182,183,184,185,186,187,188
0,-0.0331,0.1385,0.0961,0.0073,-0.0033,-0.0103,-0.0297,0.2330,-0.0106,-0.0042,...,NaN,0.0039,-0.0105,0.27855,0.1391,-0.0163,0.0120,0.0123,1.20765,-0.1246
1,0.0146,0.6016,0.0859,0.0372,0.0069,0.0015,0.0033,0.1318,-0.0075,-0.0002,...,NaN,-0.0277,-0.0021,0.02530,-0.6642,-0.1086,-0.0222,-0.0221,-0.06940,-0.2108
2,-0.0009,0.4705,0.1612,0.0155,0.0428,-0.0059,-0.0324,-0.0576,-0.0440,-0.0004,...,0.0021,-0.0148,-0.0180,-0.07110,-0.1553,-1.1756,-0.0810,-0.0082,-0.42940,-0.6493
3,-0.0025,0.0550,0.1172,-0.0018,0.0350,0.0016,-0.0268,0.0064,-0.0351,0.0021,...,0.0019,-0.0055,-0.0009,-0.07530,0.2531,-0.3152,-0.2210,-0.0064,-0.43440,-1.0597
4,0.0040,0.0354,0.1352,0.0123,-0.0035,0.0033,0.0011,0.0730,-0.0944,0.0011,...,0.0076,-0.0447,-0.0264,-0.26040,0.0004,-0.1462,-0.0848,-0.0492,-0.74870,-0.6866
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,NaN,-0.0009,NaN,NaN,NaN,NaN,NaN,-0.0005,NaN,NaN,...,0.0006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00060,0.0011
139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.0006,NaN,NaN,...,NaN,NaN,0.0002,NaN,NaN,NaN,NaN,NaN,0.00060,0.0001
140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-0.0001,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
testing_class.data['sample_matrix_temp']

,0,1,2,3,4,5,6,7,8,9,...,179,180,181,182,183,184,185,186,187,188
0,4.1469,2.4526,1.3869,2.4874,1.9308,1.7586,1.6998,1.5262,2.7133,1.9640,...,6.3545,4.9110,7.0670,8.62815,10.1893,13.1071,10.5604,14.5310,14.71625,14.9015
1,4.1138,2.5911,1.4830,2.4947,1.9275,1.7483,1.6701,1.7592,2.7027,1.9598,...,NaN,4.9149,7.0565,8.90670,10.3284,13.0908,10.5724,14.5433,15.92390,14.7769
2,4.1284,3.1927,1.5689,2.5319,1.9344,1.7498,1.6734,1.8910,2.6952,1.9596,...,6.3669,4.8872,7.0544,8.93200,9.6642,12.9822,10.5502,14.5212,15.85450,14.5661
3,4.1275,3.6632,1.7301,2.5474,1.9772,1.7439,1.6410,1.8334,2.6512,1.9592,...,6.3690,4.8724,7.0364,8.86090,9.5089,11.8066,10.4692,14.5130,15.42510,13.9168
4,4.1250,3.7182,1.8473,2.5456,2.0122,1.7455,1.6142,1.8398,2.6161,1.9613,...,6.3709,4.8669,7.0355,8.78560,9.7620,11.4914,10.2482,14.5066,14.99070,12.8571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,NaN,3.5335,NaN,NaN,NaN,NaN,NaN,4.1733,NaN,NaN,...,2.3486,NaN,2.3856,NaN,NaN,NaN,NaN,NaN,2.46500,2.4800
140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.1727,NaN,NaN,...,NaN,NaN,2.3858,NaN,NaN,NaN,NaN,NaN,2.46560,2.4801
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.3857,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,3.7253,3.5303,3.7098,3.7951,3.8599,4.1200,4.1416,4.1704,2.7919,2.2244,...,2.3495,2.3693,2.3858,2.39920,2.4094,2.4228,2.4388,2.4527,2.46700,2.4811

In [ ]:
import sys
import joblib
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import Intrusion_analysis as INT
import numpy as np
import pandas as pd
from datetime import datetime

# Test Arguments
file_name = 'profile_dataset_sample.pkl'
path_data = './mock_data/'
file_dirpath = path_data + file_name

# Initialize class
testing_class = INT.Intrusions(file_dirpath)
manual_intrusion_input = './mock_data/manualID_MID_sample.pkl'
intrusion_dates = INT.import_joblib(manual_intrusion_input)
testing_class.manualID_dates = intrusion_dates

------ Importing Data

In [ ]:
inter0_diff = pd.DataFrame(np.diff(testing_class.data['sample_matrix_temp'], axis=0))
zero_diff = inter0_diff == 0
mask_diff = np.zeros_like(inter0_diff, dtype=bool)
mask_diff[1:] = zero_diff
testing_class.data['sample_matrix_temp'][mask_diff] = np.nan
testing_class.data['sample_matrix_temp']

ValueError: could not broadcast input array from shape (143,189) into shape (142,189)

In [ ]:
inter0_diff = pd.DataFrame(np.diff(testing_class.data['sample_matrix_temp'], axis=0))
zero_diff = inter0_diff == 0

In [ ]:
zero_diff

,0,1,2,3,4,5,6,7,8,9,...,179,180,181,182,183,184,185,186,187,188
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,True,False,True,True,True,True,True,False,True,False,...,False,True,True,False,True,True,True,True,False,False
139,True,False,True,True,True,True,True,False,True,True,...,False,True,False,True,True,True,True,True,False,False
140,True,True,True,True,True,True,True,False,True,True,...,True,True,False,True,True,True,True,True,False,False
141,True,True,True,True,True,True,True,True,True,True,...,True,True,False,True,True,True,True,True,True,True
142,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [ ]:
mask_diff = np.zeros_like(inter0_diff, dtype=bool)

In [ ]:
len(mask_diff)

143

In [ ]:
data = testing_class.data['sample_matrix_temp']
inter0_diff = pd.DataFrame(np.diff(data, axis=0))
zero_diff = inter0_diff == 0
mask_diff = np.zeros_like(inter0_diff, dtype=bool)
mask_diff[1:] = zero_diff
testing_class.data['sample_matrix_temp'][mask_diff] = np.nan
testing_class.data['sample_matrix_temp']

ValueError: could not broadcast input array from shape (143,189) into shape (142,189)

In [ ]:
data = testing_class.data['sample_matrix_temp']
inter0_diff = pd.DataFrame(np.diff(data, axis=0))
zero_diff = inter0_diff == 0
mask_diff = np.zeros_like(inter0_diff, dtype=bool)

In [ ]:
len(mask_diff)

143

In [ ]:
data = testing_class.data['sample_matrix_temp']
inter0_diff = pd.DataFrame(np.diff(data, axis=0))
zero_diff = inter0_diff == 0
mask_diff = np.zeros_like(data, dtype=bool)
mask_diff[1:] = zero_diff
testing_class.data['sample_matrix_temp'][mask_diff] = np.nan
testing_class.data['sample_matrix_temp']

,0,1,2,3,4,5,6,7,8,9,...,179,180,181,182,183,184,185,186,187,188
0,4.1469,2.4526,1.3869,2.4874,1.9308,1.7586,1.6998,1.5262,2.7133,1.9640,...,6.3545,4.9110,7.0670,8.62815,10.1893,13.1071,10.5604,14.5310,14.71625,14.9015
1,4.1138,2.5911,1.4830,2.4947,1.9275,1.7483,1.6701,1.7592,2.7027,1.9598,...,6.3669,4.9149,7.0565,8.90670,10.3284,13.0908,10.5724,14.5433,15.92390,14.7769
2,4.1284,3.1927,1.5689,2.5319,1.9344,1.7498,1.6734,1.8910,2.6952,1.9596,...,NaN,4.8872,7.0544,8.93200,9.6642,12.9822,10.5502,14.5212,15.85450,14.5661
3,4.1275,3.6632,1.7301,2.5474,1.9772,1.7439,1.6410,1.8334,2.6512,1.9592,...,6.3690,4.8724,7.0364,8.86090,9.5089,11.8066,10.4692,14.5130,15.42510,13.9168
4,4.1250,3.7182,1.8473,2.5456,2.0122,1.7455,1.6142,1.8398,2.6161,1.9613,...,6.3709,4.8669,7.0355,8.78560,9.7620,11.4914,10.2482,14.5066,14.99070,12.8571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,NaN,3.5335,NaN,NaN,NaN,NaN,NaN,4.1733,NaN,2.2244,...,2.3486,NaN,NaN,2.39920,NaN,NaN,NaN,NaN,2.46500,2.4800
140,NaN,3.5303,NaN,NaN,NaN,NaN,NaN,4.1727,NaN,NaN,...,2.3495,NaN,2.3858,NaN,NaN,NaN,NaN,NaN,2.46560,2.4801
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.1704,NaN,NaN,...,NaN,NaN,2.3857,NaN,NaN,NaN,NaN,NaN,2.46700,2.4811
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.3858,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data1 = testing_class.data['sample_matrix_temp'].interpolate(axis=1).replace(0, np.nan)

In [ ]:
data1

,0,1,2,3,4,5,6,7,8,9,...,179,180,181,182,183,184,185,186,187,188
0,4.1469,2.4526,1.386900,2.487400,1.9308,1.758600,1.699800,1.5262,2.71330,1.9640,...,6.354500,4.911000,7.067000,8.62815,10.18930,13.10710,10.56040,14.53100,14.71625,14.9015
1,4.1138,2.5911,1.483000,2.494700,1.9275,1.748300,1.670100,1.7592,2.70270,1.9598,...,6.366900,4.914900,7.056500,8.90670,10.32840,13.09080,10.57240,14.54330,15.92390,14.7769
2,4.1284,3.1927,1.568900,2.531900,1.9344,1.749800,1.673400,1.8910,2.69520,1.9596,...,5.659050,4.887200,7.054400,8.93200,9.66420,12.98220,10.55020,14.52120,15.85450,14.5661
3,4.1275,3.6632,1.730100,2.547400,1.9772,1.743900,1.641000,1.8334,2.65120,1.9592,...,6.369000,4.872400,7.036400,8.86090,9.50890,11.80660,10.46920,14.51300,15.42510,13.9168
4,4.1250,3.7182,1.847300,2.545600,2.0122,1.745500,1.614200,1.8398,2.61610,1.9613,...,6.370900,4.866900,7.035500,8.78560,9.76200,11.49140,10.24820,14.50660,14.99070,12.8571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,NaN,3.5335,3.640133,3.746767,3.8534,3.960033,4.066667,4.1733,3.19885,2.2244,...,2.348600,2.365467,2.382333,2.39920,2.41236,2.42552,2.43868,2.45184,2.46500,2.4800
140,NaN,3.5303,3.637367,3.744433,3.8515,3.958567,4.065633,4.1727,3.83690,3.5011,...,2.349500,2.367650,2.385800,2.39910,2.41240,2.42570,2.43900,2.45230,2.46560,2.4801
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.1704,3.83515,3.4999,...,2.346100,2.365900,2.385700,2.39925,2.41280,2.42635,2.43990,2.45345,2.46700,2.4811
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.435167,2.410484,2.385800,2.38580,2.38580,2.38580,2.38580,2.38580,2.38580,2.3858
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.790500,4.790500,4.790500,4.79050,4.79050,4.79050,4.79050,4.79050,4.79050,4.7905

In [ ]:
inter0_diff = pd.DataFrame(np.diff(data1, axis=1))
zero_diff = inter0_diff == 0
mask_diff = np.zeros_like(data1, dtype=bool)
mask_diff[1:] = zero_diff
data1[mask_diff] = np.nan
data1

ValueError: could not broadcast input array from shape (144,188) into shape (143,189)

In [ ]:
testing_class.data['sample_matrix_temp']

,0,1,2,3,4,5,6,7,8,9,...,179,180,181,182,183,184,185,186,187,188
0,4.1469,2.4526,1.3869,2.4874,1.9308,1.7586,1.6998,1.5262,2.7133,1.9640,...,6.3545,4.9110,7.0670,8.62815,10.1893,13.1071,10.5604,14.5310,14.71625,14.9015
1,4.1138,2.5911,1.4830,2.4947,1.9275,1.7483,1.6701,1.7592,2.7027,1.9598,...,6.3669,4.9149,7.0565,8.90670,10.3284,13.0908,10.5724,14.5433,15.92390,14.7769
2,4.1284,3.1927,1.5689,2.5319,1.9344,1.7498,1.6734,1.8910,2.6952,1.9596,...,NaN,4.8872,7.0544,8.93200,9.6642,12.9822,10.5502,14.5212,15.85450,14.5661
3,4.1275,3.6632,1.7301,2.5474,1.9772,1.7439,1.6410,1.8334,2.6512,1.9592,...,6.3690,4.8724,7.0364,8.86090,9.5089,11.8066,10.4692,14.5130,15.42510,13.9168
4,4.1250,3.7182,1.8473,2.5456,2.0122,1.7455,1.6142,1.8398,2.6161,1.9613,...,6.3709,4.8669,7.0355,8.78560,9.7620,11.4914,10.2482,14.5066,14.99070,12.8571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,NaN,3.5335,NaN,NaN,NaN,NaN,NaN,4.1733,NaN,2.2244,...,2.3486,NaN,NaN,2.39920,NaN,NaN,NaN,NaN,2.46500,2.4800
140,NaN,3.5303,NaN,NaN,NaN,NaN,NaN,4.1727,NaN,NaN,...,2.3495,NaN,2.3858,NaN,NaN,NaN,NaN,NaN,2.46560,2.4801
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.1704,NaN,NaN,...,NaN,NaN,2.3857,NaN,NaN,NaN,NaN,NaN,2.46700,2.4811
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.3858,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data1 = testing_class.data['sample_matrix_temp'].interpolate(axis=1).replace(0, np.nan)
inter0_diff = pd.DataFrame(np.diff(data1, axis=1))
zero_diff = inter0_diff == 0
mask_diff = np.zeros_like(data1, dtype=bool)
mask_diff[1:] = zero_diff
data1[mask_diff] = np.nan
data1

ValueError: could not broadcast input array from shape (144,188) into shape (143,189)

In [ ]:
data1 = testing_class.data['sample_matrix_temp'].interpolate(axis=1).replace(0, np.nan)
inter0_diff = pd.DataFrame(np.diff(data1, axis=1))
zero_diff = inter0_diff == 0

In [ ]:
zero_diff

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
140,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
141,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
142,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,True,True,True,True
143,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True

In [ ]:
inter0_diff

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
0,-1.6943,-1.065700,1.100500,-0.556600,-0.172200,-0.058800,-0.173600,1.18710,-0.74930,-0.60610,...,1.853900,-1.443500,2.156000,1.561150,1.56115,2.91780,-2.54670,3.97060,0.18525,0.18525
1,-1.5227,-1.108100,1.011700,-0.567200,-0.179200,-0.078200,0.089100,0.94350,-0.74290,0.38600,...,-0.513000,-1.452000,2.141600,1.850200,1.42170,2.76240,-2.51840,3.97090,1.38060,-1.14700
2,-0.9357,-1.623800,0.963000,-0.597500,-0.184600,-0.076400,0.217600,0.80420,-0.73560,0.22340,...,-0.771850,-0.771850,2.167200,1.877600,0.73220,3.31800,-2.43200,3.97100,1.33330,-1.28840
3,-0.4643,-1.933100,0.817300,-0.570200,-0.233300,-0.102900,0.192400,0.81780,-0.69200,0.22590,...,0.543100,-1.496600,2.164000,1.824500,0.64800,2.29770,-1.33740,4.04380,0.91210,-1.50830
4,-0.4068,-1.870900,0.698300,-0.533400,-0.266700,-0.131300,0.225600,0.77630,-0.65480,0.23230,...,0.741300,-1.504000,2.168600,1.750100,0.97640,1.72940,-1.24320,4.25840,0.48410,-2.13360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,NaN,0.106633,0.106633,0.106633,0.106633,0.106633,0.106633,-0.97445,-0.97445,0.30330,...,0.022800,0.016867,0.016867,0.016867,0.01316,0.01316,0.01316,0.01316,0.01316,0.01500
140,NaN,0.107067,0.107067,0.107067,0.107067,0.107067,0.107067,-0.33580,-0.33580,-0.33580,...,0.023300,0.018150,0.018150,0.013300,0.01330,0.01330,0.01330,0.01330,0.01330,0.01450
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.33525,-0.33525,-0.33525,...,0.019800,0.019800,0.019800,0.013550,0.01355,0.01355,0.01355,0.01355,0.01355,0.01410
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.024684,-0.024684,-0.024684,0.000000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000

In [ ]:
data1

,0,1,2,3,4,5,6,7,8,9,...,179,180,181,182,183,184,185,186,187,188
0,4.1469,2.4526,1.386900,2.487400,1.9308,1.758600,1.699800,1.5262,2.71330,1.9640,...,6.354500,4.911000,7.067000,8.62815,10.18930,13.10710,10.56040,14.53100,14.71625,14.9015
1,4.1138,2.5911,1.483000,2.494700,1.9275,1.748300,1.670100,1.7592,2.70270,1.9598,...,6.366900,4.914900,7.056500,8.90670,10.32840,13.09080,10.57240,14.54330,15.92390,14.7769
2,4.1284,3.1927,1.568900,2.531900,1.9344,1.749800,1.673400,1.8910,2.69520,1.9596,...,5.659050,4.887200,7.054400,8.93200,9.66420,12.98220,10.55020,14.52120,15.85450,14.5661
3,4.1275,3.6632,1.730100,2.547400,1.9772,1.743900,1.641000,1.8334,2.65120,1.9592,...,6.369000,4.872400,7.036400,8.86090,9.50890,11.80660,10.46920,14.51300,15.42510,13.9168
4,4.1250,3.7182,1.847300,2.545600,2.0122,1.745500,1.614200,1.8398,2.61610,1.9613,...,6.370900,4.866900,7.035500,8.78560,9.76200,11.49140,10.24820,14.50660,14.99070,12.8571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,NaN,3.5335,3.640133,3.746767,3.8534,3.960033,4.066667,4.1733,3.19885,2.2244,...,2.348600,2.365467,2.382333,2.39920,2.41236,2.42552,2.43868,2.45184,2.46500,2.4800
140,NaN,3.5303,3.637367,3.744433,3.8515,3.958567,4.065633,4.1727,3.83690,3.5011,...,2.349500,2.367650,2.385800,2.39910,2.41240,2.42570,2.43900,2.45230,2.46560,2.4801
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.1704,3.83515,3.4999,...,2.346100,2.365900,2.385700,2.39925,2.41280,2.42635,2.43990,2.45345,2.46700,2.4811
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.435167,2.410484,2.385800,2.38580,2.38580,2.38580,2.38580,2.38580,2.38580,2.3858
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.790500,4.790500,4.790500,4.79050,4.79050,4.79050,4.79050,4.79050,4.79050,4.7905

In [ ]:
inter0_diff

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
0,-1.6943,-1.065700,1.100500,-0.556600,-0.172200,-0.058800,-0.173600,1.18710,-0.74930,-0.60610,...,1.853900,-1.443500,2.156000,1.561150,1.56115,2.91780,-2.54670,3.97060,0.18525,0.18525
1,-1.5227,-1.108100,1.011700,-0.567200,-0.179200,-0.078200,0.089100,0.94350,-0.74290,0.38600,...,-0.513000,-1.452000,2.141600,1.850200,1.42170,2.76240,-2.51840,3.97090,1.38060,-1.14700
2,-0.9357,-1.623800,0.963000,-0.597500,-0.184600,-0.076400,0.217600,0.80420,-0.73560,0.22340,...,-0.771850,-0.771850,2.167200,1.877600,0.73220,3.31800,-2.43200,3.97100,1.33330,-1.28840
3,-0.4643,-1.933100,0.817300,-0.570200,-0.233300,-0.102900,0.192400,0.81780,-0.69200,0.22590,...,0.543100,-1.496600,2.164000,1.824500,0.64800,2.29770,-1.33740,4.04380,0.91210,-1.50830
4,-0.4068,-1.870900,0.698300,-0.533400,-0.266700,-0.131300,0.225600,0.77630,-0.65480,0.23230,...,0.741300,-1.504000,2.168600,1.750100,0.97640,1.72940,-1.24320,4.25840,0.48410,-2.13360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,NaN,0.106633,0.106633,0.106633,0.106633,0.106633,0.106633,-0.97445,-0.97445,0.30330,...,0.022800,0.016867,0.016867,0.016867,0.01316,0.01316,0.01316,0.01316,0.01316,0.01500
140,NaN,0.107067,0.107067,0.107067,0.107067,0.107067,0.107067,-0.33580,-0.33580,-0.33580,...,0.023300,0.018150,0.018150,0.013300,0.01330,0.01330,0.01330,0.01330,0.01330,0.01450
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.33525,-0.33525,-0.33525,...,0.019800,0.019800,0.019800,0.013550,0.01355,0.01355,0.01355,0.01355,0.01355,0.01410
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.024684,-0.024684,-0.024684,0.000000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000

In [ ]:
inter0_diff.describe()

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
count,120.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,142.000000,142.000000,142.000000,...,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000
mean,-0.211130,-0.465448,-0.269929,-0.356914,-0.216793,-0.106455,-0.299631,-0.098962,-0.298382,0.030154,...,0.083242,-0.013206,0.501486,0.211436,0.641593,0.198487,0.028696,0.525695,-0.172573,-0.144131
std,0.318362,0.598134,0.495488,0.428011,0.337471,0.255252,0.571109,0.484077,0.248153,0.522307,...,0.373296,0.434468,0.737120,0.430400,0.957145,0.579015,0.711479,1.109747,0.892004,0.534668
min,-1.694300,-1.933100,-1.373600,-1.285400,-1.015600,-0.822900,-1.536700,-1.375400,-0.974450,-0.606100,...,-0.771850,-1.850800,-0.024684,-0.298600,-0.030000,-0.577900,-2.546700,-0.832700,-2.640000,-2.133600
25%,-0.375575,-0.871100,-0.493000,-0.570200,-0.504500,-0.224400,-0.683100,-0.201400,-0.530075,-0.083000,...,-0.001125,0.013675,0.020950,-0.007400,0.012688,0.008225,0.011945,-0.011925,-0.150875,-0.229200
50%,-0.176600,-0.434100,-0.083900,-0.233400,-0.233300,-0.055600,-0.084900,0.038450,-0.255750,-0.008100,...,0.022100,0.022150,0.127550,0.011625,0.046550,0.019150,0.035400,0.008850,0.025100,0.008100
75%,0.012150,0.078600,0.001600,-0.007000,0.105100,0.043400,0.092800,0.152000,-0.089175,0.044850,...,0.038050,0.159500,0.838850,0.384200,0.810650,0.115225,0.260850,0.362950,0.073375,0.023900
max,0.294000,0.261600,1.100500,0.107067,0.275000,0.388000,0.507800,1.187100,0.109700,5.943700,...,1.985300,0.627900,2.926500,1.877600,2.800400,3.318000,2.107100,4.294000,1.380600,0.823300

In [ ]:
inter0_diff.abs().describe()

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
count,120.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,142.000000,142.000000,142.000000,...,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000,144.000000
mean,0.278122,0.561965,0.376226,0.386613,0.328585,0.195685,0.450749,0.328482,0.302889,0.144991,...,0.152264,0.206519,0.501829,0.248791,0.642211,0.273158,0.417246,0.601616,0.517584,0.324544
std,0.261349,0.507831,0.419921,0.401190,0.229089,0.194939,0.460391,0.368141,0.242592,0.502542,...,0.350687,0.382086,0.736885,0.409795,0.956727,0.547534,0.575951,1.070212,0.745584,0.448021
min,0.006000,0.002400,0.001000,0.005500,0.000800,0.000200,0.002500,0.000000,0.008400,0.000700,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.115500,0.163100,0.042900,0.068900,0.150700,0.045200,0.090300,0.078200,0.090325,0.021700,...,0.021550,0.017725,0.021200,0.011538,0.012888,0.013283,0.030625,0.009800,0.032125,0.016125
50%,0.196000,0.434100,0.151800,0.233400,0.263600,0.130100,0.259600,0.170550,0.255750,0.058350,...,0.031300,0.026375,0.127550,0.045900,0.046550,0.067500,0.082300,0.041550,0.085050,0.071850
75%,0.375575,0.871100,0.757100,0.570200,0.504500,0.278300,0.683100,0.469000,0.530075,0.163825,...,0.122875,0.207950,0.838850,0.384200,0.810650,0.285600,0.624025,0.462775,0.792525,0.570050
max,1.694300,1.933100,1.373600,1.285400,1.015600,0.822900,1.536700,1.375400,0.974450,5.943700,...,1.985300,1.850800,2.926500,1.877600,2.800400,3.318000,2.546700,4.294000,2.640000,2.133600

In [ ]:
testing_class.data['sample_matrix_temp']

,0,1,2,3,4,5,6,7,8,9,...,179,180,181,182,183,184,185,186,187,188
0,4.1469,2.4526,1.3869,2.4874,1.9308,1.7586,1.6998,1.5262,2.7133,1.9640,...,6.3545,4.9110,7.0670,8.62815,10.1893,13.1071,10.5604,14.5310,14.71625,14.9015
1,4.1138,2.5911,1.4830,2.4947,1.9275,1.7483,1.6701,1.7592,2.7027,1.9598,...,6.3669,4.9149,7.0565,8.90670,10.3284,13.0908,10.5724,14.5433,15.92390,14.7769
2,4.1284,3.1927,1.5689,2.5319,1.9344,1.7498,1.6734,1.8910,2.6952,1.9596,...,NaN,4.8872,7.0544,8.93200,9.6642,12.9822,10.5502,14.5212,15.85450,14.5661
3,4.1275,3.6632,1.7301,2.5474,1.9772,1.7439,1.6410,1.8334,2.6512,1.9592,...,6.3690,4.8724,7.0364,8.86090,9.5089,11.8066,10.4692,14.5130,15.42510,13.9168
4,4.1250,3.7182,1.8473,2.5456,2.0122,1.7455,1.6142,1.8398,2.6161,1.9613,...,6.3709,4.8669,7.0355,8.78560,9.7620,11.4914,10.2482,14.5066,14.99070,12.8571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,NaN,3.5335,NaN,NaN,NaN,NaN,NaN,4.1733,NaN,2.2244,...,2.3486,NaN,NaN,2.39920,NaN,NaN,NaN,NaN,2.46500,2.4800
140,NaN,3.5303,NaN,NaN,NaN,NaN,NaN,4.1727,NaN,NaN,...,2.3495,NaN,2.3858,NaN,NaN,NaN,NaN,NaN,2.46560,2.4801
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.1704,NaN,NaN,...,NaN,NaN,2.3857,NaN,NaN,NaN,NaN,NaN,2.46700,2.4811
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.3858,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
testing_class.data['sample_matrix_temp'].loc[140,181]

2.3858

In [ ]:
testing_class.data['sample_matrix_temp'].loc[140,181] - testing_class.data['sample_matrix_temp'].loc[141,181]

0.00010000000000021103

In [ ]:
import sys
import joblib
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import Intrusion_analysis as INT
import numpy as np
import pandas as pd
from datetime import datetime

# Test Arguments
file_name = 'profile_dataset_sample.pkl'
path_data = './mock_data/'
file_dirpath = path_data + file_name

# Initialize class
testing_class = INT.Intrusions(file_dirpath)
manual_intrusion_input = './mock_data/manualID_MID_sample.pkl'
intrusion_dates = INT.import_joblib(manual_intrusion_input)
testing_class.manualID_dates = intrusion_dates

data = testing_class.data['sample_matrix_temp']
inter0_diff = pd.DataFrame(np.diff(data, axis=0))
zero_diff = inter0_diff == 0.001
mask_diff = np.zeros_like(data, dtype=bool)
mask_diff[1:] = zero_diff
data[mask_diff] = np.nan
data

------ Importing Data

,0,1,2,3,4,5,6,7,8,9,...,179,180,181,182,183,184,185,186,187,188
0,4.1469,2.4526,1.3869,2.4874,1.9308,1.7586,1.6998,1.5262,2.7133,1.9640,...,6.3545,4.9110,7.0670,8.62815,10.1893,13.1071,10.5604,14.5310,14.71625,14.9015
1,4.1138,2.5911,1.4830,2.4947,1.9275,1.7483,1.6701,1.7592,2.7027,1.9598,...,6.3669,4.9149,7.0565,8.90670,10.3284,13.0908,10.5724,14.5433,15.92390,14.7769
2,4.1284,3.1927,1.5689,2.5319,1.9344,1.7498,1.6734,1.8910,2.6952,1.9596,...,6.3669,4.8872,7.0544,8.93200,9.6642,12.9822,10.5502,14.5212,15.85450,14.5661
3,4.1275,3.6632,1.7301,2.5474,1.9772,1.7439,1.6410,1.8334,2.6512,1.9592,...,6.3690,4.8724,7.0364,8.86090,9.5089,11.8066,10.4692,14.5130,15.42510,13.9168
4,4.1250,3.7182,1.8473,2.5456,2.0122,1.7455,1.6142,1.8398,2.6161,1.9613,...,6.3709,4.8669,7.0355,8.78560,9.7620,11.4914,10.2482,14.5066,14.99070,12.8571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,3.7253,3.5335,3.7098,3.7951,3.8599,4.1200,4.1416,4.1733,2.7919,2.2244,...,2.3486,2.3693,2.3856,2.39920,2.4094,2.4228,2.4388,2.4527,2.46500,2.4800
140,3.7253,3.5303,3.7098,3.7951,3.8599,4.1200,4.1416,4.1727,2.7919,2.2244,...,2.3495,2.3693,2.3858,2.39920,2.4094,2.4228,2.4388,2.4527,2.46560,2.4801
141,3.7253,3.5303,3.7098,3.7951,3.8599,4.1200,4.1416,4.1704,2.7919,2.2244,...,2.3495,2.3693,2.3857,2.39920,2.4094,2.4228,2.4388,2.4527,2.46700,2.4811
142,3.7253,3.5303,3.7098,3.7951,3.8599,4.1200,4.1416,4.1704,2.7919,2.2244,...,2.3495,2.3693,2.3858,2.39920,2.4094,2.4228,2.4388,2.4527,2.46700,2.4811
143,3.7253,3.5303,3.7098,3.7951,3.8599,4.1200,4.1416,4.1704,2.7919,2.2244,...,2.3495,2.3693,2.3858,2.39920,2.4094,2.4228,2.4388,2.4527,2.46700,2.4811

In [ ]:
import sys
import joblib
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import Intrusion_analysis as INT
import numpy as np
import pandas as pd
from datetime import datetime

# Test Arguments
file_name = 'profile_dataset_sample.pkl'
path_data = './mock_data/'
file_dirpath = path_data + file_name

# Initialize class
testing_class = INT.Intrusions(file_dirpath)
manual_intrusion_input = './mock_data/manualID_MID_sample.pkl'
intrusion_dates = INT.import_joblib(manual_intrusion_input)
testing_class.manualID_dates = intrusion_dates

data = testing_class.data['sample_matrix_temp']
inter0_diff = pd.DataFrame(np.diff(data, axis=0))
zero_diff = inter0_diff < 0.001
mask_diff = np.zeros_like(data, dtype=bool)
mask_diff[1:] = zero_diff
data[mask_diff] = np.nan
data

------ Importing Data

,0,1,2,3,4,5,6,7,8,9,...,179,180,181,182,183,184,185,186,187,188
0,4.1469,2.4526,1.3869,2.4874,1.9308,1.7586,1.6998,1.5262,2.7133,1.9640,...,6.3545,4.9110,7.067,8.62815,10.1893,13.1071,10.5604,14.5310,14.71625,14.9015
1,NaN,2.5911,1.4830,2.4947,NaN,NaN,NaN,1.7592,NaN,NaN,...,6.3669,4.9149,NaN,8.90670,10.3284,NaN,10.5724,14.5433,15.92390,NaN
2,4.1284,3.1927,1.5689,2.5319,1.9344,1.7498,1.6734,1.8910,NaN,NaN,...,NaN,NaN,NaN,8.93200,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3.6632,1.7301,2.5474,1.9772,NaN,NaN,NaN,NaN,NaN,...,6.3690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,3.7182,1.8473,NaN,2.0122,1.7455,NaN,1.8398,NaN,1.9613,...,6.3709,NaN,NaN,NaN,9.7620,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.39920,NaN,NaN,NaN,NaN,NaN,2.4800
140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.46700,NaN
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import sys
import joblib
sys.path.append(r'D:\Projects\Intrusion_Redo\SRC')
import Intrusion_analysis as INT
import numpy as np
import pandas as pd
from datetime import datetime

# Test Arguments
file_name = 'profile_dataset_sample.pkl'
path_data = './mock_data/'
file_dirpath = path_data + file_name

# Initialize class
testing_class = INT.Intrusions(file_dirpath)
manual_intrusion_input = './mock_data/manualID_MID_sample.pkl'
intrusion_dates = INT.import_joblib(manual_intrusion_input)
testing_class.manualID_dates = intrusion_dates

data = testing_class.data['sample_matrix_temp']
inter0_diff = pd.DataFrame(np.diff(data, axis=0))
zero_diff = inter0_diff < 0.0005
mask_diff = np.zeros_like(data, dtype=bool)
mask_diff[1:] = zero_diff
data[mask_diff] = np.nan
data

------ Importing Data

,0,1,2,3,4,5,6,7,8,9,...,179,180,181,182,183,184,185,186,187,188
0,4.1469,2.4526,1.3869,2.4874,1.9308,1.7586,1.6998,1.5262,2.7133,1.9640,...,6.3545,4.9110,7.067,8.62815,10.1893,13.1071,10.5604,14.5310,14.71625,14.9015
1,NaN,2.5911,1.4830,2.4947,NaN,NaN,NaN,1.7592,NaN,NaN,...,6.3669,4.9149,NaN,8.90670,10.3284,NaN,10.5724,14.5433,15.92390,NaN
2,4.1284,3.1927,1.5689,2.5319,1.9344,1.7498,1.6734,1.8910,NaN,NaN,...,NaN,NaN,NaN,8.93200,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3.6632,1.7301,2.5474,1.9772,NaN,NaN,NaN,NaN,NaN,...,6.3690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,3.7182,1.8473,NaN,2.0122,1.7455,NaN,1.8398,NaN,1.9613,...,6.3709,NaN,NaN,NaN,9.7620,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.3486,NaN,NaN,2.39920,NaN,NaN,NaN,NaN,2.46500,2.4800
140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.3495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.46560,NaN
141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.46700,2.4811
142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN